@{layout('/layouts/company_layout')}


<div class="freedom-background">
    <img src="img/freedom.png">
    <div class="white-dice">
        <img src="img/white-dice.png">
        <div class="text-white-dice-comtainer">
            <div class="border-text-white-dice">
                <span>FREEDOM</span>
            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="enter-container">
        <div class="enter-tit">
            <span>
                САМАЯ БОЛЬШАЯ СЕТЬ<br>
                ЭЛИТНЫХ САЛОНОВ<br>
                В УКРАИНЕ
            </span>
        </div>
        <div class="enter">
            <span>
                Компания FREEDOM является официальным представителем в Украине элитных итальянских немецких фабрик мебели,<br>
                света, сантехники, дверей и т.д. Работая на украинском рынке уже десять лет, компания успешно расширяет сферу своей деятельности.
            </span>
        </div>
    </div>
    <div class="img-block-1">
        <img src="img/freedom-page-1.png">
    </div>
    <div class="text-block-1">
        <span class="tit">
            FREEDOM - ЭТО:
        </span>
        <span class="text-1">
            Компания FREEDOM является официальным представителемв Украине<br>
            элитныхитальянских и немецких фабрик мебели, света, сантехники,<br>
            плитки, дверей и декора. Работая на украинском рынке с 2004 года, <br>
            компания успешно расширяет сферу своей деятельности.<br>
        </span>
        <ul type="square">
            <li><span>10 Шоу-румов</span></li>
            <li><span>Киев.Харьков.Днепр</span></li>
            <li><span>3 Шоу-рума готовящихся к открытию</span></li>
            <li><span>15 000 проектов</span></li>
            <li><span>3 Шоу-рума готовящихся к открытию</span></li>
            <li><span>15 000 проектов</span></li>
        </ul>
    </div>
    <div class="img-block-2">
        <img src="img/freedom-page-2.png">
    </div>
    <div class="img-block-3">
        <img src="img/freedom-page-3.png">
    </div>
    <div class="text-block-2">
        <span>
            На сегодняшний день FREEDOM - это сеть элитных интерьер салонов VIP<br>
            класса в Киеве, Харькове, Днепропетровске. Мы предлагаем высокий<br>
            уровень обслуживания, располагающий к доверительному отношению<br>
            с клиентами и архитекторами, любые нестандартные мебельные<br>
            конструкции из Италии, Гремании и Испании, богатый ассортимент в<br>
            наличии в салонах, а так же более 1000 фабрик в каталожной версии. В<br>
            широком ассортименте представлены итальянская мягкая мебель,<br>
            спальни, кухни, гостинные кабинеты и библиотеки, а также детская и<br>
            молодежная мебель всех стилей и направлений. У нас самая широкая<br>
            элементная база и большой выбор цветовых решений.<br>
            <br>
            Мы предлагаем не просто предметы наполнения помещения, а<br>
            воплощаем концепцию решения всего интерьера, включая все его<br>
            составляющие; мягкую и корпусную мебель, кухни, люстры и<br>
            светильники, ковры, двери, обои, шторы, гардиныпостельное белье,<br>
            сантехнику, плитку, смесители, мозаику, декоративные аксессуары и<br>
            многое другое.<br>
        </span>
    </div>
    <div class="text-block-3">
        <span>
            Кроме профессионально подобранного ассортимента наши салоны<br>
            отличает высокий уровень обслуживания и индивидуальный подход к<br>
            каждому клиенту, гибкая система скидок: одноразовых и<br>
            накопительных, а также возможность приобрести мебель по вашим<br>
            размерам и особенностям интерьера: в наличии и под заказ. А также<br>
            возможность ускорения сроков исполнения заказов и гарантийное <br>
            обслуживание мебели.<br>
            <br>
            Компания FREEDOM всегда рада встрече со своими клиентами, чтобы<br>
            предложить им самые лучшие условия работы.<br>
        </span>
    </div>
    <div class="text-block-center">
        <span>
            "Все эти безделушки, все этимодные предметы роскоши - <br>
            вовсе не чепуха, вовсе не выдумка корыстных фабрикантов и<br>
            торговцев, а полноправный, прекрасный, разнообразный <br>
            маленький, или, вернее, большой мир вещей, имеющих одну<br>
            единственную цель - служить любви, обострять чувства, <br>
            оживлять мертвую окружающую среду, волшебно наделяя ее<br>
            новыми органами любви ..."*<br>
            *(Герман Гессе, Степной волк)<br>
        </span>
    </div>
</div>
