@{layout('/layouts/company_layout')}

<section class="board">
    <span class="breadcrumbs">Главная / О компании</span>
    <img src="img/about_company/title_cover.png">
    <div class="board-cover"><h2>FREEDOM</h2></div>
</section>
<section class="title">
    <h1>САМАЯ БОЛЬШАЯ СЕТЬ ЭЛИТАРНЫХ САЛОНОВ В УКРАИНЕ</h1>
    <p class="base_text">Компания FREEDOM является официальным представителем в Украине элитных итальянских и немецких фабрик мебели,<br> света, сантехники,
        дверей и т.д. Работая на украинском рынке уже десять лет, компания успешно расширяет сферу своей деятельности.</p>
    <hr>
</section>
<section class="content">
    <div><img class="img_logo" src="img/about_company/logo.png"></div>
    <div class="content__freedom">
        <span>FREEDOM—ЭТО:</span>
        <p class="base_text">Компания FREEDOM является официальным представителем в Украине элитных итальянских и немецких фабрик мебели, света,
            сантехники, плитки, дверей и декора. Работая на украинском рынке с 2004 года, компания успешно расширяет сферу
            своей деятельности.</p>
        <ul class="content__freedom_info">
            <li><span>10 Шоу—румов</span></li>
            <li><span>Киев.Харьков.Днепр</span></li>
            <li><span>3 Шоу—рума готовящихся к открытию</span></li>
            <li><span>15 000 проектов</span></li>
            <li><span>3 Шоу—рума готовящихся к открытию</span></li>
            <li><span>15 000 проектов</span></li>
        </ul>
    </div>
    <div><img class="img_shop" src="img/about_company/shop.png"></div>
    <div><img class="img_inner" src="img/about_company/inner.png"></div>
    <div class="text_left">
        <p class="base_text">На сегодняшний день FREEDOM - это сеть элитных интерьер салонов VIP класса в Киеве, Харькове и Днепропетровске. Мы
            предлагаем высокий уровень обслуживания, располагающий к доверительному отношению с клиентами и архитекторами,
            любые нестандартные мебельные конструкции из Италии, Германии и Испании, богатый ассортимент в наличии в салонах,
            а так же более 1000 фабрик в каталожной версии. В широком ассортименте представлены итальянская мягкая мебель,
            спальни, кухни, гостиные кабинеты и библиотеки, а также детская и молодежная мебель всех стилей и направлений.
            У нас самая широкая элементная база и большой выбор цветовых решений.<br><br></p>
        <p class="base_text">Мы предлагаем не просто предметы наполнения помещения, а воплощаем концепцию решения всего интерьера, включая все
            его составляющие; мягкую и корпусную мебель, кухни, люстры и светильники, ковры, двери, обои, шторы, гардины,
            постельное белье, сантехнику, плитку, смесители, мозаику, декоративные аксессуары и многое другое.</p>
    </div>
    <div class="text_right">
        <p class="base_text">Кроме профессионально подобранного ассортимента наши салоны отличает высокий уровень обслуживания и индивидуальный
            подход к каждому клиенту, гибкая система скидок: одноразовых и накопительных, а также возможность приобретения
            мебели по вашим размерам и особенностям интерьера: в наличии и под заказ. А также возможности ускорения сроков
            исполнения заказов и гарантийное обслуживание мебели.<br><br></p>
        <p class="base_text">Компания FREEDOM всегда рада встрече со своими клиентами, чтобы предложить им самые лучшие условия работы.</p>
    </div>
</section>
<section class="annotation">
    <hr>
    <p class="gesse">«Все эти безделушки, все эти модные предметы роскоши – вовсе не чепуха, вовсе не выдумка корыстных фабрикантов и торговцев,
        а полноправный, прекрасный, разнообразный маленький, или, вернее, большой мир вещей, имеющих одну единственную цель
        – служить любви, обострять чувства, оживлять мертвую окружающую среду, волшебно наделяя ее новыми органами любви…»*<br>
        *(Герман Гессе, Степной волк)</p>
    <hr>
</section>