@{layout('/layouts/idea-list_layout')}

<section class="new-ideas">
    <div class="new-ideas_top">
        <span class="category">ИДЕИ ДЛЯ ДОМА</span>
        <img src="img/ideas_covers/1.png">
        <span class="idea__title_main">10 ПРОСТЫХ ИДЕЙ ДЛЯ<br>НОВОГОДНЕГО ДЕКОРА</span>
        <p class="idea__description">До новогодних и рождественских<br>праздников осталось совсем <br>чуть-чуть, так что всем, кто еще не <br>успел или не придумал, как украсить</p>
        <a href='/idea-for-home/one' class="idea__link">ЧИТАТЬ БОЛЬШЕ</a>
    </div>
    <div class="new-ideas_container">
        <div class="new-ideas_element idea1">
            <a href="#" class="idea__link_global">
            <img src="img/ideas_covers/2.png">
            <span class="idea__title">СОЗДАНИЕ ГЕОМЕТРИЧЕСКИХ РАБОТ</span>
            <p class="idea__description">До новогодних и рождественских праздников осталось совсем чуть-чуть, так что всем, кто еще не успел или не придумал,
                как украсить</p>
            <span class="idea__link">ЧИТАТЬ БОЛЬШЕ</span></a>
            
        </div>
        <div class="new-ideas_element idea2">
            <a href="#" class="idea__link_global">
            <img src="img/ideas_covers/3.png">
            <span class="idea__title">БЕЛЫЕ КОРОЛИ</span>
            <p class="idea__description">До новогодних и рождественских праздников осталось совсем чуть-чуть, так что всем, кто еще не успел или не придумал,
                как украсить</p>
            <span class="idea__link">ЧИТАТЬ БОЛЬШЕ</span></a>
            
        </div>
        <div class="new-ideas_element idea3">
            <a href="#" class="idea__link_global">
            <img src="img/ideas_covers/4.png">
            <span class="idea__title">СОЗДАНИЕ ГЕОМЕТРИЧЕСКИХ РАБОТ</span>
            <p class="idea__description">До новогодних и рождественских праздников осталось совсем чуть-чуть, так что всем, кто еще не успел или не придумал,
                как украсить</p>
            <span class="idea__link">ЧИТАТЬ БОЛЬШЕ</span></a>
            
        </div>
        <div class="new-ideas_element idea4">
            <a href="#" class="idea__link_global">
            <img src="img/ideas_covers/5.png">
            <span class="idea__title">В ПРОСТОТЕ ВСЯ СИЛА</span>
            <p class="idea__description">До новогодних и рождественских праздников осталось совсем чуть-чуть, так что всем, кто еще не успел или не придумал,
                как украсить</p>
            <span class="idea__link">ЧИТАТЬ БОЛЬШЕ</span></a>
            
        </div>
        <div class="new-ideas_element idea5">
            <a href="#" class="idea__link_global">
            <img src="img/ideas_covers/6.png">
            <span class="idea__title">СОЗДАНИЕ ГЕОМЕТРИЧЕСКИХ РАБОТ</span>
            <p class="idea__description">До новогодних и рождественских праздников осталось совсем чуть-чуть, так что всем, кто еще не успел или не придумал,
                как украсить</p>
            <span class="idea__link">ЧИТАТЬ БОЛЬШЕ</span></a>
            
        </div>
        <div class="new-ideas_element idea6">
            <a href="#" class="idea__link_global">
            <img src="img/ideas_covers/7.png">
            <span class="idea__title">В ПРОСТОТЕ ВСЯ СИЛА</span>
            <p class="idea__description">До новогодних и рождественских праздников осталось совсем чуть-чуть, так что всем, кто еще не успел или не придумал,
                как украсить</p>
            <span class="idea__link">ЧИТАТЬ БОЛЬШЕ</span></a>
            
        </div>
    </div>
</section>
<section class="more-ideas">
    <h2>БОЛЬШЕ ИДЕЙ</h2>
    <div class="more-ideas__container">
        <div class="more-ideas_item">
            <img src="img/ideas_covers/cover_idea.png">
            <a href="#">ТЕПЛО, ЕЩЕ ТЕПЛЕЕ. 10 ИДЕЙ НОВОГОДНЕГО ОФОРМЛЕНИЯ КАМИНА</a>
        </div>
        <div class="more-ideas_item">
            <img src="img/ideas_covers/cover_idea.png">
            <a href="#">ТЕПЛО, ЕЩЕ ТЕПЛЕЕ. 10 ИДЕЙ НОВОГОДНЕГО ОФОРМЛЕНИЯ КАМИНА</a>
        </div>
        <div class="more-ideas_item">
            <img src="img/ideas_covers/cover_idea.png">
            <a href="#">ТЕПЛО, ЕЩЕ ТЕПЛЕЕ. 10 ИДЕЙ НОВОГОДНЕГО ОФОРМЛЕНИЯ КАМИНА</a>
        </div>
        <div class="more-ideas_item">
            <img src="img/ideas_covers/cover_idea.png">
            <a href="#">ТЕПЛО, ЕЩЕ ТЕПЛЕЕ. 10 ИДЕЙ НОВОГОДНЕГО ОФОРМЛЕНИЯ КАМИНА</a>
        </div>
        <div class="more-ideas_item">
            <img src="img/ideas_covers/cover_idea.png">
            <a href="#">ТЕПЛО, ЕЩЕ ТЕПЛЕЕ. 10 ИДЕЙ НОВОГОДНЕГО ОФОРМЛЕНИЯ КАМИНА</a>
        </div>
        <div class="more-ideas_item">
            <img src="img/ideas_covers/cover_idea.png">
            <a href="#">ТЕПЛО, ЕЩЕ ТЕПЛЕЕ. 10 ИДЕЙ НОВОГОДНЕГО ОФОРМЛЕНИЯ КАМИНА</a>
        </div>
    </div>
</section>