@{layout('/layouts/main_layout')}

<head>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeCVF0-LF2T75pmOVD9nc33Gv7KTO9o1g"></script>
</head>

<section class="new-products">
    <h2>НОВОЕ</h2>
    <div class="new-products__carousel">
        <div class="new-products__carousel_item">
            @{foreach product in model.products}
            <div class="product-item_container">
                <div class="product-item">
                    <div id="content_@{product.id}" class="product-item__main-content">
                        <span class="product-item__main-content_heart">
                        <span class="heart" onclick="favoriteActions(@{product.id}, this)" onload="markSelected(@{product.id}, this)"></span>
                        </span>
                        <span class="product-item__main-content_info" onclick="toggle_visibility(@{product.id})">
                        <span class="info_img"></span>
                        </span>
                        <a href="/product/@{product.id}"><img src="@{product.title_img_src}"></a>
                        <hr />
                        <h4>@{product.name}</h4>
                        <h6>@{product.manufacturer}</h6>
                        <h5>@{product.price}</h5>
                    </div>
                    <div id="description_@{product.id}" class="product-item__description">
                        <span class="product-item__main-content_close_info" onclick="toggle_visibility(@{product.id})">
                            <img src="img/cross.png" />
                        </span>
                        <h4>@{product.name}</h4>
                        <h6>@{product.manufacturer}</h6>
                        <p>@{product.description}</p>
                    </div>
                </div>
            </div>
            @{end}
        </div>
    </div>
</section>
<!--End Carousel-->
<section class="first-outlet">
    <a href="/products/all">
            <img src="img/categories/first-outlet.png">
        </a>
</section>
<!--End First-outlet-->
<section class="categories">
    <h2>КАТЕГОРИИ</h2>
    <div class="categories__grid">

        <a href="/products/soft" class="categories__soft">
            <h3>Мягкая мебель</h3>
            <div class="grow">
                <img src="img/categories/soft-furnishings.png">
            </div>
        </a>

        <a href="/products/bedroom" class="categories__bedroom">
            <h3>Спальни</h3>
            <div class="grow sq">
                <img src="img/categories/bedroom.png">
            </div>
        </a>

        <a href="/products/living" class="categories__living">
            <h3>Гостиные</h3>
            <div class="grow sq">
                <img src="img/categories/living-room.png">
            </div>
        </a>

        <a href="/products/dining" class="categories__dining">
            <h3>Столовые</h3>
            <div class="grow sq">
                <img src="img/categories/dining-room.png">
            </div>
        </a>

        <a href="/products/kitchen" class="categories__kitchen">
            <h3>Кухни</h3>
            <div class="grow">
                <img src="img/categories/kitchen.png">
            </div>
        </a>

        <a href="/products/accessories" class="categories__accessories">
            <h3>Аксессуары</h3>
            <div class="grow sq">
                <img src="img/categories/accessories.png">
            </div>
        </a>

        <a href="/products/chandeliers" class="categories__chandeliers">
            <h3>Люстры</h3>
            <div class="grow">
                <img src="img/categories/chandeliers.png">
            </div>
        </a>

        <a href="/products/sanitary" class="categories__sanitary">
            <h3>Сантехника</h3>
            <div class="grow">
                <img src="img/categories/sanitary.png">
            </div>
        </a>

    </div>
</section>
<!--End Categories-->
<section class="about">
    <h2>О НАС</h2>
    <div class="about__content">
        <article class="about__item">
            <a href="/about">
                <div class="about__item_img grow">
                    <img src="img/about_img1.png">
                    <div class="about__item_text">
                        <span>О КОМПАНИИ</span>
                    </div>
                </div>
            </a>
            <p class="fulljustify-top">
                Салон элитных итальянских кухонь в ARDE предлагает
            </p>
            <p class="fulljustify-bottom">
                богатый ассортимент стильных гарнитуров от лучших
            </p>
            <a href="/about">
                <div class="about__item_all">ЧИТАТЬ ВСЕ</div>
            </a>
        </article>
        <article class="about__item">
            <a href="/idea-for-home">
                <div class="about__item_img grow">
                    <img src="img/about_img2.png">
                    <div class="about__item_text">
                        <span>ИДЕИ ДЛЯ ДОМА</span>
                    </div>
                </div>
            </a>
            <p class="fulljustify-top">
                Салон элитных итальянских кухонь в ARDE предлагает
            </p>
            <p class="fulljustify-bottom">
                богатый ассортимент стильных гарнитуров от лучших
            </p>
            <a href="/idea-for-home">
                <div class="about__item_all">ЧИТАТЬ ВСЕ</div>
            </a>
        </article>
    </div>
</section>
<!--End About-->
<section class="contacts">
    <h2>КОНТАКТЫ</h2>
    <div class="contacts__cities">
        <h4>КИЕВ</h4>
        <h4> </h4>
        <h4>ХАРЬКОВ</h4>
        <h4>ДНЕПР</h4>


        <div class="kyiv1">
            <p>@{model.shops.kyiv1}</p>
            <p>@{model.shops.kyiv2}</p>
            <p>@{model.shops.kyiv3}</p>
            <p>@{model.shops.kyiv4}</p>
            <p>@{model.shops.kyiv5}</p>
        </div>
        <div class="kyiv2">
            <p>@{model.shops.kyiv6}</p>
            <p>@{model.shops.kyiv7}</p>
            <p>@{model.shops.kyiv8}</p>
            <p>@{model.shops.kyiv9}</p>
            <p>@{model.shops.kyiv10}</p>
        </div>
        <div class="kharkiv1">
            <p>@{model.shops.kharkiv1}</p>
            <p>@{model.shops.kharkiv2}</p>
            <p>@{model.shops.kharkiv3}</p>
            <p>@{model.shops.kharkiv4}</p>
            <p>@{model.shops.kharkiv5}</p>
        </div>
        <div class="dnepr1">
            <p>@{model.shops.dnepr1}</p>
            <p>@{model.shops.dnepr2}</p>
            <p>@{model.shops.dnepr3}</p>
            <p>@{model.shops.dnepr4}</p>
            <p>@{model.shops.dnepr5}</p>
        </div>
    </div>
</section>
<!--End Contacts-->
<section class="map">
    <img id="img_map" src="img/map.png">
    <div id="map_c" style="position: fixed;"><div id="map"></div></div>
</section>
<!--End Map-->
<section class="feedback">
    <h2>СВЯЖИТЕСЬ С НАМИ</h2>
    <form id="mail-form" action="/mail/send" method="post" name="mailForm" onsubmit="return validate_mail_Form()">
        <input class="feedback-input" type="text" name="name" placeholder="ИМЯ" value="" />
        <input id="tel" class="feedback-input" type="text" name="phone" placeholder="+38 (000) 000 00 00" value="" />
        <textarea class="feedback-textarea" name="message" placeholder="СООБЩЕНИЕ" value=""></textarea>
        <button id="mail-send" class="feedback-button" type="submit">ОТПРАВИТЬ СООБЩЕНИЕ</button>
    </form>
</section>
<!--End Feedback-->