@{layout('/admin/admin_layout')}
<head>
    @{import('http://code.jquery.com/jquery-1.11.0.min.js')}
    @{import('product_client.js')}
    @{import('temp_style.css')}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>
<!--<form enctype="multipart/form-data" id="create-product-form" action="#" >-->
<input id="immages" type="hidden" style="" value="@{model.immages}" />
<form id="create-product-form" method="POST" enctype="multipart/form-data" action="/products/update">
    <input type="hidden" name="id" value="@{model.product.id}" />
    <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
        <div class="mdl-cell mdl-cell--3-col">
            <div class="create-product mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" name="name" value="@{model.product.name}">
                <label class="mdl-textfield__label" for="sample1">Name</label>
            </div>
            <div class="create-product mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" name="manufacturer" value="@{model.product.manufacturer}">
                <label class="mdl-textfield__label" for="sample1">Manufacturer</label>
            </div>
            <div class="create-product mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" name="manufacturer_country" value="@{model.product.manufacturer_country}">
                <label class="mdl-textfield__label" for="sample1">Manufacturer Country</label>
            </div>
            <div class="create-product mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" name="series" value="@{model.product.series}">
                <label class="mdl-textfield__label" for="sample1">Series</label>
            </div>
            <div class="create-product mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" name="dimensions" value="@{model.product.dimensions}">
                <label class="mdl-textfield__label" for="sample1">Dimensios</label>
            </div>
            <div class="create-product mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" name="price" value="@{model.product.price}">
                <label class="mdl-textfield__label" for="sample2">Price</label>
                <span class="mdl-textfield__error">Input is not a number!</span>
            </div>
            <div class="create-product mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" name="discount" value="@{model.product.discount}">
                <label class="mdl-textfield__label" for="sample2">Discount</label>
                <span class="mdl-textfield__error">Input is not a number!</span>
            </div>
            <div class="create-product mdl-textfield mdl-js-textfield">
                <textarea class="mdl-textfield__input" type="text" name="description">@{model.product.description}</textarea>
                <label class="mdl-textfield__label" for="sample5">Description</label>
            </div>
            <button id="edit-product" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                Edit
            </button>
        </div>
        <div class="mdl-cell mdl-cell--3-col">
            <div class="outlet-card-image mdl-card mdl-shadow--2dp">
                <div id="output" class="mdl-card__title mdl-card--expand padding-0">
                    <span>
                        <img id="myImg" class="thumb" title="@{model.product.image_name}" src="@{model.product.title_img_src}" />
                    </span>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--file">
                        <input class="mdl-textfield__input" placeholder="No file chosen" type="text" id="TEXT_ID" value="@{model.product.image_name}" readonly />
                        <div class="h_34 mdl-button mdl-button--icon mdl-button--file">
                            <i class="material-icons">attach_file</i>
                            <input type="file" name="File" id="file1" onchange="document.getElementById('TEXT_ID').value=this.files[0].name;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--3-col">
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
                @{if model.product.is_new == 1}
                <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" name="is_new" checked>
                @{else}
                <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" name="is_new">
                @{fi}
                <span class="mdl-checkbox__label">Show on main page</span>
            </label>
            <hr />
            <div id="category_holder">
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
                    <input type="radio" id="option-1" class="mdl-radio__button" name="category" value="kitchen" @{if model.product.category == "kitchen"} checked @{endif}>
                    <span class="mdl-radio__label">Kitchen</span>
                </label>
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
                    <input type="radio" id="option-2" class="mdl-radio__button" name="category" value="bedroom" @{if model.product.category == "bedroom"} checked @{endif}>
                    <span class="mdl-radio__label">Bedroom</span>
                </label>
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-3">
                    <input type="radio" id="option-3" class="mdl-radio__button" name="category" value="soft" @{if model.product.category == "soft"} checked @{endif}>
                    <span class="mdl-radio__label">Soft</span>
                </label>
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-4">
                    <input type="radio" id="option-4" class="mdl-radio__button" name="category" value="living" @{if model.product.category == "living"} checked @{endif}>
                    <span class="mdl-radio__label">Living</span>
                </label>
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-5">
                    <input type="radio" id="option-5" class="mdl-radio__button" name="category" value="dining" @{if model.product.category == "dining"} checked @{endif}>
                    <span class="mdl-radio__label">Dining</span>
                </label>
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-6">
                    <input type="radio" id="option-6" class="mdl-radio__button" name="category" value="chandelier" @{if model.product.category == "chandelier"} checked @{endif}>
                    <span class="mdl-radio__label">Chandelier</span>
                </label>
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-7">
                    <input type="radio" id="option-7" class="mdl-radio__button" name="category" value="sanitary" @{if model.product.category == "sanitary"} checked @{endif}>
                    <span class="mdl-radio__label">Sanitary</span>
                </label>
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-8">
                    <input type="radio" id="option-8" class="mdl-radio__button" name="category" value="accessories" @{if model.product.category == "accessories"} checked @{endif}>
                    <span class="mdl-radio__label">Accessories</span>
                </label>
            </div>
            <hr />
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--file">
                <input class="mdl-textfield__input" placeholder="No 3D file chosen" type="text" id="TEXT" readonly />
                <div class="h_34 mdl-button mdl-button--icon mdl-button--file">
                    <i class="material-icons">attach_file</i>
                    <input type="file" name="virtual_model" id="file3d" onchange="document.getElementById('TEXT').value=this.files[0].name;" />
                </div>
            </div>
            <!--<progress id="progr"></progress>-->
        </div>
        <div class="mdl-cell mdl-cell--3-col">
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-0">
                <input type="checkbox" id="checkbox-0" class="mdl-checkbox__input" name="available_in" value="kyiv1">
                <span class="mdl-checkbox__label">Kyiv FREEDOM INTERIOR</span>
            </label>
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
                <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input" name="available_in" value="kyiv2">
                <span class="mdl-checkbox__label">Kyiv Visionnaire Showroom</span>
            </label>
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-3">
                <input type="checkbox" id="checkbox-3" class="mdl-checkbox__input" name="available_in" value="kyiv3">
                <span class="mdl-checkbox__label">Kyiv FREEDOM HOUSE sanitary</span>
            </label>
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-4">
                <input type="checkbox" id="checkbox-4" class="mdl-checkbox__input" name="available_in" value="kyiv4">
                <span class="mdl-checkbox__label">Kyiv FREEDOM LUXURY HOME</span>
            </label>
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-5">
                <input type="checkbox" id="checkbox-5" class="mdl-checkbox__input" name="available_in" value="kyiv5">
                <span class="mdl-checkbox__label">Kyiv FREEDOM HOUSE 17/2</span>
            </label>
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-6">
                <input type="checkbox" id="checkbox-6" class="mdl-checkbox__input" name="available_in" value="kyiv6">
                <span class="mdl-checkbox__label">Kyiv FREEDOM HOUSE 101</span>
            </label>
            <hr />
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-7">
                <input type="checkbox" id="checkbox-7" class="mdl-checkbox__input" name="available_in" value="kharkiv1">
                <span class="mdl-checkbox__label">Kharkiv FREEDOM LUXURY</span>
            </label>
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-8">
                <input type="checkbox" id="checkbox-8" class="mdl-checkbox__input" name="available_in" value="kharkiv2">
                <span class="mdl-checkbox__label">Kharkiv FREEDOM</span>
            </label>
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-9">
                <input type="checkbox" id="checkbox-9" class="mdl-checkbox__input" name="available_in" value="kharkiv3">
                <span class="mdl-checkbox__label">Kharkiv DOMITALIA</span>
            </label>
            <hr />
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-10">
                <input type="checkbox" id="checkbox-10" class="mdl-checkbox__input" name="available_in" value="dnepr1">
                <span class="mdl-checkbox__label">Dnepr FREEDOM</span>
            </label>
        </div>
    </div>
    <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
        <input type="file" name="files[]" id="filer_input" multiple="multiple">
    </div>
</form>