@{layout('/admin/admin_layout')}
<form id="create-product-form" method="POST" enctype="multipart/form-data" action="/products/update">
    <input type="hidden" name="id" value="@{model.product.id}" />
    <div class=" mdl-cell mdl-cell--12-col mdl-grid mdl-color--white mdl-shadow--2dp">
        <div class="outlet-product mdl-color--white mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--3-col-desktop">
            <div class="create-product mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" name="name" value="@{model.product.name}">
                <label class="mdl-textfield__label" for="sample1">Название</label>
            </div>
            <div class="create-product mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" name="manufacturer" value="@{model.product.manufacturer}" onkeydown="upperCaseF(this)">
                <label class="mdl-textfield__label" for="sample1">Производитель</label>
            </div>
            <div class="create-product mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" name="manufacturer_country" value="@{model.product.manufacturer_country}">
                <label class="mdl-textfield__label" for="sample1">Страна Производитель</label>
            </div>
            <div class="create-product mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" name="series" value="@{model.product.series}" onkeydown="upperCaseF(this)">
                <label class="mdl-textfield__label" for="sample1">Серия</label>
            </div>
            <div class="create-product mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" name="dimensions" value="@{model.product.dimensions}">
                <label class="mdl-textfield__label" for="sample1">Габариты</label>
            </div>
            <div class="create-product mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" name="price" value="@{model.product.price}">
                <label class="mdl-textfield__label" for="sample2">Цена</label>
                <span class="mdl-textfield__error">Введённые данные не являются числом!</span>
            </div>
            <div class="create-product mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" name="discount" value="@{model.product.discount}">
                <label class="mdl-textfield__label" for="sample2">Скидка</label>
                <span class="mdl-textfield__error">Введённые данные не являются числом!</span>
            </div>
            <div class="create-product mdl-textfield mdl-js-textfield">
                <textarea class="mdl-textfield__input" type="text" name="description">@{model.product.description}</textarea>
                <label class="mdl-textfield__label" for="sample5">Описание</label>
            </div>
            <button id="edit-product" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                Редактировать
            </button>
        </div>
        <div class="outlet-product mdl-cell mdl-cell--9-col  mdl-cell--12-col-tablet mdl-cell--9-col-desktop mdl-grid mdl-grid--no-spacing">
            <div class="mdl-cell mdl-cell--12-col mdl-grid mdl-color--white">
                <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--4-col-desktop">
                    <div class="outlet-card-image mdl-card mdl-shadow--2dp">
                        <div id="output" class="mdl-card__title mdl-card--expand padding-0">
                                <img id="myImg" class="thumb" title="@{model.product.image_name}" src="@{model.product.title_img_src}" />
                            <canvas id="canvas" width="0" height="0"></canvas>
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--file" style="width:100%">
                                <input class="mdl-textfield__input" placeholder="Файл не выбран" type="text" id="TEXT_ID" value="@{model.product.image_name}" readonly />
                                <div class="h_34 mdl-button mdl-button--icon mdl-button--file">
                                    <i class="material-icons">attach_file</i>
                                    <input id="fileTitle" name="title_file" type="hidden" />
                                    <input type="file" name="title_file" id="file1" onchange="document.getElementById('TEXT_ID').value=this.files[0].name;" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--4-col-desktop">
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
                        @{if model.product.is_new == 1}
                        <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" name="is_new" checked>
                        @{else}
                        <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" name="is_new">
                        @{fi}
                        <span class="mdl-checkbox__label">Показать на главной</span>
                    </label>
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-11">
                        @{if model.product.is_hidden == 1}
                        <input type="checkbox" id="checkbox-11" class="mdl-checkbox__input" name="is_hidden" checked>
                        @{else}
                        <input type="checkbox" id="checkbox-11" class="mdl-checkbox__input" name="is_hidden">
                        @{fi}
                        <span class="mdl-checkbox__label">Скрыть товар</span>
                    </label>
                    <hr />
                    <div class="category_holder">
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
                            <input type="radio" id="option-1" class="mdl-radio__button" name="category" value="kitchen" @{if model.product.category=="kitchen" } checked @{endif}>
                            <span class="mdl-radio__label">Кухня</span>
                        </label>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
                            <input type="radio" id="option-2" class="mdl-radio__button" name="category" value="bedroom" @{if model.product.category=="bedroom" } checked @{endif}>
                            <span class="mdl-radio__label">Спальня</span>
                        </label>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-3">
                            <input type="radio" id="option-3" class="mdl-radio__button" name="category" value="soft" @{if model.product.category=="soft" } checked @{endif}>
                            <span class="mdl-radio__label">Магкая</span>
                        </label>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-4">
                            <input type="radio" id="option-4" class="mdl-radio__button" name="category" value="living" @{if model.product.category=="living" } checked @{endif}>
                            <span class="mdl-radio__label">Гостинная</span>
                        </label>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-5">
                            <input type="radio" id="option-5" class="mdl-radio__button" name="category" value="dining" @{if model.product.category=="dining" } checked @{endif}>
                            <span class="mdl-radio__label">Столовая</span>
                        </label>
                        <label class="" for="option-6">
                            <span class="mdl-radio__label">Свет</span>
                        </label>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect sub_category" for="option-6_1">
                                    <input type="radio" id="option-6_1" class="mdl-radio__button" name="category" value="chandelier sub_chandelier" @{if model.product.category=="chandelier sub_chandelier" } checked @{endif}>
                                    <span class="mdl-radio__label">Люстры</span>
                                </label>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect sub_category" for="option-6_2">
                                    <input type="radio" id="option-6_2" class="mdl-radio__button" name="category" value="chandelier sub_bra" @{if model.product.category=="chandelier sub_bra" } checked @{endif}>
                                    <span class="mdl-radio__label">Бра</span>
                                </label>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect sub_category" for="option-6_3">
                                    <input type="radio" id="option-6_3" class="mdl-radio__button" name="category" value="chandelier sub_torcher" @{if model.product.category=="chandelier sub_torcher" } checked @{endif}>
                                    <span class="mdl-radio__label">Торшеры</span>
                                </label>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect sub_category" for="option-6_4">
                                    <input type="radio" id="option-6_4" class="mdl-radio__button" name="category" value="chandelier sub_lamp" @{if model.product.category=="chandelier sub_lamp" } checked @{endif}>
                                    <span class="mdl-radio__label">Лампы настольные</span>
                                </label>
                        <label class="" for="option-7">
                            <span class="mdl-radio__label">Сантехника</span>
                        </label>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect sub_category" for="option-7_1">
                                    <input type="radio" id="option-7_1" class="mdl-radio__button" name="category" value="sanitary sub_san_furniture" @{if model.product.category=="sanitary sub_san_furniture" } checked @{endif}>
                                    <span class="mdl-radio__label">Мебель для ванной</span>
                                </label>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect sub_category" for="option-7_2">
                                    <input type="radio" id="option-7_2" class="mdl-radio__button" name="category" value="sanitary sub_bathroom" @{if model.product.category=="sanitary sub_bathroom" } checked @{endif}>
                                    <span class="mdl-radio__label">Ванны</span>
                                </label>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect sub_category" for="option-7_3">
                                    <input type="radio" id="option-7_3" class="mdl-radio__button" name="category" value="sanitary sub_cabins" @{if model.product.category=="sanitary sub_cabins" } checked @{endif}>
                                    <span class="mdl-radio__label">Душевые кабины</span>
                                </label>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect sub_category" for="option-7_4">
                                    <input type="radio" id="option-7_4" class="mdl-radio__button" name="category" value="sanitary sub_faience" @{if model.product.category=="sanitary sub_faience" } checked @{endif}>
                                    <span class="mdl-radio__label">Санфаянс</span>
                                </label>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect sub_category" for="option-7_5">
                                    <input type="radio" id="option-7_5" class="mdl-radio__button" name="category" value="sanitary sub_faucets" @{if model.product.category=="sanitary sub_faucets" } checked @{endif}>
                                    <span class="mdl-radio__label">Смесители</span>
                                </label>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect sub_category" for="option-7_6">
                                    <input type="radio" id="option-7_6" class="mdl-radio__button" name="category" value="sanitary sub_dryers" @{if model.product.category=="sanitary sub_dryers" } checked @{endif}>
                                    <span class="mdl-radio__label">Полотенцесушители</span>
                                </label>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect sub_category" for="option-7_7">
                                    <input type="radio" id="option-7_7" class="mdl-radio__button" name="category" value="sanitary sub_accesories" @{if model.product.category=="sanitary sub_accesories" } checked @{endif}>
                                    <span class="mdl-radio__label">Аксессуары</span>
                                </label>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect sub_category" for="option-7_8">
                                    <input type="radio" id="option-7_8" class="mdl-radio__button" name="category" value="sanitary sub_tile" @{if model.product.category=="sanitary sub_tile" } checked @{endif}>
                                    <span class="mdl-radio__label">Керамическая плитка</span>
                                </label>

                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-8">
                            <input type="radio" id="option-8" class="mdl-radio__button" name="category" value="accessories" @{if model.product.category=="accessories" } checked @{endif}>
                            <span class="mdl-radio__label">Аксессуары</span>
                        </label>
                    </div>
                    <hr />
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--file" style="width:100%">
                        <input class="mdl-textfield__input" placeholder="3D модель не выбранна" type="text" id="TEXT" readonly />
                        <div class="h_34 mdl-button mdl-button--icon mdl-button--file">
                            <i class="material-icons">attach_file</i>
                            <input type="file" name="virtual_model" id="file3d" onchange="document.getElementById('TEXT').value=this.files[0].name;" />
                        </div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--4-col-desktop">
                    <div class="category_holder">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-0">
                            <input type="checkbox" id="checkbox-0" class="mdl-checkbox__input" name="available_in" value="kyiv6" @{if model.cities.kyiv6==true} checked @{endif}>
                            <span class="mdl-checkbox__label">Киев FREEDOM INTERIOR</span>
                        </label>
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
                            <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input" name="available_in" value="kyiv2" @{if model.cities.kyiv2==true} checked @{endif}>
                            <span class="mdl-checkbox__label">Киев Visionnaire Showroom</span>
                        </label>
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-3">
                            <input type="checkbox" id="checkbox-3" class="mdl-checkbox__input" name="available_in" value="kyiv8" @{if model.cities.kyiv8==true} checked @{endif}>
                            <span class="mdl-checkbox__label">Киев FREEDOM HOUSE sanitary</span>
                        </label>
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-4">
                            <input type="checkbox" id="checkbox-4" class="mdl-checkbox__input" name="available_in" value="kyiv1" @{if model.cities.kyiv1==true} checked @{endif}>
                            <span class="mdl-checkbox__label">Киев FREEDOM LUXURY HOME</span>
                        </label>
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-5">
                            <input type="checkbox" id="checkbox-5" class="mdl-checkbox__input" name="available_in" value="kyiv7" @{if model.cities.kyiv7==true} checked @{endif}>
                            <span class="mdl-checkbox__label">Киев FREEDOM HOUSE 17/2</span>
                        </label>
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-6">
                            <input type="checkbox" id="checkbox-6" class="mdl-checkbox__input" name="available_in" value="kyiv3" @{if model.cities.kyiv3==true} checked @{endif}>
                            <span class="mdl-checkbox__label">Киев FREEDOM HOUSE 101</span>
                        </label>
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-12">
                            <input type="checkbox" id="checkbox-12" class="mdl-checkbox__input" name="available_in" value="kyiv4" @{if model.cities.kyiv4==true} checked @{endif}>
                            <span class="mdl-checkbox__label">Киев FREEDOM INTERIORS</span>
                        </label>
                        <hr />
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-7">
                            <input type="checkbox" id="checkbox-7" class="mdl-checkbox__input" name="available_in" value="kharkiv1" @{if model.cities.kharkiv1==true} checked @{endif}>
                            <span class="mdl-checkbox__label">Харьков FREEDOM LUXURY</span>
                        </label>
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-8">
                            <input type="checkbox" id="checkbox-8" class="mdl-checkbox__input" name="available_in" value="kharkiv2" @{if model.cities.kharkiv2==true} checked @{endif}>
                            <span class="mdl-checkbox__label">Харьков FREEDOM</span>
                        </label>
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-9">
                            <input type="checkbox" id="checkbox-9" class="mdl-checkbox__input" name="available_in" value="kharkiv3" @{if model.cities.kharkiv3==true} checked @{endif}>
                            <span class="mdl-checkbox__label">Харьков DOMITALIA</span>
                        </label>
                        <hr />
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-10">
                            <input type="checkbox" id="checkbox-10" class="mdl-checkbox__input" name="available_in" value="dnepr1" @{if model.cities.dnepr1==true} checked @{endif}>
                            <span class="mdl-checkbox__label">Днепр FREEDOM</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="product-options mdl-card mdl-color--white mdl-cell mdl-cell--12-col">
                <input type="file" name="files[]" id="filer_input" data-fileuploader-files="@{model.immages}">
            </div>
        </div>
    </div>
</form>