@{layout('/admin/admin_layout')}
<form id="create-product-form" method="POST" enctype="multipart/form-data" action="/products/create" onsubmit="del()">
    <div class=" mdl-cell mdl-cell--12-col mdl-grid mdl-color--white mdl-shadow--2dp">
        <div class="outlet-product mdl-color--white mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--3-col-desktop">
            <div class="create-product mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" name="name">
                <label class="mdl-textfield__label" for="sample1">Название</label>
            </div>
            <div class="create-product mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" name="manufacturer" onkeydown="upperCaseF(this)">
                <label class="mdl-textfield__label" for="sample1">Производитель</label>
            </div>
            <div class="create-product mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" name="manufacturer_country">
                <label class="mdl-textfield__label" for="sample1">Страна Производитель</label>
            </div>
            <div class="create-product mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" name="series" onkeydown="upperCaseF(this)">
                <label class="mdl-textfield__label" for="sample1">Серия</label>
            </div>
            <div class="create-product mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" name="dimensions">
                <label class="mdl-textfield__label" for="sample1">Габариты</label>
            </div>
            <div class="create-product mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" name="price">
                <label class="mdl-textfield__label" for="sample2">Старая цена</label>
                <span class="mdl-textfield__error">Введённые данные не являются числом!</span>
            </div>
            <div class="create-product mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" name="discount">
                <label class="mdl-textfield__label" for="sample2">Новая цена(со скидкой)</label>
                <span class="mdl-textfield__error">Введённые данные не являются числом!</span>
            </div>
            <div class="create-product mdl-textfield mdl-js-textfield">
                <textarea class="mdl-textfield__input" type="text" name="description"></textarea>
                <label class="mdl-textfield__label" for="sample5">Описание</label>
            </div>
            <button type="submit" id="create-product" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                &nbsp;Добавить&nbsp;
            </button>
        </div>
        <div class="outlet-product mdl-cell mdl-cell--9-col  mdl-cell--12-col-tablet mdl-cell--9-col-desktop mdl-grid mdl-grid--no-spacing">
            <div class="mdl-cell mdl-cell--12-col mdl-grid mdl-color--white">
                <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--4-col-desktop">
                    <div class="outlet-card-image mdl-card mdl-shadow--2dp">
                        <div id="output" class="mdl-card__title mdl-card--expand padding-0">
                            <canvas id="canvas"></canvas>
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--file" style="width:100%">
                                <input class="mdl-textfield__input" placeholder="Файл не выбран" type="text" id="TEXT_ID" readonly />
                                <div class="h_34 mdl-button mdl-button--icon mdl-button--file">
                                    <i class="material-icons">attach_file</i>
                                    <input id="fileTitle" name="title_file" type="hidden" />
                                    <input type="file" name="title" id="file1" onchange="document.getElementById('TEXT_ID').value=this.files[0].name;" required />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--4-col-desktop">
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
                        <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" name="is_new">
                        <span class="mdl-checkbox__label">Показать на главной</span>
                    </label>
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-11">
                        <input type="checkbox" id="checkbox-11" class="mdl-checkbox__input" name="is_hidden">
                        <span class="mdl-checkbox__label">Скрыть товар</span>
                    </label>
                    <hr />
                    <div class="category_holder">
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
                            <input type="radio" id="option-1" class="mdl-radio__button" name="category" value="kitchen" checked>
                            <span class="mdl-radio__label">Кухня</span>
                        </label>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
                            <input type="radio" id="option-2" class="mdl-radio__button" name="category" value="bedroom">
                            <span class="mdl-radio__label">Спальня</span>
                        </label>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-3">
                            <input type="radio" id="option-3" class="mdl-radio__button" name="category" value="soft">
                            <span class="mdl-radio__label">Мягкая</span>
                        </label>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-4">
                            <input type="radio" id="option-4" class="mdl-radio__button" name="category" value="living">
                            <span class="mdl-radio__label">Гостинная</span>
                        </label>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-5">
                            <input type="radio" id="option-5" class="mdl-radio__button" name="category" value="dining">
                            <span class="mdl-radio__label">Столовая</span>
                        </label>
                        <label class="" for="option-6">
                            <span class="mdl-radio__label">Свет</span>
                        </label>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect sub_category" for="option-6_1">
                                    <input type="radio" id="option-6_1" class="mdl-radio__button" name="category" value="chandelier sub_chandelier">
                                    <span class="mdl-radio__label">Люстры</span>
                                </label>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect sub_category" for="option-6_2">
                                    <input type="radio" id="option-6_2" class="mdl-radio__button" name="category" value="chandelier sub_bra">
                                    <span class="mdl-radio__label">Бра</span>
                                </label>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect sub_category" for="option-6_3">
                                    <input type="radio" id="option-6_3" class="mdl-radio__button" name="category" value="chandelier sub_torcher">
                                    <span class="mdl-radio__label">Торшеры</span>
                                </label>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect sub_category" for="option-6_4">
                                    <input type="radio" id="option-6_4" class="mdl-radio__button" name="category" value="chandelier sub_lamp">
                                    <span class="mdl-radio__label">Лампы настольные</span>
                                </label>
                        <label class="" for="option-7">
                            <span class="mdl-radio__label">Сантехника</span>
                        </label>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect sub_category" for="option-7_1">
                                    <input type="radio" id="option-7_1" class="mdl-radio__button" name="category" value="sanitary sub_san_furniture">
                                    <span class="mdl-radio__label">Мебель для ванной</span>
                                </label>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect sub_category" for="option-7_2">
                                    <input type="radio" id="option-7_2" class="mdl-radio__button" name="category" value="sanitary sub_bathroom">
                                    <span class="mdl-radio__label">Ванны</span>
                                </label>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect sub_category" for="option-7_3">
                                    <input type="radio" id="option-7_3" class="mdl-radio__button" name="category" value="sanitary sub_cabins">
                                    <span class="mdl-radio__label">Душевые кабины</span>
                                </label>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect sub_category" for="option-7_4">
                                    <input type="radio" id="option-7_4" class="mdl-radio__button" name="category" value="sanitary sub_faience">
                                    <span class="mdl-radio__label">Санфаянс</span>
                                </label>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect sub_category" for="option-7_5">
                                    <input type="radio" id="option-7_5" class="mdl-radio__button" name="category" value="sanitary sub_faucets">
                                    <span class="mdl-radio__label">Смесители</span>
                                </label>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect sub_category" for="option-7_6">
                                    <input type="radio" id="option-7_6" class="mdl-radio__button" name="category" value="sanitary sub_dryers">
                                    <span class="mdl-radio__label">Полотенцесушители</span>
                                </label>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect sub_category" for="option-7_7">
                                    <input type="radio" id="option-7_7" class="mdl-radio__button" name="category" value="sanitary sub_accesories">
                                    <span class="mdl-radio__label">Аксессуары</span>
                                </label>
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect sub_category" for="option-7_8">
                                    <input type="radio" id="option-7_8" class="mdl-radio__button" name="category" value="sub_tile">
                                    <span class="mdl-radio__label">Керамическая плитка</span>
                                </label>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-8">
                            <input type="radio" id="option-8" class="mdl-radio__button" name="category" value="accessories">
                            <span class="mdl-radio__label">Аксессуары</span>
                        </label>
                    </div>
                    <hr />
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--file" style="width:100%">
                        <input class="mdl-textfield__input" placeholder="3D модель не выбранна" type="text" id="TEXT" readonly />
                        <div class="h_34 mdl-button mdl-button--icon mdl-button--file">
                            <i class="material-icons">attach_file</i>
                            <input type="file" name="virtual_model" id="file3d" onchange="document.getElementById('TEXT').value=this.files[0].name;" />
                        </div>
                    </div>
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="hide_3d">
                            <input type="checkbox" id="hide_3d" class="mdl-checkbox__input" name="hide_3d">
                            <span class="mdl-checkbox__label">Скрыть 3D</span>
                    </label>
                </div>
                <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--4-col-desktop">
                    @{foreach shop in model.shops_data}
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="@{shop.shop_id}">
                            <input type="checkbox" id="@{shop.shop_id}" class="mdl-checkbox__input" name="available_in" value="@{shop.shop_id}">
                            <span class="mdl-checkbox__label">@{shop.city} @{shop.name}</span>
                        </label>
                        @{if shop.split==true}
                            <hr />
                        @{else}
                        @{fi}
                    @{end}
                </div>
            </div>
            <div class="product-options mdl-card mdl-color--white mdl-cell mdl-cell--12-col">
                <input type="file" name="files[]" id="filer_input" multiple="multiple">
            </div>
        </div>
    </div>
</form>


