@{layout('/admin/admin_layout')}
<form id="shops-form" method="POST" action="/admin/shops">
    <div class="shops_holder mdl-cell mdl-cell--12-col mdl-grid mdl-color--white mdl-shadow--2dp">
        <div class="outlet-product mdl-cell mdl-cell--12-col  mdl-cell--12-col-tablet mdl-cell--12-col-desktop mdl-grid mdl-grid--no-spacing">
            <div class="mdl-cell mdl-cell--12-col mdl-grid mdl-color--white">
                <div class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--3-col-desktop">
                    <label>Киев</label>
                    <hr />
                    <div class="create-product mdl-textfield mdl-js-textfield" style="visibility:hidden">
                        <textarea class="mdl-textfield__input" type="text" name="kyiv0"></textarea>
                        <label class="mdl-textfield__label" for="sample5">Описание магазина</label>
                    </div>
                    <div class="create-product mdl-textfield mdl-js-textfield">
                        <textarea class="mdl-textfield__input" type="text" name="kyiv1">@{model.shops.kyiv1}</textarea>
                        <label class="mdl-textfield__label" for="sample5">Описание магазина</label>
                    </div>
                    <div class="create-product mdl-textfield mdl-js-textfield">
                        <textarea class="mdl-textfield__input" type="text" name="kyiv2">@{model.shops.kyiv2}</textarea>
                        <label class="mdl-textfield__label" for="sample5">Описание магазина</label>
                    </div>
                    <div class="create-product mdl-textfield mdl-js-textfield">
                        <textarea class="mdl-textfield__input" type="text" name="kyiv3">@{model.shops.kyiv3}</textarea>
                        <label class="mdl-textfield__label" for="sample5">Описание магазина</label>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--3-col-desktop">
                    <label>&nbsp;</label>
                    <hr />
                    <div class="create-product mdl-textfield mdl-js-textfield">
                        <textarea class="mdl-textfield__input" type="text" name="kyiv7">@{model.shops.kyiv7}</textarea>
                        <label class="mdl-textfield__label" for="sample5">Описание магазина</label>
                    </div>
                    <div class="create-product mdl-textfield mdl-js-textfield">
                        <textarea class="mdl-textfield__input" type="text" name="kyiv4">@{model.shops.kyiv4}</textarea>
                        <label class="mdl-textfield__label" for="sample5">Описание магазина</label>
                    </div>
                    <div class="create-product mdl-textfield mdl-js-textfield">
                        <textarea class="mdl-textfield__input" type="text" name="kyiv5">@{model.shops.kyiv5}</textarea>
                        <label class="mdl-textfield__label" for="sample5">Описание магазина</label>
                    </div>
                    <div class="create-product mdl-textfield mdl-js-textfield">
                        <textarea class="mdl-textfield__input" type="text" name="kyiv6">@{model.shops.kyiv6}</textarea>
                        <label class="mdl-textfield__label" for="sample5">Описание магазина</label>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--3-col-desktop">
                    <label>Харьков</label>
                    <hr />
                    <div class="create-product mdl-textfield mdl-js-textfield">
                        <textarea class="mdl-textfield__input" type="text" name="kharkiv1">@{model.shops.kharkiv1}</textarea>
                        <label class="mdl-textfield__label" for="sample5">Описание магазина</label>
                    </div>
                    <div class="create-product mdl-textfield mdl-js-textfield">
                        <textarea class="mdl-textfield__input" type="text" name="kharkiv2">@{model.shops.kharkiv2}</textarea>
                        <label class="mdl-textfield__label" for="sample5">Описание магазина</label>
                    </div>
                    <div class="create-product mdl-textfield mdl-js-textfield">
                        <textarea class="mdl-textfield__input" type="text" name="kharkiv3">@{model.shops.kharkiv3}</textarea>
                        <label class="mdl-textfield__label" for="sample5">Описание магазина</label>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--3-col mdl-cell--6-col-tablet mdl-cell--3-col-desktop">
                    <label>Днепр</label>
                    <hr />
                    <div class="create-product mdl-textfield mdl-js-textfield">
                        <textarea class="mdl-textfield__input" type="text" name="dnepr1">@{model.shops.dnepr1}</textarea>
                        <label class="mdl-textfield__label" for="sample5">Описание магазина</label>
                    </div>
                    <div class="create-product mdl-textfield mdl-js-textfield">
                        <textarea class="mdl-textfield__input" type="text" name="dnepr2">@{model.shops.dnepr2}</textarea>
                        <label class="mdl-textfield__label" for="sample5">Описание магазина</label>
                    </div>
                    <div class="create-product mdl-textfield mdl-js-textfield">
                        <textarea class="mdl-textfield__input" type="text" name="dnepr3">@{model.shops.dnepr3}</textarea>
                        <label class="mdl-textfield__label" for="sample5">Описание магазина</label>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" id="create-product" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
            &nbsp;Сохранить&nbsp;
        </button>
    </div>
    </div>
</form>