@{layout('')}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    @{import('jquery-3.2.0.min.js')}
    @{import('jquery-ui.js')}
    @{import('jquery-ui.css')}
    <!--@{import('list-product-style.css')}-->
    @{import('search.js')}
    @{import('idea-for-home-one/content-style.css')}
    @{import('contacts.css')}
    @{import('user_cabinet.css')}
    @{import('parts/footer/footer.css')}

</head>
<body>
<div id="header">
    @{view('layouts/contacts/header')}
</div>
@{body}
<div id="footer">
    @{view('parts/footer/footer')}
</div>
</body>
</html>