@font-face {
    font-family: RobotoLight;
    src: url(fonts/Roboto/Roboto-Light.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Roboto-ThinItalic;
    src: url(fonts/Roboto/Roboto-ThinItalic.ttf); /* Путь к файлу со шрифтом */
}


@font-face {
    font-family: Roboto-Medium;
    src: url(fonts/Roboto/Roboto-Medium.ttf); /* Путь к файлу со шрифтом */
}


body {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #e8ebef;
}


#header {
    position: relative;
    width: 100%;
    height: 85px;
    background: #292929;
}

#header-content {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
    background: #292929;
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;

}

#logo, .global-nav {
    vertical-align: top;
}

#logo {
    position: relative;
    display: inline-block;
    /*top: 0;*/
    /*bottom: 0;*/
    width: 15%;
    height: 100%;
}

#logo .logo_img {
    position: absolute;
    width: 100%;
}

.global-nav {
    width: 65%;
    height: 50%;
    margin-left: 13%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.global-nav .row1,
.global-nav .row2 {
    position: relative;
}

#nav-menu {
    position: relative;
    height: 40%;
    display: flex;
    justify-content: space-around;
}

#nav-menu .li {
    display: inline-block;
    font-family: RobotoLight;
    font-size: 0.8vw;
    position: relative;
    cursor: pointer;
    margin-right: 1vw;
}

#nav-menu .li .border {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: -5px;
}

#nav-menu .li:hover .border {
    border-bottom: 2px solid red;
}

.search_block {
    right: 0;
    top: 1%;
    /*position: absolute;*/
    height: 100%;
    left: 50%;
    z-index: 5;
}

.search_block form {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search_block button {
    position: absolute;
    right: 0;
    height: 60%;
    background-color: white;
    border: 0;
    outline: none;
    cursor: pointer;
    z-index: 50;
    margin-right: 5px;
}

.search_block button img {
    position: absolute;
    height: 100%;
    cursor: pointer;
    top: 0;
    right: 5px;
}

.search_block input {
    width: 100%;
    height: 100%;
    /*position: absolute;*/
    font-size: 0.8vw;
    padding: 4%;

}

.icon {
    width: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1%;
    margin-left: 1%;
}

.icon .heart .heart1 {
    display: inline-block;
    width: 100%;
}
.icon .heart .heart2 {
    display: none;
}

.icon .heart:hover .heart1 {
    display: none;
}

.icon .heart:hover .heart2 {
    display: inline-block;
    width: 100%;
}



.icon .man .man1 {
    display: inline-block;
    width: 100%;
}
.icon .man .man2 {
    display: none;
}

.icon .man:hover .man1 {
    display: none;
}

.icon .man:hover .man2 {
    display: inline-block;
    width: 100%;
}


#content {
    position: relative;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    min-width: 900px;
    /*outline: 2px solid blue;*/
}

.breadcrumbs {
    display: inline-block;
    margin-top: 1vw;
    /*outline: 1px solid red;*/
}

.breadcrumbs ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumbs ul li {
    display: inline-block;
    font-size: 1.1vw;
    color: darkslategray;
    font-family: RobotoLight;
}

.breadcrumbs ul li:after {
    content: "/";
    padding-left: 8%;
    padding-right: 2%;
}

.breadcrumbs ul li:last-child:after {
    content: none;
    padding: 0;
}

.breadcrumbs ul li a {
    color: darkgray;
}

.breadcrumbs ul li:last-child a {
    color: #3e4546;
}

.info-nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 100px; */
    /*outline: 2px solid green;*/
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.title {
    width: 15%;
    /*height: 100%;*/
    display: inline-block;
    /*outline: 2px solid black;*/
}

.text-title {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    /*outline: 5px solid magenta;*/
    font-size: 3vw;
    color: #3e4546;
    font-family: Georgia;
}

.view-options {
    width: 60%;
    /*height: 100%;*/
    /*outline: 1px solid gold;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-sorting {
    display: flex;
}

.sorting-text,
.number-of-goods-text {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1.1vw;
    color: #2a2a2a;
    font-family: RobotoLight;
    white-space: nowrap;
}

.dropdown {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    margin-left: 4%;
    border: 1px solid lightgray
}

.dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.1vw;
    font-family: robotolight;
    width: 100%;
    background: white;
}

.dropdown ul.popup {
    position: absolute;
    top: 140%;
    z-index: 1000;
}

.dropdown ul li {
    border: 1px solid lightgray;
}

.dropdown ul li a {
    color: #2a2a2a;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 3vw;
    padding-left: 1.3vw;
}

.dropdown ul li {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown ul.popup {
    display: none;
}

.dropdown ul li:hover,
.dropdown ul.button li {
    background: rgb(239, 241, 244);
}

.dropdown ul.popup .arrow {
    visibility: hidden;
}

.dropdown ul .active .arrow {
    visibility: visible;
}

.dropdown .arrow {
    margin-right: 1.2vw;
    height: 0.7vw;
    padding-left: 1.4vw;
}


.displays-the-page {display: flex;}

.displays-the-page .button.active .gray {display: block;}
.displays-the-page .button.active .red {display: none;}

.displays-the-page .button .gray {display: none;}
.displays-the-page .button .red {display: block;}

.displays-the-page .button {
    display: inline-block;
}

.displays-the-page img {
    width: 3.5vw;
}

.product-list {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
    /*height: 1000px;*/
    outline: 3px solid black;
}





.title-new-product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid lightgray;
}

.product-list .item {
    margin: 20px;
    position: relative;
    width: 17.6vw;
    display: inline-block;
    outline: 1px solid red;
}

.product-list .item .item-main-img {
    width: 100%;
    margin-bottom: 1vw;
}

.product-list .item span {
    color: #3e4546;
    margin-top: 0.5vw;
}

.product-list .item span.tit {
    font-size: 1.6vw;
    font-family: Georgia;
}

.product-list .item span.vendor {
    font-size: 0.8vw;
    /*color: #e8ebef;*/
    color: #898f90;
    font-family: RobotoLight;
}

.product-list .item span.price {
    font-size: 1vw;
    font-family: Roboto-Medium;
    color: #2a2a2a;
}

.product-list .item span.share {
    color: #9ba3aa;
    font-family: Roboto-ThinItalic;
    font-size: 1vw;
}

.product-info {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgb(247, 248, 248);
    /*width: 100%;*/
    /*height: 100%;*/
    outline: 1px solid green;
}

.product-info .title-info,
.product-info .content {
    position: absolute;
    left: 5%;
    right: 5%;
    outline: 1px solid blue;
}

.product-info .title-info {
    top: 5%;
    height: 10%;
}

.product-info .content {
    bottom: 5%;
    height: 80%;
    overflow: auto;
}

.product-info .content p {
    text-align: justify;
}

.cross .cross-img {

}










#footer {
    position: relative;
    width: 100%;
    height: 290px;
    background: #292929;
}

.footer-content {
    position: relative;
    margin-left: 197px;
    margin-right: 192px;
    height: 100%;
    background: #292929;
    white-space: nowrap;
    /*outline: 1px solid red;*/

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-logo {
    /*outline: 1px solid green*/
    display: inline-block;
    top: 0;
    bottom: 0;
    /*height: 100%;*/

}

.footer-logo_img {
    width: 19vw;
}

#footer-nav-menu {
    display: inline-block;
    /*margin-left: 100px;*/
    /*outline: 2px solid white;*/
    line-height: 1.3vw;
}

#footer-about_company {
    display: inline-block;
    /*margin-left: 100px;*/
    /*outline: 2px solid magenta;*/
    line-height: 1.3vw;
}

#footer-nav-menu .li a {
    font-size: 0.8vw;
}

#footer-about_company .li a {
    font-size: 0.8vw;
}


#footer-nav-menu .li:hover a {

    border-bottom: 2px solid red;
}

#footer-about_company .li:hover a {
    border-bottom: 2px solid red;
}

.img-footer {
    right: 0;
}

.social-inst,
.social-face {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background: #777777;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.img-inst,
.img-face {
    position: relative;
    width: 100%;
    height: 100%;
    /*outline: 1px solid green;*/
}

.social-inst:hover {
    background: #0484b9;
}

.social-face:hover {
    background: #3B5998;
}

.footer-content .right-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65%;
}

.footer-content .right-block .social {
    display: flex;
    justify-content: center;
}

.footer-content .footer-logo,
.footer-content #footer-nav-menu,
.footer-content #footer-about_company,
.footer-content .right-block {
    margin-top: 50px;
}

.footer-content .img-footer-outlet {
    width: 25vw;
}






@media screen and (max-width: 1600px) {
    #header {
        height: 80px;
    }

    .footer-content .img-footer-outlet {
        width: 25vw;
    }
}

@media screen and (max-width: 1200px) {
    #header {
        height: 60px;
    }

    .footer-content .img-footer-outlet {
        width: 15vw;
    }
}

@media screen and (max-width: 900px) {
    #header {
        height: 48px;
    }

    .footer-content .img-footer-outlet {
        width: 10vw;
    }

    .footer-logo_img {
        width: 10vw;
    }
}