@font-face {
    font-family: RobotoLight;
    src: url(fonts/Roboto/Roboto-Light.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Roboto-ThinItalic;
    src: url(fonts/Roboto/Roboto-ThinItalic.ttf); /* Путь к файлу со шрифтом */
}


@font-face {
    font-family: Roboto-Medium;
    src: url(fonts/Roboto/Roboto-Medium.ttf); /* Путь к файлу со шрифтом */
}


body {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #e8ebef;
}


#header {
    position: relative;
    width: 100%;
    height: 85px;
    background: #292929;
}

#header-content {
    position: relative;
    margin-left: 7%;
    margin-right: 7%;
    height: 100%;
    background: #292929;
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;

}

#logo, .global-nav {
    vertical-align: top;
}

#logo {
    position: relative;
    display: inline-block;
    /*top: 0;*/
    /*bottom: 0;*/
    width: 15%;
    height: 100%;
}

#logo .logo_img {
    position: absolute;
    width: 100%;
}

.global-nav {
    width: 65%;
    height: 50%;
    margin-left: 13%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.global-nav .row1,
.global-nav .row2 {
    position: relative;
}

#nav-menu {
    position: relative;
    height: 40%;
    display: flex;
    justify-content: space-around;
}

#nav-menu .li {
    display: inline-block;
    font-family: RobotoLight;
    font-size: 0.8vw;
    position: relative;
    cursor: pointer;
    margin-right: 1vw;
}

#nav-menu .li .border {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: -5px;
}

#nav-menu .li:hover .border {
    border-bottom: 2px solid red;
}

.search_block {
    right: 0;
    top: 1%;
    /*position: absolute;*/
    height: 100%;
    left: 50%;
    z-index: 5;
}

.search_block form {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search_block button {
    position: absolute;
    right: 0;
    height: 60%;
    background-color: white;
    border: 0;
    outline: none;
    cursor: pointer;
    z-index: 50;
    margin-right: 5px;
}

.search_block button img {
    position: absolute;
    height: 100%;
    cursor: pointer;
    top: 0;
    right: 5px;
}

.search_block input {
    width: 100%;
    height: 100%;
    /*position: absolute;*/
    font-size: 0.8vw;
    padding: 4%;

}

.icon {
    width: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1%;
    margin-left: 1%;
}

.icon .heart .heart1 {
    display: inline-block;
    width: 100%;
}
.icon .heart .heart2 {
    display: none;
}

.icon .heart:hover .heart1 {
    display: none;
}

.icon .heart:hover .heart2 {
    display: inline-block;
    width: 100%;
}



.icon .man .man1 {
    display: inline-block;
    width: 100%;
}
.icon .man .man2 {
    display: none;
}

.icon .man:hover .man1 {
    display: none;
}

.icon .man:hover .man2 {
    display: inline-block;
    width: 100%;
}

#content {
    position: relative;
    margin-top: 2%;
    margin-left: 7%;
    margin-right: 7%;
    min-width: 900px;
    outline: 2px solid blue;
}

.breadcrumbs {
    display: inline-block;
    margin-top: 1vw;
    /*outline: 1px solid red;*/
}

.breadcrumbs ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumbs ul li {
    display: inline-block;
    font-size: 1.1vw;
    color: darkslategray;
    font-family: RobotoLight;
}

.breadcrumbs ul li:after {
    content: "/";
    padding-left: 8%;
    padding-right: 2%;
}

.breadcrumbs ul li:last-child:after {
    content: none;
    padding: 0;
}

.breadcrumbs ul li a {
    color: darkgray;
}

.breadcrumbs ul li:last-child a {
    color: #3e4546;
}












.main-gallery {
    display: flex;
    position: relative;
    /*width: 73.8%;*/
    /*height: 1700px;*/
    outline: 3px solid green;
    margin-top: 3%;
    /*justify-content: center;*/
}

.main-gallery .gallery-container {
    width: 70%;
    /*height: 100%;*/
    display: flex;
    justify-content: center;
}

.main-gallery .main-product-card-gall {
    width: 50%;
}


.main-gallery .right-sidebar {
    position: absolute;
    right: 0;
    display: flex;
    outline: 1px solid magenta;
    width: 30%;
    height: 100%;
}

.main-gallery .main-product-card-gall .item {
    /*width: 15.1% !important;*/
    margin-left: 500px;
    margin-right: 500px;

    /*display: flex !important;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*flex-direction: column;*/
}

.main-gallery .main-product-card-gall .item img {
    /*position: relative;*/
}

.main-product-card-gall .slick-prev::before,
.main-product-card-gall .slick-next::before {
    color: #3e4546;;
    font-size: 3vw;
    font-family: RobotoLight;
}

.main-product-card-gall .slick-prev::before {
    content: "\2039";
}

.main-product-card-gall .slick-next::before {
    content: "\203a";
}


.main-product-card-gall .slick-prev,
.main-product-card-gall .slick-next {
    position: absolute;
    top: 45%;
}

.main-product-card-gall .slick-prev {
    left: 2%;
}

.main-product-card-gall .slick-next {
    right: -25%;
}












.also-like {
    position: relative;
    width: 100%;

    /*outline: 2px solid blue;*/
}

.also-like-title-conteiner {
    position: relative;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*outline: 1px solid black;*/
}

.also-like-title {
    display: inline-block;
    left: 50%;
    width: 95px;
    height: 60px;
    margin: -56px;
    border-bottom: 2px solid red;
    white-space: nowrap

}

.text-also-like {
    font-family: Georgia;
    margin-left: -10%;
    font-size: 40px;
    color: #3e4546;
    position: absolute;
}




.product-list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.title-new-product {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    flex-direction: column;
    border-top: 1px solid lightgray;
}

.product-list .item {
    /*margin: 20px;*/
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}

.product-list .item .item-main-img {
    width: 100%;
    margin-bottom: 1vw;
}

.product-list .item span {
    color: #3e4546;
    margin-top: 0.5vw;
}

.product-list .item span.tit {
    font-size: 1.6vw;
    font-family: Georgia;
}

.product-list .item span.vendor {
    font-size: 0.8vw;
    /*color: #e8ebef;*/
    color: #898f90;
    font-family: RobotoLight;
}

.product-list .item span.price {
    font-size: 1vw;
    font-family: RobotoLight;
    color: #2a2a2a;
}

.container-button-look-all {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 4vw;
    margin-top: 3vw;
    /*outline: 1px solid red;*/
}

.container-button-look-all a .button-look-all {
    outline: 1px solid #2a2a2a;
    cursor: pointer;
}

.container-button-look-all a .button-look-all .text-look-all {
    display: inline-block;
    font-size: 1vw;
    font-family: RobotoLight;
    white-space: nowrap;
    margin: 0.8vw 3vw 0.8vw 3vw;
    color: #2a2a2a;
}

.container-button-look-all a .button-look-all:hover {
    background: #2a2a2a;
    color: white;
}

.container-button-look-all a .button-look-all:hover  .text-look-all {
    color: white;
}





.more-from-vendor-title-conteiner {
    position: relative;
    height: 100px;
    /*margin-top: 20px;*/
    /*margin-bottom: 20px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*outline: 1px solid black;*/
}

.more-from-vendor-title {
    display: inline-block;
    left: 50%;
    width: 95px;
    height: 60px;
    margin: -56px;
    border-bottom: 2px solid red;
    white-space: nowrap

}

.text-vendor {
    font-family: Georgia;
    margin-left: -15%;
    /*top: 50%;*/
    font-size: 40px;
    color: #3e4546;
    position: absolute;
}


.gallery {
    display: flex;
    justify-content: center;
}

.product-card-carousel {
    width: 80%;
}

.product-card-carousel .slick-prev::before,
.product-card-carousel .slick-next::before {
    color: #3e4546;;
    font-size: 3vw;
    font-family: RobotoLight;
}

.product-card-carousel .slick-prev::before {
    content: "\2039";
}

.product-card-carousel .slick-next::before {
    content: "\203a";
}


.product-card-carousel .slick-prev,
.product-card-carousel .slick-next {
    position: absolute;
    top: 28%;
}

.product-card-carousel .slick-prev {
    left: -65px;
}

.product-card-carousel .slick-next {
    right: -65px;
}

.product-card-carousel.slick-initialized .slick-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-card-carousel .slick-slide img,
.product-card-carousel .title-product-gall {
    width: 90%;
}

.title-product-gall {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    flex-direction: column;
    border-top: 1px solid lightgray;
}

.title-product-gall .tit {
    margin-top: 5%;
    font-family: Georgia;
    color: #3e4546;
    font-size: 1.6vw;
}

.title-product-gall .vendor {
    font-size: 0.8vw;
    /*color: #e8ebef;*/
    color: #898f90;
    font-family: RobotoLight;
    margin-top: 1%;
}

.title-product-gall .price {
    font-size: 1vw;
    font-family: RobotoLight;
    color: #2a2a2a;
}











@media screen and (min-width: 1200px) {
    .product-list .item {/*4 items*/
        margin-left: 1%;
        margin-right: 1%;
        width: 23%;
    }
}

@media screen and (max-width: 1200px) {
    .product-list .item {/*3 items*/
        margin-left: auto;
        margin-right: auto;
        width: 30%;
    }
}












#footer {
    position: relative;
    width: 100%;
    height: 290px;
    background: #292929;
}

.footer-content {
    position: relative;
    margin-left: 7%;
    margin-right: 7%;
    height: 100%;
    background: #292929;
    white-space: nowrap;
    /*outline: 1px solid red;*/

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-logo {
    /*outline: 1px solid green*/
    display: inline-block;
    top: 0;
    bottom: 0;
    /*height: 100%;*/

}

.footer-logo_img {
    width: 19vw;
}

#footer-nav-menu {
    display: inline-block;
    /*margin-left: 100px;*/
    /*outline: 2px solid white;*/
    line-height: 1.3vw;
}

#footer-about_company {
    display: inline-block;
    /*margin-left: 100px;*/
    /*outline: 2px solid magenta;*/
    line-height: 1.3vw;
}

#footer-nav-menu .li a {
    font-size: 0.8vw;
    font-family: RobotoLight;
}

#footer-about_company .li a {
    font-size: 0.8vw;
    font-family: RobotoLight;
}


#footer-nav-menu .li:hover a {

    border-bottom: 2px solid red;
}

#footer-about_company .li:hover a {
    border-bottom: 2px solid red;
}

.img-footer {
    right: 0;
}

.social-inst,
.social-face {
    /*width: 35px;*/
    /*height: 35px;*/
    /*border-radius: 10px;*/
    background: #777777;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.social-inst a,
.social-face a {
    width: 35px;
    height: 35px;
    display: block;
    position: relative;
    margin: 3px;
}

.social-inst img,
.social-face img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

.social-inst .background,
.social-face .background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 10px;
}



.img-inst,
.img-face {
    position: relative;
    width: 100%;
    height: 100%;
    /*outline: 1px solid green;*/
}

.social-inst:hover .background {
    background: #0484b9;
}

.social-face:hover .background {
    background: #3B5998;
}


.footer-content .right-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65%;
}

.footer-content .right-block .social {
    display: flex;
    justify-content: center;
}


.footer-content .footer-logo,
.footer-content #footer-nav-menu,
.footer-content #footer-about_company,
.footer-content .right-block {
    margin-top: 50px;
}

.footer-content .img-footer-outlet {
    width: 25vw;
}





@media screen and (max-width: 1600px) {
    #header {
        height: 80px;
    }

    .footer-content .img-footer-outlet {
        width: 25vw;
    }
}

@media screen and (max-width: 1200px) {
    #header {
        height: 60px;
    }

    .footer-content .img-footer-outlet {
        width: 15vw;
    }
}

@media screen and (max-width: 900px) {
    #header {
        height: 48px;
    }

    .footer-content .img-footer-outlet {
        width: 10vw;
    }

    .footer-logo_img {
        width: 10vw;
    }
}





