.img-scale {
    position: relative;
}

.img-scale .about-img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.img-scale:hover {
    transform: scale(1.05);
    transition-duration: 0.1s;
    outline: 10px solid blue;
}

.img-scale .about-img-border {
    position: absolute;
    left: 40px;
    right: 40px;
    top: 30px;
    bottom: 30px;
    border: black 2px solid;
}

.img-scale .about-img-button {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.img-scale .about-img-button .button {
    border: white 2px solid;
}

.img-scale .about-img-button span {
    color: white;
}

.img-scale .about-img-button .button:hover span {
    color: red;
}

.img-scale .about-img-button .button:hover {
    border-color: red;
}