@font-face {
    font-family: RobotoLight;
    src: url(fonts/Roboto/Roboto-Light.ttf); /* Путь к файлу со шрифтом */
}

html {
    overflow-x: hidden;
}

* {
    color: #e8ebef;
}

body {
    display: block;
    margin: 0;
}

.wrapper {
    position: relative;
    width: 1908px;
    margin: 0;

    /*position: absolute;*/
    /*width: 100%;*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*height: 100%;*/
}

#header {
    position: relative;
    width: 100%;
    height: 110px;
    background: #292929;


    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 11%;*/
    /*background: #292929;*/
}

#header-content {
    position: relative;
    margin-left: 197px;
    margin-right: 192px;
    height: 100%;
    background: #292929;
    white-space: nowrap;


    /*position: absolute;*/
    /*left: 10%;*/
    /*right: 10%;*/
    /*height: 100%;*/
    /*background: #292929;*/
    /*white-space: nowrap;*/
}

#logo, .global-nav {
    vertical-align: top;
}

.global-nav {
    margin-left: 20px;
}

#logo {
    position: relative;
    display: inline-block;
    top: 0;
    bottom: 0;
    width: 261px;
    height: 100%;
}

#logo .logo_img {
    position: absolute;
    top: 0;
    left: 0;
    height: 139px;
    width: 261px;
}

a {
    text-decoration: none;
    color: #e8ebef;
    font-size: 65%;
}

.global-nav {
    position: relative;
    display: inline-block;
    width: 50%;
    min-width: 680px;
    top: 0;
    bottom: 0;
    height: 100%;
}

#login {
    position: relative;
    width: 200px;
    height: 100%;
    /*outline: 5px solid red;*/
    display: inline-block;
    right: -267px;


    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*right: 0;*/
    /*width: 200px;*/
}

#about_company {
    position: absolute;
    left: 0;
    width: 300px;
    height: 49%;
    text-align: justify;
    text-align-last: justify;
}

#about_company .li,
#nav-menu .li {
    margin-top: 10px;
    display: inline-block;
    font-family: RobotoLight;
    font-size: 19px;
}

#about_company .li {
    margin-top: 14px;
}

#about_company .li a {
    color: #9ba3aa;
}

.search_block {
    right: 0;
    top: 5px;
    position: absolute;
    width: 200px;
    height: 50%;
}

#nav-menu {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%;
    text-align: justify;
    text-align-last: justify;
}

#login .enter {
    position: absolute;
    left: 0;
    top: 10px;
    height: 50%;
    font-family: RobotoLight;
    font-size: 20px;
}

#login .enter a:first-child {
    padding-right: 12px;
    border-right: 1px solid #e8ebef;
    margin-right: 7px;
}

#login .heart {
    position: absolute;
    right: 0;
    top: 15px;
}

#login .phone {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%;
    margin-bottom: -10px;
    font-family: RobotoLight;
    font-size: 22px;
}

#login .heart .heart1 {
    display: inline-block;
}
#login .heart .heart2 {
    display: none;
}

#login .heart:hover .heart1 {
    display: none;
}

#login .heart:hover .heart2 {
    display: inline-block;
}

.search_block form {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.search_block button {
    position: absolute;
    background-color: white;
    border: 0;
    outline: none;
    right: 3px;
    top: 15px;
    height: 20px;
    cursor: pointer;
}

.search_block button img {
    cursor: pointer;
}

.search_block input {
    position: absolute;
    top: 10px;
    font-size: 13px;
    padding-right: 50px;
    width: 71%;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    color: black;
}


.new {
    position: relative;
    left: 0;
    right: 0;
    top: 13%;
    width: 100%;
}

.new-stub {
    clear: both;
    height: 50px;
}

.new-carousel .item {
    margin: 20px;

}

.new-carousel .item img {
    /*width: 98%;*/
    width: 100%;
}



.slick-dots li button:before {
    content: "\25A0" !important;
    font-size: 36px !important;
}

#content-wrapper {
    position: relative;
    margin-top: 20px;
    margin-left: 170px;
    margin-right: 170px;
    min-width: 1518px;

    /*position: absolute;*/
    /*left: 10%;*/
    /*right: 10%;*/
    /*top: 11%;*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*!*height: 100%;*!*/
    /*min-width: 1518px;*/
    /*!*outline: gold 5px solid;*!*/
}

.gallery-title {
    position: absolute;
    display: inline-block;
    left: 50%;
    width: 88px;
    height: 100px;
    top: -70px;
    margin: -56px;
    border-bottom: 2px solid red;
}

.gallery .item span {
    color: #3e4546;
}

.gallery .item span.tit {
    font-size: 32px;
    font-family: Georgia;
}

.gallery .item span.vendor {
    font-size: 15px;
    /*color: #e8ebef;*/
    color: #898f90;
    font-family: RobotoLight;
}

.gallery .item span.price {
    font-size: 22px;
    font-family: RobotoLight;
}

.gallery .title-new-product {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid #e8ebef;
}

.text-new {
    font-family: Georgia;
    margin-left: -15px;
    top: 50px;
    font-size: 40px;
    color: #3e4546;
    position: absolute;
}

.big_img {
    position: relative;
    left: 0;
    right: 0;
    top: 20%;
    width: 100%;
    height: 57%;
}

.big_img a img {
    position: relative;
    width: 100%;
    cursor: pointer;
}

.hover-border {
    display: none;
    position: absolute;
    left: 7%;
    right: 7%;
    top: 5%;
    bottom: 4%;
    outline: 1px solid white;
    z-index: 5;
}

.big_img:hover .hover-border {
    display: block;
}

.categories {
    position: relative;
    left: 0;
    right: 0;
    top: 20%;
    width: 100%;
    /*height: 57%;*/
    /*outline: 1px solid magenta;*/
}

.title-categories-container {
    position: relative;
    height: 115px;
    /*outline: 5px dashed red;*/
    margin-top: 20px;
}

.title-categories {
    position: absolute;
    display: inline-block;
    left: 50%;
    width: 100px;
    height: 120px;
    margin: -56px;
    border-bottom: 2px solid red;
}

.text-categories {
    font-family: Georgia;
    margin-left: -48px;
    top: 50%;
    font-size: 40px;
    color: #3e4546;
    position: absolute;
}

.categories-img {
    position: relative;
    width: 100%;
    top: 30%;
    min-height: 20px;
    /*outline: 10px solid black;*/
    text-align: justify;
    text-align-last: justify;
    /*margin-bottom: 500px;*/
}

.categories-img .cat-cont {
    display: inline-block;
    position: relative;
}

.categories-img .dark-layer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
    opacity: 0.3;
}

.categories-img .cat-cont__text {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-content: stretch;
}

.categories-img .cat-cont__text span {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.categories-img .cat-cont__text span {
    text-transform: uppercase;
    font-size: 32px;
    color: white;
}

.categories-img .cat-cont__border {
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;

    outline: white 2px solid;
    display: none;
}

.categories-img .cat-cont:hover .cat-cont__border {
    display: block;
}



.categories-img .categories__row1 .cat-cont,
.categories-img .categories__row1 .cat-cont img {
    height: 400px;
}
.categories-img .categories__row2 .cat-cont,
.categories-img .categories__row2 .cat-cont img {
    height: 375px;
}
.categories-img .categories__row3 .cat-cont,
.categories-img .categories__row3 .cat-cont img {
    height: 428px;
}
.categories-img .categories__row1,
.categories-img .categories__row2,
.categories-img .categories__row3 {
    margin-bottom: 40px;
}

/*.dark-layer {*/
    /*position: absolute;*/
    /*display: inline-block;*/
    /*width: 100px;*/
    /*height: 400px;*/
    /*background: black ;*/
    /*opacity: 0.5;*/
    /*z-index: 0;*/
    /*outline: 1px solid gold;*/
    /*text-align: justify;*/
    /*text-align-last: justify;*/
/*}*/







.stub {
    position: relative;
    height: 100px;
}



.about_us {
    position: relative;
    /*height: 500px;*/
    outline: 1px solid blanchedalmond;
}

#title-container-about-us {
    position: relative;
    height: 100px;
    outline: 5px dashed green;
    margin-top: 20px;
}

.title-about-us {
    position: absolute;
    display: inline-block;
    left: 50%;
    width: 80px;
    height: 110px;
    margin: -56px;
    border-bottom: 2px solid red;
    white-space: nowrap;
}

.text-about-us {
    font-family: Georgia;
    margin-left: -13px;
    top: 50%;
    font-size: 40px;
    color: #3e4546;
    position: absolute;
}

.about-comp,
.idea-for-home {
    position: relative;
    display: inline-block;
    width: 49%;
    height: 550px;
    outline: 1px solid red;
    text-align: justify;
    text-align-last: justify;
}

.about-comp {
    margin-right: 25px;
}

.img-about-comp,
.img-idea-for-home {
    position: absolute;
    display: inline-block;
    width: 768px;
    height: 55%;
}

.about-comp-picture,
.idea-for-home-picture {
    position: absolute;
    top: 0;
    height: 300px;
    width: 770px;
}









.contacts {
    position: relative;
    /*height: 50px;*/
    outline: 1px solid blanchedalmond;
}

#container-contacts-text {
    position: relative;
    height: 130px;
    outline: 5px dashed green;
    margin-top: 20px;
}

.title-contacts {
    position: absolute;
    display: inline-block;
    left: 50%;
    width: 80px;
    height: 180px;
    margin: -56px;
    border-bottom: 2px solid red;
    white-space: nowrap;
}

.text-contacts {
    font-family: Georgia;
    margin-left: -54px;
    top: 125px;
    font-size: 40px;
    color: #3e4546;
    position: absolute;
}
/*.table-contacts1,*/
/*.table-contacts2 {*/
    /*position: relative;*/
    /*display: inline-block;*/
    /*width: 49%;*/
    /*height: 550px;*/
    /*outline: 1px solid red;*/
    /*text-align: justify;*/
    /*text-align-last: justify;*/
/*}*/


.contacts .contacts-contacts {
    outline: 5px solid red;
    width: 100%;
    /*height: 300px;*/



    display: flex;
    justify-content: space-between;
}

.contacts .contacts-contacts p {
    color: #3e4546;
}



.contacts .contacts-contacts .kiev,
.contacts .contacts-contacts .kharkiv,
.contacts .contacts-contacts .dnepr {
    outline: green solid 8px;
    display: flex;
    flex-wrap: wrap;

}

.contacts .contacts-contacts .kiev .cont-item {
    display: inline-block;
    flex: 1 0 50%;
}

.contacts .contacts-contacts .kharkiv .cont-item,
.contacts .contacts-contacts .dnepr .cont-item {
    flex: 1 0 100%;
}








.contacts_map {
    position: relative;
    width: 100%;
    outline: 1px solid blanchedalmond;
}

.contacts_map img {
    position: relative;
    width: 1899px;
    margin-left: -170px;

}

.contacts_feedback {
    position: relative;
    height: 400px;
    outline: 1px solid blanchedalmond;
}

#container-title-feedback {
    position: relative;
    height: 130px;
    outline: 5px dashed green;
    margin-top: 20px;
}

.title-feedback {
    position: absolute;
    display: inline-block;
    left: 50%;
    width: 90px;
    height: 180px;
    margin: -56px;
    border-bottom: 2px solid red;
    white-space: nowrap;
}

.text-feedback {
    font-family: Georgia;
    margin-left: -120px;
    top: 125px;
    font-size: 40px;
    color: #3e4546;
    position: absolute;
}











#footer {
    position: relative;
    width: 100%;
    height: 290px;
    background: #292929;
}

.footer-content {
    position: relative;
    margin-left: 197px;
    margin-right: 192px;
    height: 100%;
    background: #292929;
    white-space: nowrap;
    /*outline: 1px solid red;*/

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-logo {
    /*outline: 1px solid green*/
    display: inline-block;
    top: 0;
    bottom: 0;
    width: 370px;
    height: 100%;

}

.footer-logo_img {
    position: absolute;
    top: 55px;
    left: 0;
    height: 190px;
    width: 370px;
}

.footer-global-nav {
    width: 455px;
    min-width: 455px;
    height: 195px;
    /*outline: 2px solid blue;*/
    margin-top: 55px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#footer-nav-menu {
    display: inline-block;
    margin-left: 100px;
    /*outline: 2px solid white;*/
    font-size: 19px;
    line-height: 20px;
}

#footer-about_company {
    display: inline-block;
    margin-left: 100px;
    /*outline: 2px solid magenta;*/
    font-size: 19px;
    line-height: 20px;
}

.footer-global-nav #footer-nav-menu .li,
.footer-global-nav #footer-about_company .li
{
    border-bottom: 1px solid red;
}

.img-footer {
    /*outline: 1px solid green;*/
    position: absolute;
    display: inline-block;
    right: 0;
    top: 53px;
    width: 635px;
    height: 50%;
}

.img-footer-outlet {
    position: absolute;
    top: 0;
    right: 0;
    height: 110px;
    width: 620px;
}

