<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Freedom Outlet</title>

    @{import('jquery-3.2.0.min.js')}
    @{import('global/global.css')}
    @{import('global/product-item.css')}
    @{import('global/font-awesome.min.css')}
    @{import('global/search.css')}
    @{import('parts/headers/header_idea.css')}
    @{import('header_idea.js')}
    @{import('map.js')}
    @{import('mail_client.js')}
    @{import('jquery.maskedinput.js')}
        @{import('global/sub-dir.css')}
        @{import('sub-dir.js')}
    @{import('base_content/contacts.css')}
    @{import('search.js')}
    @{import('parts/footer/footer.css')}

</head>
<body>
    @{view('parts/headers/header_idea')}
    <div id="content">
        @{body}
    </div>
    <div id="footer">
        @{view('parts/footer/footer')}
    </div>
</body>
</html>