<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Freedom Outlet</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="../img/favicon.ico" />

    @{import('jquery-3.2.0.min.js')}

    @{import('global/global.css')}
    @{import('global/font-awesome.min.css')}
    @{import('global/search.css')}
    @{import('parts/headers/header_compact.css')}
    @{import('parts/footer/footer.css')}
        @{import('global/sub-dir.css')}
        @{import('sub-dir.js')}
    @{import('base_content/list-products.css')}

    @{import('global/modal.css')}
    @{import('list_product.js')}
    @{import('modal.js')}
    @{import('favorites.js')}
    @{import('jquery.maskedinput.js')}
    @{import('search.js')}
</head>

<body>
    <div id="overlay"></div>
    @{view('modal/login')}
    @{view('modal/reset_password')}

        @{view('parts/headers/header_compact')}
        @{body}
        @{view('parts/footer/footer')}
</body>
</html>