<div class="footer-content">
    <div class="footer-logo">
        <img class="footer-logo_img" src="img/logo3.png">
    </div>
    <div id="footer-nav-menu" class="footer-ul">
        <div class="li"><a href="#">КУХНИ</a></div>
        <div class="li"><a href="#">СПАЛЬНИ</a></div>
        <div class="li"><a href="#">МЯГКАЯ</a></div>
        <div class="li"><a href="#">ГОСТИНЫЕ</a></div>
        <div class="li"><a href="#">СТОЛОВЫЕ</a></div>
        <div class="li"><a href="#">ЛЮСТРЫ</a></div>
        <div class="li"><a href="#">САНТЕХНИКА</a></div>
        <div class="li"><a href="#">АКСЕССУАРЫ</a></div>
    </div>
    <div id="footer-about_company" class="footer-ul">
        <div class="li"><a href="#">О КОМПАНИИ</a></div>
        <div class="li"><a href="#">ИДЕИ ДЛЯ ДОМА</a></div>
        <div class="li"><a href="#">КОНТАКТЫ</a></div>
    </div>
    <div class="right-block">
        <div class="img-footer">
            <img class="img-footer-outlet" src="img/footer/outlet-footer.png">
        </div>
        <div class="social">
            <div class="social-inst">
                <a href="#">
                    <img class="img-inst" src="img/footer/instagram.png">
                </a>
            </div>
            <div class="social-face">
                <a href="#">
                    <img class="img-face" src="img/footer/facebook.png">
                </a>
            </div>
        </div>

    </div>
</div>
