<div id="header-content">
    <div id="logo">
        <img class="logo_img" src="img/logo3.png">
    </div>
    <nav class="global-nav">
        <div class="row1">
            <div id="about_company" class="ul">
                <div class="li"><a href="#">О КОМПАНИИ</a><div class="border"></div></div>
                <div class="li"><a href="#">ИДЕИ ДЛЯ ДОМА</a><div class="border"></div></div>
                <div class="li"><a href="#">КОНТАКТЫ</a><div class="border"></div></div>
            </div>
            <div class="search_block">
                <form>
                    <input type="text" placeholder="Поиск">
                    <button type="submit" class="search"><img src="img/search.png" height="17"></button>
                </form>
            </div>
        </div>
        <div class="row2">
            <div id="nav-menu" class="ul">
                <div class="li"><a href="#">КУХНИ</a><div class="border"></div></div>
                <div class="li"><a href="#">СПАЛЬНИ</a><div class="border"></div></div>
                <div class="li"><a href="#">МЯГКАЯ</a><div class="border"></div></div>
                <div class="li"><a href="#">ГОСТИНЫЕ</a><div class="border"></div></div>
                <div class="li"><a href="#">СТОЛОВЫЕ</a><div class="border"></div></div>
                <div class="li"><a href="#">ЛЮСТРЫ</a><div class="border"></div></div>
                <div class="li"><a href="#">САНТЕХНИКА</a><div class="border"></div></div>
                <div class="li"><a href="#">АКСЕССУАРЫ</a><div class="border"></div></div>
            </div>
        </div>
    </nav>
    <div id="login">
        <div class="enter">
            <a href="#">Войти</a>
            <a href="#">Регистрация</a>
        </div>
        <div class="heart">
            <a href="#">
                <img class="heart1" src="img/heart-1.png">
                <img class="heart2" src="img/heart-2.png">
            </a>
        </div>
        <span class="phone">+38 (067) 329 08 45</span>
    </div>
</div>
