<!DOCTYPE html>
<html lang="en">
<head>
    @{head('http://cdn.jsdelivr.net/jquery.slick/1.3.7/slick.css')}
    @{head('http://code.jquery.com/jquery-1.11.0.min.js')}
    @{head('http://code.jquery.com/jquery-migrate-1.2.1.min.js')}
    @{head('http://cdn.jsdelivr.net/jquery.slick/1.3.7/slick.min.js')}

    @{head('main.js')}
</head>
        <div id="content-wrapper">
            <div class="stub"></div>
            <div class="new">
                <div class="gallery-title">
                    <span class="text-new">Новое</span>
                </div>
                <div class="gallery">
                    <div class="new-carousel">
                        <div class="item">
                            <img src="@{'new-carousel/gostinnaya.png'}" alt="Image 1">

                        </div>
                        <div class="item">
                            <img src="@{'new-carousel/divan.png'}" alt="Image 1">
                            <div class="title-new-product">
                                <span class="tit">Диван</span>
                                <span>AGATHA</span>
                                <span>89 000 UAH</span>
                            </div>
                        </div>
                        <div class="item">
                            <img src="@{'new-carousel/spalnya.png'}" alt="Image 1">
                            <div class="title-new-product">
                                <span class="tit">Спальня</span>
                                <span>AGATHA</span>
                                <span>89 000 UAH</span>
                            </div>
                        </div>
                        <div class="item">
                            <img src="@{'new-carousel/gostinnaya.png'}" alt="Image 1">
                            <div class="title-new-product">
                                <span class="tit">Гостинная</span>
                                <span>AGATHA</span>
                                <span>89 000 UAH</span>
                            </div>
                        </div>
                        <div class="item">
                            <img src="@{'new-carousel/divan.png'}" alt="Image 1">
                            <div class="title-new-product">
                                <span class="tit">Диван</span>
                                <span>AGATHA</span>
                                <span>89 000 UAH</span>
                            </div>
                        </div>
                        <div class="item">
                            <img src="@{'new-carousel/spalnya.png'}" alt="Image 1">
                            <div class="title-new-product">
                                <span class="tit">Спальня</span>
                                <span>AGATHA</span>
                                <span>89 000 UAH</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="new-stub"></div>
            </div>
            <div class="big_img">
                <a href="#">
                    <img src="@{'first-mebelnyi-outlet-2.png'}">
                    <div class="hover-border"></div>
                </a>
            </div>
            <div class="categories">
                <div class="title-categories-container">
                    <div class="title-categories">
                        <span class="text-categories">Категории</span>
                    </div>
                </div>

                <div class="categories-img">
                    <div class="categories__row1">
                        <img class="soft-furnisings" src="img/categories/soft%20furnishings.png">
                        <img class="bedroom" src="img/categories/bedroom.png">
                        <img class="living-room" src="img/categories/living%20room.png">
                    </div>
                    <div class="categories__row2">
                        <img class="dining-room" src="img/categories/dining%20room.png">
                        <img class="kitchen" src="img/categories/kitchen.png">
                        <img class="accessories" src="img/categories/accessories.png">
                    </div>
                    <div class="categories__row3">
                        <img class="chandeliers" src="img/categories/chandeliers.png">
                        <img class="plumbing" src="img/categories/plumbing.png">
                    </div>
                    <!--<img class="soft-furnisings" src="img/categories/soft%20furnishings.png">-->
                    <!--<img class="bedroom" src="img/categories/bedroom.png">-->
                    <!--<img class="living-room" src="img/categories/living%20room.png">-->
                    <!--<img class="dining-room" src="img/categories/dining%20room.png">-->
                    <!--<img class="kitchen" src="img/categories/kitchen.png">-->
                    <!--<img class="accessories" src="img/categories/accessories.png">-->
                    <!--<img class="chandeliers" src="img/categories/chandeliers.png">-->
                    <!--<img class="plumbing" src="img/categories/plumbing.png">-->
                </div>
            </div>
            <div class="about_us"></div>
            <div class="contacts_text"></div>
            <div class="contacts_map"></div>
            <div class="contacts_feedback"></div>
        </div>
    </div>
</html>