@font-face {
    font-family: Roboto-LightItalic;
    src: url(fonts/Roboto/Roboto-LightItalic.ttf); /* Путь к файлу со шрифтом */
}

.modal_div {
    /*width: 300px;*/
    /*height: 300px;*/
    border: 3px #000 solid;
    background: #fff;
    position: fixed;
    top: 45%;
    left: 40%;
    margin-top: -150px;
    margin-left: -150px;
    display: none;
    opacity: 0;
    z-index: 55;
    padding: 20px 10px;
}

.modal_div .modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
    z-index:90;
}

.cross-img:hover {
    outline: 1px solid gray;
}

#overlay {
    z-index: 7;
    position: fixed;
    background-color: #000;
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

#register_modal {
    left: 40%;
}







.login-form {
    display: inline-block;
    position: static;
    margin: 2vw;

}


.login-form .row2 {
    margin-top: 1vw;
    display: flex;
    justify-content: center;
}

.login-form .row2 .neat-button:hover {
    background: #2a2a2a;
    color: white;
}

.login-form .row1 .neat-input {
    width: 255px;
    margin-right:5px;
}

.login-form .row2 .neat-button {
    width: 100%;
    cursor: pointer;
}

#login_modal .login-form .row2 div a {
    display: inline-block;
    margin-top: 5%;
    color: #9ba3aa;
    font-family: RobotoLight;
    font-size: 13px;
}

#login_modal .login-form .row2 label {
    display: flex;
    font-size: 17px;
    font-family: RobotoLight;
    color: #2a2a2a;
    margin-top: 5%;
}

/*#login_modal .login-form .row2 {*/
    /*margin-top: 4vw;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*!*flex-direction: column;*!*/
    /*!*align-items: center;*!*/
/*}*/

#login_modal .login-form .row2 div {
    display: inline-block;
    width: 40%;
}

/*#login_modal label[for=remember-me]:before {
    content:'';
    display:block;
    height:20px;
    width:20px;
    outline:1px solid #939598;
    top:0;
    font-family: RobotoLight;
}

#login_modal input[type=checkbox] {
    display:none;
}

#login_modal label[for=remember-me] span {margin-left: 10px}*/


/*.login_modal__title-container {*/
    /*position: relative;*/
    /*height: 130px;*/
    /*margin-top: 20px;*/
/*}*/
/*.login_modal__title-cont {*/
    /*position: absolute;*/
    /*display: inline-block;*/
    /*left: 50%;*/
    /*width: 80px;*/
    /*height: 180px;*/
    /*margin: -56px;*/
    /*border-bottom: 2px solid red;*/
    /*white-space: nowrap;*/
/*}*/
/*.login_modal__title-text {*/
    /*font-family: Georgia;*/
    /*margin-left: -54px;*/
    /*top: 125px;*/
    /*font-size: 40px;*/
    /*color: #3e4546;*/
    /*position: absolute;*/
/*}*/



.login_modal__title-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.login_modal__title-text {
    font-family: Georgia;
    font-size: 40px;
    color: #3e4546;
}

.login_modal__title-border {
    position: absolute;
    bottom: -10px;
    width: 16%;
    left: 42%;
    border-bottom: 2px solid red;
}



#register_modal .register-form {
    display: inline-block;
    position: static;
    /*width: 50%;*/
    /*height: 300px;*/
    /*outline: 1px solid blue;*/
    margin: 2vw;
}

#register_modal .register-form .row1 {
    display: flex;
    justify-content: space-between;
    width: 555px;
}

#register_modal .register-form .row2 {
    margin-top: 0.4vw;
    display: flex;
    justify-content: space-between;
    width: 555px;
}

#register_modal .register-form .row3 {
    margin-top: 0.5vw;
    display: flex;
    justify-content: center;
    width: 555px;
    position: relative;
}



#register_modal .register-form .row4 {
     margin-top: 4vw;
     display: flex;
     justify-content: center;
     /*flex-direction: column;*/
     /*align-items: center;*/
 }

#register_modal .register-form .row4 div {
    display: inline-block;
    width: 40%;
}

#register_modal .register-form .row4 div .neat-button {
    width: 100%;
}

#register_modal .register-form .row4 div .neat-button:hover {
    background: #2a2a2a;
    cursor: pointer;
    color: white;
}

#register_modal .register-form .row4 label {
    display: flex;
    font-size: 17px;
    font-family: RobotoLight;
    color: #2a2a2a;
    margin-top: 5%;
}

#register_modal .register-form .row1 .neat-input,
#register_modal .register-form .row2 .neat-input {
    width: 49%;
}

#register_modal .register-form .row4 div a {
    display: inline-block;
    margin-top: 5%;
    color: #9ba3aa;
    font-family: RobotoLight;
    font-size: 13px;
}













/*#register_modal .register-form .row3 .reverse {*/
    /*display: flex;*/
    /*flex-direction: row-reverse;*/
    /*font-size: 17px;*/
    /*font-family: RobotoLight;*/
    /*color: #2a2a2a;*/
    /*margin-right: 3%;*/
/*}*/

#register_modal label {
    display: flex;
    font-size: 17px;
    font-family: RobotoLight;
    color: #2a2a2a;
}

#register_modal .row3 label {
    position: absolute;
    width: 49%;
}

#register_modal .row3 label.left {
    left: 0;
    justify-content: flex-end;
}
#register_modal .row3 label.right {
    right: 0;
    justify-content: flex-start;
}

#register_modal .row3 .checkbox-info {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    top: 1.5vw;
    left: 55%;
    line-height: 0.5vw;
}

#register_modal .row3 .checkbox-info span {
    font-size: 12px;
    color: #9ba3aa;
    font-family: Roboto-LightItalic;
}

#register_modal input[type=radio],
input[type=checkbox] {
    display:none;
}

#register_modal .row3 label.left:after,
#register_modal .row3 label.right:before {
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    outline: 1px solid #939598;
    top: 0;
    font-family: RobotoLight;
    cursor: pointer;
}

#register_modal .row3 #check:checked ~ label[for=check]:after,
#register_modal .row3 #check2:checked ~ label[for=check2]:before {
    background: url("../img/checkmark.png");
    background-size: cover;
    /*content: '✓';*/
    /*!*\e013*!*/
}

#register_modal .row3 label.left span {margin-right: 10px}
#register_modal .row3 label.right span {margin-left: 10px}
#register_modal label[for=remember] span {margin-left: 10px}


input[type="checkbox"] + label span {
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    outline: 1px solid #939598;
    top: 0;
    font-family: RobotoLight;
    margin-right: 10px;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background: url("../img/checkmark.png");
    background-size: cover;
}

input[type="checkbox"] + label {
    color: #f2f2f2;
}








.modal_feedback .neat-input {
    background: #ffffff !important;
    // желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым outline: none;
    // удаляет обводку в браузерах хром(желтая) и сафари(синяя) height: 24px;
    height: 57px;
    color: #2a2a2a !important;
    font-size: 1.1vw;
    font-family: RobotoLight;
    text-align: center;
    width: 50%;
    margin-left: 5px;
    margin-right: 5px;
}

.neat-input:focus {
    outline: 1px solid #2a2a2a;
    border: 1px solid #2a2a2a;
}

.modal_feedback .neat-textarea {
    width: 99%;
    height: 112px;
    margin-top: 10px;
    color: #2a2a2a !important;
    font-family: RobotoLight;
    text-align: center;
    font-size: 1.1vw;
    resize: none;
}

.modal_feedback .neat-textarea:focus {
    outline: 1px solid #292929;
    border: 1px solid #292929;
}

.modal_feedback .neat-button {
    width: 40%;
    height: 65px;
    background: white;
    color: #2a2a2a;
    font-family: RobotoLight;
    font-size: 1.1vw;
    box-shadow: none !important;
    margin-top: 5px
}

    .neat-button:focus {
        outline: 1px solid #2a2a2a;
        border: 1px solid #2a2a2a;
    }

.neat-input,
.neat-textarea,
.neat-button {
    border: 1px solid #2a2a2a;
}

.neat-input {
    background: #ffffff !important;
    // желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым outline: none;
    // удаляет обводку в браузерах хром(желтая) и сафари(синяя) height: 24px;
    height: 57px;
    color: #2a2a2a !important;
    font-size: 1.1vw;
    font-family: RobotoLight;
    text-align: center;
}

#validate_modal_Global,
#validate_modal_Name,
#validate_modal_Phone,
#validate_modal_Message,
#validate_modal_Mail,
#validate_modal_Pass,
#validate_modal_Reg,
.validate_modal_Title {
    font-family: RobotoLight;
    color: red;
    visibility: hidden;
}

.modal_reg #validate_modal_Global,
.modal_feedback #validate_modal_Global,
.modal_feedback .validate_modal_Title {
    display: flex;
    justify-content: flex-end;
}

.modal_feedback #validate_modal_Name {
    position: absolute;
    padding-left: 45%;
}

.modal_feedback #validate_modal_Phone {
    position: absolute;
    padding-left: 93%;
}

.modal_feedback #validate_modal_Message {
    position: absolute;
    padding-left: 93%;
    padding-top: 10px;
}

.modal_feedback .row1 {
    display: flex;
    justify-content: space-between;
    width:555px;
}

.modal_feedback .row2 {
    margin-left: 5px;
    margin-right: 5px;
}

.modal_feedback .row3 {
    display: flex;
    justify-content: center;
}

#offer_modal{
    left:40%;
}

.neat-button {
    width: 40%;
    height: 65px;
    background: white;
    color: #2a2a2a;
    font-family: RobotoLight;
    font-size: 1.1vw;
    box-shadow: none !important;
    margin-top: 5px
}

.validateTitle {
    font-family: RobotoLight;
    color: red;
    visibility: hidden;
}

.validateTitle {
    display: flex;
    justify-content: flex-end;
}

#reset-form {
    display: grid;
    margin-top: 50px;
}

input[name="reset_password"] {
    width: 80%;
    margin: 0px auto;
}

.reset_button {
    margin: 50px auto;
}

#reset_password_modal {
    z-index: 60;
}

#reset_password_modal .neat-button:hover {
    background: #2a2a2a;
    cursor: pointer;
    color: white;
}

.reset_help {
    width: 100%;
    display: inline-block;
    margin-top: 5%;
    color: #9ba3aa;
    font-family: RobotoLight;
    font-size: 13px;
    text-align: center;
}