table {
    width: 300px;
    border-collapse: collapse;
}

td, th {
    padding: 3px;
    border: 1px solid black;
}

#register-form {
    position: fixed;
    top:200px;
    left:200px;
    display:none;
}

#login-form-container {
    position: fixed;
    top: 200px;
    left: 200px;
    display: none;
}

h2{
    color: black
}

a {
    color: black
}