@{layout('/layouts/idea-for-home-one/layout')}
<head>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeCVF0-LF2T75pmOVD9nc33Gv7KTO9o1g"></script>
</head>

<div class="idea-background">
    <img src="/img/idea-background.png">
    <div class="white-dice">
        <img src="/img/white-dice.png">
        <div class="text-white-dice-comtainer">
            <div class="border-text-white-dice">
                <span>ИДЕИ ДЛЯ ДОМА</span>
            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="enter-container">
        <div class="enter-tit">
            <span>
                10 ПРОСТЫХ ИДЕЙ<br>
                ДЛЯ НОВОГОДНЕГО ДЕКОРА<br>
            </span>
        </div>
        <div class="enter">
            <span>
                До новогодних и рождественских праздников осталось совсем чуть-чуть, так что всем,<br>
                кто еще не успел или не придумал, как украсить интерьер - пригодится парочка интересных идей.<br>
                <br>
                Тем более что мы выбрали самые простые и стильные. Времени ведь немного!
            </span>
        </div>
    </div>
    <div class="img-block-1">
        <img src="/img/idea-one-img-1.png">
    </div>
    <div class="text-block-1">
       <p>
           Елочные игрушки своими руками уже давно в моде, и сделать<br>
           их из проволоки и стекляруса очень просто. К тому же, это<br>
           красиво! Рождественская звезда - неотъемлемый атрибут<br>
           будущих праздников.<br>
           <br>
           Который не должен сказать, что интерьеры, которые он создает не<br>
           разделяют узнаваемые черты. Там всегда чувство равновесия,<br>
           определенная упорядоченность и огромная точность. "У него есть<br>
           отличный способ с объемами, говорит KALT. Сам Зана отмечает<br>
           характерную палитру ("гармоний серых и зеленых") и использование<br>
           более традиционных архитектурныхдеьализаций, часто в виде панелей<br>
           и карнизов, вдохновленный моделями 18-го века. Его медель, тем<br>
           временем, безошибочно современным. Он часто поручит отрывки из <br>
           таких соременных дизайнеров как Эрик Шмитт и JOHANNA GRAWUNDER<br>
           исмешивать их с классикой 20-го века подобными Шарлотта PERRIAND<br>
           и Роджер Таллон. И у него есть первостепенная страсть к<br>
           послевоенному итальянскому дизайну. "Было отличное качество как для<br>
           разработки и производства", объясняет он. "плюс ко всему, есть что -<br>
           то беззаботное, который мне нравиться. - Немного сладкой жизни духа"<br>
       </p>
    </div>
    <div class="img-block-2">
        <img src="/img/idea-one-img-2.png">
    </div>
    <div class="img-block-3">
        <img src="/img/idea-one-img-3.png">
    </div>
    <div class="text-block-2">
        <span>
            Предлагаем тебе выкрасить хвост белой краской, закрепить в виде <br>
            звезды клеем-пистолетом и задекорировать гирляндой (просто<br>
            обмотай ее вокруг веток).<br>
        </span>
    </div>
    <div class="text-block-3">
        <span>
            Любой праздник станет ярче, если к декорированию простых вещей<br>
            подойти нестандартно. Как нащет рождественских оленей? Просто<br>
            прикрепи "ушки" из фетра и красные бусины к традиционному<br>
            елочному шару (желательно матовому).<br>
        </span>
    </div>
    <div class="img-cont">
        <div class="img-block-4">
            <img src="/img/idea-one-img-4.png">
        </div>
        <div class="img-block-5">
            <img src="/img/idea-one-img-5.png">
        </div>
    </div>
    <div class="text-block-4">
        <span>
            Лови еще один вариант: елочные шары, задекорированые старыми<br>
            компакт-дисками. Просто раздроби последние на мелкие кусочки и <br>
            закрепи с помощью клея.<br>
            <br>
            <br>
            Нравятся фоточки INSTAGRAM? Распечатай их, сделай рамки из<br>
            картона, пластика или фанеры и используй в качественовогоднего<br>
            украшения. Просто и ярко.<br>
            <br>
            <br>
            Возьми новогодние украшения (всевозможные игрешки, банты,<br>
            бусины) и разложи все в глубокой тарелке или вазе (вместо фруктов).<br>
            Проще некуда, но от этого не менее красиво и стильно.<br>
        </span>
    </div>
    <div class="text-block-5">
        <span>
            Новогодний декор из бумаги - обширное поле для творчества. Кто<br>
            из нас не вырезал снежинки? Чтоб не заморичиваться с ними,<br>
            вырежи елочки или звезды и с помощью клея закрепи на одной<br>
            нитке или бечовке.<br>
            <br>
            Красивые новогодние композиции под стеклянной колбой - это то,<br>
            что используется в качестве украшений и сувениров уже долгие<br>
            годы. Как вариант, сделай свой архитектурный шедевр под<br>
            декоративной колбой или обычной банкой.<br>
            <br>
            Какой может быть Новый год без снеговиков. А если снега нет?<br>
            Сделай их из пластилина или полимерной глины, дополни веточками <br>
            и раскрась маркером. Прекрасное дополнение праздничного стола.<br>
        </span>
    </div>
    <div class="text-block-center">
        <span>
            "Все эти безделушки, все этимодные предметы роскоши - <br>
            вовсе не чепуха, вовсе не выдумка корыстных фабрикантов и<br>
            торговцев, а полноправный, прекрасный, разнообразный <br>
            маленький, или, вернее, большой мир вещей, имеющих одну<br>
            единственную цель - служить любви, обострять чувства, <br>
            оживлять мертвую окружающую среду, волшебно наделяя ее<br>
            новыми органами любви ..."*<br>
            *(Герман Гессе, Степной волк)<br>
        </span>
    </div>
</div>



