#header {
    position: relative;
    width: 100%;
    height: 130px;
    background: #292929;
    z-index: 10;
}

#header-content {
    position: relative;
    margin-left: 7%;
    margin-right: 7%;
    height: 100%;
    background: #292929;
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;

}

#logo, .global-nav {
    vertical-align: top;
}

#logo {
    position: relative;
    display: inline-block;
    /*top: 0;*/
    /*bottom: 0;*/
    width: 22%;
    height: 100%;
}

#logo .logo_img {
    position: relative;
    /*top: 0;*/
    /*left: 0;*/
    /*height: 150%;*/
    width: 100%;
}

.global-nav {
    width: 52%;
    height: 88%;
    margin-left: 2%;
    margin-top: 0.5%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.global-nav .row1,
.global-nav .row2 {
    position: relative;
}

#about_company {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 47%;
    height: 45%;
}

#about_company .li,
#nav-menu .li {
    display: inline-block;
    font-family: RobotoLight;
    font-size: 14px;
    position: relative;
    cursor: pointer;
}

/*#about_company .li .border,*/
#nav-menu .li .border {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: -5px;
}

/*#about_company .li:hover .border,*/
#nav-menu .li:hover .border {
    border-bottom: 2px solid red;
}

/*#about_company .li a {*/
    /*color: #9ba3aa;*/
/*}*/

#about_company a .li {
    color: #9ba3aa;
}

#about_company a .li:hover {
    color: red;
}

/*#about_company .active {*/
    /*color: red;*/
/*}*/

#nav-menu {
    position: relative;
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    height: 40%;
    display: flex;
    justify-content: space-around;
    /*text-align: justify;*/
    /*text-align-last: justify;*/
}

.phone {
    position: absolute;
    display: inline-block;
    height: 50%;
    right: 30px;
    top: 16%;
}

.phone .phone-text {
    position: relative;
    font-family: RobotoLight;
    font-size: 1.1vw;
    color: #e8ebef;
}

search_block {
    right: 0;
    top: 1%;
    position: absolute;
    height: 100%;
    left: 68%;
    z-index: 5;
    padding: 0.2vw;
}

.search_block form {
    position: absolute;
    /*left: 0;*/
    right: -9px;
    /*top: 0;*/
    width: 16%;
    height: 23%;
    bottom: 24px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search_block button {
    position: absolute;
    right: 0;
    height: 1.5vw;
    background-color: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    z-index: 50;
    margin-right: 5px;;

}

.search_block button img {
    position: absolute;
    height: 70%;
    cursor: pointer;
    top: 3px;
    right: 7px;
}

.search_block input {
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 0.7vw;
    right: 40px;
    text-indent: 10px;
    background: #e8ebef;
    outline: none;
    border: none;
}

.search_block input:focus {
    outline: none;
    border: none;
}

.logo-cont {
    position: relative;
}



.breadcrumbs {
    display: inline-block;
    position: absolute;
    right: -14vw;
    bottom: 0;
}

.breadcrumbs ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumbs ul li {
    display: inline-block;
    font-size: 1.1vw;
    color: darkslategray;
    font-family: RobotoLight;
}

.breadcrumbs ul li.last {
    padding-left: 5px;
}

.breadcrumbs ul li:after {
    content: "/";
    padding-left: 8%;
    padding-right: 2%;
    color: darkgray;
}

.breadcrumbs ul li:last-child:after {
    content: none;
    padding: 0;
}

.breadcrumbs ul li a {
    color: darkgray;
}

.breadcrumbs ul li:last-child a {
    color: darkgray;
}