@{layout('/layouts/idea-for-home/layout')}
<head>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeCVF0-LF2T75pmOVD9nc33Gv7KTO9o1g"></script>
</head>

<div class="list-ideas">
    <div class="main-ideas">
        <img src="img/idea-0.png">
        <div class="title">
            <span>asdf</span>
        </div>
        <div class="text">
            <span>asdf</span>
        </div>
        <div class="button">
            <span>asdf</span>
        </div>
    </div>
    <div class="another-ideas">
        <div class="idea-item">
            <img class="img-1" src="img/idea-1.png">
            <div class="title">
                <span>asdf</span>
            </div>
            <div class="text">
                <span>asdf</span>
            </div>
            <div class="button">
                <span>asdf</span>
            </div>
            <div class="dark-layer"></div>
        </div>
        <div class="idea-item">
            <img class="img-2" src="img/idea-2.png">
            <div class="title">
                <span>asdf</span>
            </div>
            <div class="text">
                <span>asdf</span>
            </div>
            <div class="button">
                <span>asdf</span>
            </div>
            <div class="dark-layer"></div>
        </div>
        <div class="idea-item">
            <img class="img-3" src="img/idea-3.png">
            <div class="title">
                <span>asdf</span>
            </div>
            <div class="text">
                <span>asdf</span>
            </div>
            <div class="button">
                <span>asdf</span>
            </div>
            <div class="dark-layer"></div>
        </div>
        <div class="idea-item">
            <img class="img-4" src="img/idea-4.png">
            <div class="title">
                <span>asdf</span>
            </div>
            <div class="text">
                <span>asdf</span>
            </div>
            <div class="button">
                <span>asdf</span>
            </div>
            <div class="dark-layer"></div>
        </div>
        <div class="idea-item">
            <img class="img-5" src="img/idea-5.jpg">
            <div class="title">
                <span>asdf</span>
            </div>
            <div class="text">
                <span>asdf</span>
            </div>
            <div class="button">
                <span>asdf</span>
            </div>
            <div class="dark-layer"></div>
        </div>
        <div class="idea-item">
            <img class="img-6" src="img/idea-6.jpg">
            <div class="title">
                <span>asdf</span>
            </div>
            <div class="text">
                <span>asdf</span>
            </div>
            <div class="button">
                <span>asdf</span>
            </div>
            <div class="dark-layer"></div>
        </div>
    </div>
</div>


