@{import('main/header-style.css')}

<div id="header-content">
    <div id="logo">
        <a href="/"><img class="logo_img" src="img/logo3.png"></a>
    </div>
    <nav class="global-nav">
        <div class="row1">
            <div id="about_company" class="ul">
                <a href="/about"><div class="li">О КОМПАНИИ<div class="border"></div></div></a>
                <a href="/idea-for-home"><div class="li">ИДЕИ ДЛЯ ДОМА<div class="border"></div></div></a>
                <a href="/contacts"><div class="li">КОНТАКТЫ<div class="border"></div></div></a>
            </div>
            <div class="search_block">
                <form>
                    <!--<input class="placeholder" type="text" placeholder="Поиск">-->
                    <input id="search_box" type="text" placeholder="Поиск">
                    <button type="submit" class="search"><img src="img/search.png" height="17"></button>
                </form>
            </div>
        </div>
        <div class="row2">
            <div id="nav-menu" class="ul" >
                <a href="/products/kitchen"><div class="li">КУХНИ<div class="border"></div></div></a>
                <a href="/products/bedroom"><div class="li">СПАЛЬНИ<div class="border"></div></div></a>
                <a href="/products/soft"><div class="li">МЯГКАЯ<div class="border"></div></div></a>
                <a href="/products/living"><div class="li">ГОСТИНЫЕ<div class="border"></div></div></a>
                <a href="/products/dining"><div class="li">СТОЛОВЫЕ<div class="border"></div></div></a>
                <a href="/products/chandelier"><div class="li">ЛЮСТРЫ<div class="border"></div></div></a>
                <a href="/products/sanitary"><div class="li">САНТЕХНИКА<div class="border"></div></div></a>
                <a href="/products/accessories"><div class="li">АКСЕССУАРЫ<div class="border"></div></div></a>
            </div>
        </div>
    </nav>
    <div id="login">
        @{if user !== null}
        <input id="user_id" type="hidden" value="@{user.id}" />
            <div class="enter">
                <a href="/user/@{user.login}/">@{user.login}</a>
                <a href="#" onclick="logout()">Выйти</a>
            </div>
        @{else}
            <div class="enter">
                <a href="#login_modal" class="open_modal">Войти</a>
                <a href="#register_modal" class="open_modal">Регистрация</a>
            </div>
        @{fi}
        <div class="heart">
            <a href="#">
                <img class="heart1" src="img/heart-1.png">
                <img class="heart2" src="img/heart-2.png" onclick="viewMyFavorites()">
            </a>
        </div>
        <span class="phone">+38 (067) 329 08 45</span>
    </div>
</div>
