<footer>
    <div class="footer__wrapper">
        <a href="/" class="footer__logo"></a>
        <ul class="footer__products">
            <li><a href="/products/kitchen">КУХНИ</a></li>
            <li><a href="/products/bedroom">СПАЛЬНИ</a></li>
            <li><a href="/products/soft">МЯГКАЯ</a></li>
            <li><a href="/products/living">ГОСТИНЫЕ</a></li>
            <li><a href="/products/dining">СТОЛОВЫЕ</a></li>
            <li><a href="/products/chandelier">ЛЮСТРЫ</a></li>
            <li><a href="/products/sanitary">САНТЕХНИКА</a></li>
            <li><a href="/products/accessories">АКСЕССУАРЫ</a></li>
        </ul>
        <ul class="footer__contacts">
            <li><a href="/about" class="header__about-nav_current">О КОМПАНИИ</a></li>
            <li><a href="/idea-for-home">ИДЕИ ДЛЯ ДОМА</a></li>
            <li><a href="/contacts">КОНТАКТЫ</a></li>
        </ul>
        <div class="footer__wrapper_right-section">
            <p class="fulljustify">ПЕРВЫЙ МЕБЕЛЬНЫЙ</p>
            <p class="fulljustify">OUTLET В УКРАИНЕ</p>
            <ul class="footer__social">
                <li class="footer__social_instagram"><a href="#"></a></li>
                <li class="footer__social_facebook"><a href="#"></a></li>
            </ul>
        </div>
    </div>
</footer>