@{import('main/footer-style.css')}

<div class="footer-content">
    <div class="footer-logo">
        <a href="/"><img class="footer-logo_img" src="@{'logo3.png'}"></a>
    </div>
    <div id="footer-nav-menu" class="footer-ul">
        <a href="/products/kitchen"><div class="li">КУХНИ<div class="border"></div></div></a>
        <a href="/products/bedroom"><div class="li">СПАЛЬНИ<div class="border"></div></div></a>
        <a href="/products/soft"><div class="li">МЯГКАЯ<div class="border"></div></div></a>
        <a href="/products/living"><div class="li">ГОСТИНЫЕ<div class="border"></div></div></a>
        <a href="/products/dining"><div class="li">СТОЛОВЫЕ<div class="border"></div></div></a>
        <a href="/products/chandelier"><div class="li">ЛЮСТРЫ<div class="border"></div></div></a>
        <a href="/products/sanitary"><div class="li">САНТЕХНИКА<div class="border"></div></div></a>
        <a href="/products/accessories"><div class="li">АКСЕССУАРЫ<div class="border"></div></div></a>
    </div>
    <div id="footer-about_company" class="footer-ul">
        <a href="/about"><div class="li">О КОМПАНИИ<div class="border"></div></div></a>
        <a href="#"><div class="li">ИДЕИ ДЛЯ ДОМА<div class="border"></div></div></a>
        <a href="/contacts"><div class="li">КОНТАКТЫ<div class="border"></div></div></a>
</div>
    <div class="right-block">
        <div class="img-footer">
            <img class="img-footer-outlet" src="@{'footer/outlet-footer.png'}">
        </div>
        <div class="social">
            <div id="s_inst" class="social-inst">
                <a href="#">
                    <div class="background"></div>
                    <img id="i_inst" class="img-inst" src="@{'footer/instagram.png'}">
                </a>
            </div>
            <div id="s_face" class="social-face">
                <a href="#">
                    <div class="background"></div>
                    <img id="i_face" class="img-face" src="@{'footer/facebook.png'}">
                </a>
            </div>
        </div>

    </div>
</div>
