<div id="header-content">
    <div id="logo">
        <a href="/"><img class="logo_img" src="img/logo3.png"></a>
    </div>
    <nav class="global-nav">
        <div class="row1">
            <div id="about_company" class="ul">
                <div class="li"><a href="#">О КОМПАНИИ</a><div class="border"></div></div>
                <div class="li"><a href="#">ИДЕИ ДЛЯ ДОМА</a><div class="border"></div></div>
                <div class="li"><a href="#">КОНТАКТЫ</a><div class="border"></div></div>
            </div>
            <div class="search_block">
                <form>
                    <input type="text" placeholder="Поиск">
                    <button type="submit" class="search"><img src="img/search.png" height="17"></button>
                </form>
            </div>
        </div>
        <div class="row2">
            <div id="nav-menu" class="ul">
                <a href="/products"><div class="li">КУХНИ<div class="border"></div></div></a>
                <a href="/products"><div class="li">СПАЛЬНИ<div class="border"></div></div></a>
                <a href="/products"><div class="li">МЯГКАЯ<div class="border"></div></div></a>
                <a href="/products"><div class="li">ГОСТИНЫЕ<div class="border"></div></div></a>
                <a href="/products"><div class="li">СТОЛОВЫЕ<div class="border"></div></div></a>
                <a href="/products"><div class="li">ЛЮСТРЫ<div class="border"></div></div></a>
                <a href="/products"><div class="li">САНТЕХНИКА<div class="border"></div></div></a>
                <a href="/products"><div class="li">АКСЕССУАРЫ<div class="border"></div></div></a>
            </div>
        </div>
    </nav>
    <div id="login">
        @{if user !== null}
        <div class="enter">
            <a href="/user/@{user.login}/">@{user.login}</a>
            <a href="#" onclick="logout()">Выйти</a>
        </div>
            @{else}
            <div class="enter">
                <a href="#login_modal" class="open_modal">Войти</a>
                <a href="#register_modal" class="open_modal">Регистрация</a>
            </div>
            @{fi}
            <div class="heart">
                <a href="#">
                    <img class="heart1" src="img/heart-1.png">
                    <img class="heart2" src="img/heart-2.png">
                </a>
            </div>
            <span class="phone">+38 (067) 329 08 45</span>
        </div>
</div>
