header{
    position: absolute;
}

.board{
    padding-top: 115px;
    display: flex;
    position: relative;
    z-index: -1;
}

.breadcrumbs{
position: absolute;
    color: #9ba3aa;
    font: 14pt 'Roboto Light',sans-serif;
    width: 630px;
    margin: auto;
    margin-top: 45px;
    left: 0;
    right: 0;
}

.board img{
    width: 100%;
    height: 100%;
}

.board-cover{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 65%;
    height: 20%;
    height: calc((100% - 115px)*0.2);
    margin: auto;
    background-color: white;
}

.board h2{
    font-family:'Roboto Slab', sans-serif;
    font-size: 36pt;
    letter-spacing: 4px;
    font-weight: 100;
    text-align: center;
    position: absolute;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    color: #2a2a2a;
}

.board h2:after {
    border-bottom: 2px solid #f00;
    content: '';
    display: block;
    margin: 8pt auto 0pt auto;
    width: 104px;
}

/* End Board */

h1{
    font-family: "Roboto Light", sans-serif;
    font-size: 52pt;
    font-weight: 100;
    color: #2a2a2a;
    width: 100%;
    max-width: 800px;
    margin: auto;
    text-align: center;
    line-height: 52pt;
    margin-bottom: 75px;
}

.title{
    width: 100%;
    max-width: 1380px;
    border-bottom: 1px solid #e8ebef;
    padding-bottom: 55px;
    margin: auto;
    margin-bottom: 85px;
    margin-top: 70px;
}

.base_text{
    font-family: "Roboto Light", sans-serif;
    font-size: 14pt;
    color: #3e4546;
}

.title .base_text{
    text-align: center;
}

/* End Title */

.content{
    display: grid;
    width: 100%;
    max-width: 1435px;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.content__freedom>span{
    font-family:'Roboto Slab', sans-serif;
    font-size: 36pt;
    font-weight: 100;
    color: #ed1c24;
    line-height: 24pt;
}

.content__freedom>.base_text{
    margin-top: 50px;
    margin-bottom: 70px;
    line-height: 23pt;
}

.content__freedom_info{
    list-style-type: square;
    color: #cd1719;
    margin-left: 70px;
    font-size: 30pt;
}

.content__freedom_info li{
    margin-top: 40px;
    font-size: 30pt;
    line-height: 15pt;}

.content__freedom_info span{
    color: #3e4546;
    font-family: "Roboto Light", sans-serif;
    font-size: 15pt;
    vertical-align: bottom;
}

.text_left p,
.text_right p{
    margin-left: 30px;
    margin-right: 10px;
    line-height: 24pt;
}

.content img{
    width: 100%;
}

/* End Content */

.annotation{
    width: 100%;
    max-width: 1380px;
    border-top: 1px solid #e8ebef;
    border-bottom: 1px solid #e8ebef;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 75px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.annotation .gesse{
    font-family:'Roboto Slab', sans-serif;
    font-size: 26pt;
    color: #ed1c24;
    text-align: center;
    width: 100%;
    max-width: 1235px;
    margin: auto;
    line-height: 35pt;
}