header{
    position: absolute
}

h2 {
    font-family: 'Georgia';
    font-weight: normal;
    text-align: center;
    color: #3e4546;
    font-size: 24pt;
    letter-spacing: 2pt;
    margin-top: 75px;
    margin-bottom: 30px;
}

h2:first-letter{
    font-size: 150%;
}

h2:after {
    border-bottom: 2px solid #f00;
    content: '';
    display: block;
    margin: 18pt auto 0pt auto;
    width: 104px;
}

.new-ideas,
.more-ideas{
    font-family: 'Roboto Light', sans-serif;
}

.new-ideas{
    padding-top: 115px;
    width: 100%;
    max-width: 1680px;
    margin: 0px auto;
}

.new-ideas_top{
    display: flex;
}

.new-ideas_top .category,
.new-ideas_top .idea__title_main,
.new-ideas_top .idea__description,
.new-ideas_top .idea__link{
    left: 0;
    right: 0;
    max-width: 1380px;
    margin: auto;
    color: #fefefe;
}

.new-ideas_top .category{
    font-family: 'Roboto Slab Light', sans-serif;
    font-size: 38pt;
    letter-spacing: 3px;
    margin: 80px auto 0px auto;
}

.new-ideas_top .idea__title_main{
    margin-top: 265px;
    font-size: 32pt;
    line-height: 50px;
}

.new-ideas_top .idea__description{
    margin-top: 380px;
    font-size: 16pt;
    line-height: 30px;
    letter-spacing: 1px;
}

.new-ideas_top .idea__link{
    margin-top: 530px;
    font-size: 16pt;
    text-decoration: none;
    max-width: 180px;
    transform: translateX(-600px);
}
.new-ideas_top .idea__link:hover{
    text-decoration: underline;
}

.new-ideas_top span,
.new-ideas_top p,
.new-ideas_top a{
    position: absolute;
}

.new-ideas_top img{
    width: 100%;
    height: 100%;
}

.new-ideas_container{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    'i5 i6 i1'
    'i5 i3 i1'
    'i5 i3 i1'
    'i5 i3 i1'
    'i4 i3 i2';
}

.idea1{grid-area: i1;}
.idea2{grid-area: i2;}
.idea3{grid-area: i3;}
.idea4{grid-area: i4;}
.idea5{grid-area: i5;}
.idea6{grid-area: i6;}

.new-ideas_element{
    position: relative;
    transition: all 0.5s ease-in-out;
}

.new-ideas_element span,
.new-ideas_element p,
.new-ideas_element .idea__link{
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
}

.idea__link_global{
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: default;
    transition: all 0.5s ease-in-out;
    outline-color: #fefefe;
    color: #fefefe;
}

.new-ideas_element img{
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
}
.idea__link_global:hover img{
    filter: brightness(50%);
    outline: 1px solid #fff;
    outline-offset: -40px;
}

.idea__title{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 200px;
    height: 200px;
    color: #fefefe;
    font-size: 32pt;
    text-align: center;
    line-height: 40px;
    z-index: 1;
}

.idea2 .idea__title, .idea4 .idea__title, .idea6 .idea__title{
    width: 340px;
    height: 120px;
}

.idea1 .idea__title, .idea3 .idea__title, .idea5 .idea__title{
    width: 400px;
    height: 400px;
}
.idea1 .idea__link_global:hover .idea__title,
.idea3 .idea__link_global:hover .idea__title,
.idea5 .idea__link_global:hover .idea__title,
.idea1 .idea__title:hover,
.idea3 .idea__title:hover,
.idea5 .idea__title:hover{
    height: 500px;
}

.idea2 .idea__description,
.idea4 .idea__description,
.idea6 .idea__description {
    display: none;
}

.idea1 .idea__description,
.idea3 .idea__description,
.idea5 .idea__description {
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: 16pt;
    line-height: 30px;
    letter-spacing: 1px;
    width: 400px;
    height: 250px;
    color: #fefefe;
    transition: all 0.5s ease-in-out;
}
.idea1 .idea__link_global:hover .idea__description,
.idea3 .idea__link_global:hover .idea__description,
.idea5 .idea__link_global:hover .idea__description,
.idea1 .idea__title:hover~.idea__description,
.idea3 .idea__title:hover~.idea__description,
.idea5 .idea__title:hover~.idea__description{
    display:block;
}

.idea__link{
    font-size: 16pt;
    color: #fefefe;
    margin: auto;
    left: 0;
    right: 0;
    width: 180px;
    text-align: center;
    z-index: 3;
    transition: all 0.5s ease-in-out;
}
.idea__link:hover{
    text-decoration: underline;
    cursor: pointer;
}

.idea1 .idea__link,
.idea3 .idea__link,
.idea5 .idea__link{
    display: none;
    bottom: 300px;
    top: unset;
}

.idea2 .idea__link,
.idea4 .idea__link,
.idea6 .idea__link{
    display: none;
    bottom: 60px;
    top: unset;
}

.new-ideas_element .idea__link_global:hover .idea__link,
.idea__title:hover~.idea__link{
    display: block;
}

/* End Ideas */

.more-ideas{
    width: 100%;
    max-width: 1380px;
    margin: 0px auto;
    margin-bottom: 120px;
}

.more-ideas__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.more-ideas_item{
    width: 100%;
    max-width: 645px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.more-ideas_item a{
    margin-bottom: 30px;
    color: #3e4546;
    margin-left: 30px;
    font-size: 14pt;
}
.more-ideas_item a:hover{
    color: #f00;
}

/* End More Ideas */

/* -------- Media --------- */

@media screen and (max-width: 1515px){
    .new-ideas_top .idea__title_main {
        margin-top: 165px;
    }

    .new-ideas_top .idea__description {
        margin-top: 280px;
    }

    .new-ideas_top .idea__link {
        margin-top: 430px;
    }

    .idea__title{
        width: 320px;
        font-size: 26pt;
    }

    .new-ideas_element .idea__description{
        width: 340px;
        font-size: 14pt;
    }
}

@media screen and (max-width: 1388px){
    .new-ideas_top .idea__link {
        margin-left: 0px;
        left: 0;
        transform: unset;
    }

    .idea1 .idea__link,
    .idea3 .idea__link,
    .idea5 .idea__link {
        bottom: 250px;
    }

    .idea2 .idea__link,
    .idea4 .idea__link,
    .idea6 .idea__link {
        bottom: 50px;
    }

    .idea__link_global:hover img {
        outline-offset: -30px;
    }

    .more-ideas__container {
        justify-content: space-around;
    }

    .more-ideas_item {
        max-width: 40%;
    }
}

@media screen and (max-width: 1275px){
    .new-ideas_top .category {
        font-size: 34pt;
        margin: 50px auto 0px auto;
    }

    .new-ideas_top .idea__title_main {
        margin-top: 125px;
        font-size: 28pt;
        line-height: 30px;
    }

    .new-ideas_top .idea__description {
        margin-top: 200px;
        line-height: 20px;
    }

    .new-ideas_top .idea__link {
        margin-top: 330px;
    }
}

@media screen and (max-width: 1200px){
    .new-ideas{
        padding-top: 50px;
    }

    .new-ideas_element .idea__title{
        width: 75%;
        font-size: 20pt;
        line-height: normal;
    }

    .idea2 .idea__title, .idea4 .idea__title, .idea6 .idea__title{
        font-size: 16pt;
        height: 50px;
    }

    .idea1 .idea__link_global:hover .idea__title,
    .idea3 .idea__link_global:hover .idea__title,
    .idea5 .idea__link_global:hover .idea__title,
    .idea1 .idea__title:hover,
    .idea3 .idea__title:hover,
    .idea5 .idea__title:hover {
        height: 450px;
    }

    .new-ideas_element .idea__description{
        width: 75%;
        font-size: 10pt;
        line-height: normal;
    }

    .new-ideas_element .idea__link{
        width: 75%;
        font-size: 12pt;
    }
}

@media screen and (max-width: 950px){
    .new-ideas {
        padding-top: 60px;
    }

    .new-ideas_top .category {
        font-size: 28pt;
        margin: 30px auto 0px auto;
        max-width: 90%;
    }

    .new-ideas_top .idea__title_main {
        margin-top: 100px;
        font-size: 22pt;
        line-height: normal;
        max-width: 90%;
    }

    .new-ideas_top .idea__description {
        margin-top: 180px;
        line-height: normal;
        font-size: 12pt;
        max-width: 90%;
    }

    .new-ideas_top .idea__link {
        margin-top: 275px;
        width: 100%;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        font-size: 14pt;
    }

    .idea1 .idea__link_global:hover .idea__title,
    .idea3 .idea__link_global:hover .idea__title,
    .idea5 .idea__link_global:hover .idea__title,
    .idea1 .idea__title:hover,
    .idea3 .idea__title:hover,
    .idea5 .idea__title:hover {
        height: 85%;
    }

    .idea1 .idea__title,
    .idea3 .idea__title,
    .idea5 .idea__title {
        height: 90%;
    }

    .idea2 .idea__link,
    .idea4 .idea__link,
    .idea6 .idea__link{
        color: transparent;
    }

    .idea2 .idea__title,
    .idea4 .idea__title,
    .idea6 .idea__title{
        height: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .new-ideas_element .idea__title{
        font-size: 14pt;
    }

    .idea1 .idea__link,
    .idea3 .idea__link,
    .idea5 .idea__link {
        bottom: 20%;
    }

    .idea__link_global:hover img{
        outline-offset: -20px;
    }

    h2{
        margin-top: 25px;
    }

    .more-ideas_item {
        max-width: 75%;
    }

    .more-ideas{
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 825px){
    .new-ideas_top .category {
        font-size: 5vw;
        margin: 2% auto 0% auto;
    }

    .new-ideas_top .idea__title_main {
        margin-top: 10%;
        font-size: 4vw;
    }

    .new-ideas_top .idea__description {
        margin-top: 20%;
        font-size: 2vw;
    }

    .new-ideas_top .idea__link {
        margin-top: 32%;
        font-size: 2vw;
    }

    .new-ideas_element .idea__title{
        font-size: 2.5vw;
    }

    .new-ideas_element .idea__description {
        height: 50%;
        font-size: 2vw;
    }

    .idea1 .idea__link,
    .idea3 .idea__link,
    .idea5 .idea__link{
        font-size: 2vw;
    }
}

@media screen and (max-width: 500px){
    .idea__link_global:hover img{
        outline-offset: -5px;
    }

    h2{
        font-size: 16pt;
    }

    h2:after {
        margin-top: 2px;
    }

    .more-ideas_item {
        max-width: 100%;
    }

    .more-ideas_item a{
        font-size: 10pt;
        margin-bottom: 0px;
    }

    .more-ideas_item img{
        width: 15%;
        height: auto;
    }
}