#header {
    position: relative;
    width: 100%;
    height: 95px;
    background: #292929;
}

#header-content {
    position: relative;
    margin-left: 7%;
    margin-right: 7%;
    height: 100%;
    background: #292929;
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
}

#logo, .global-nav {
    vertical-align: top;
}

#logo {
    position: relative;
    display: inline-block;
    /*top: 0;*/
    /*bottom: 0;*/
    width: 15%;
    height: 100%;
}

#logo .logo_img {
    position: absolute;
    width: 100%;
}



/*.global-nav {*/
    /*width: 65%;*/
    /*height: 50%;*/
    /*margin-left: 13%;*/
    /*margin-top: 2.5%;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
/*}*/




.global-nav {
    position: relative;
    width: 65%;
    height: 100%;
    margin-left: 13%;
    /*margin-top: 2.5%;*/
    display: inline-flex;
    /*flex-direction: row;*/
    justify-content: space-between;
    align-items: flex-end;
}

.global-nav .row1,
.global-nav .row2 {
    position: relative;
    display: inline-block;
}

.global-nav .row1 {
    height: 45%;
}

.global-nav .row2 {
    height: 57%;
    width: 20%;
}

#nav-menu {
    position: relative;
    height: 100%;
    display: inline-flex;
    justify-content: space-around;
}

#nav-menu a .li {
    display: inline-block;
    height: 100%;
}

#nav-menu .li {
    display: inline-block;
    font-family: RobotoLight;
    font-size: 0.8vw;
    position: relative;
    cursor: pointer;
    margin-right: 1vw;
    height: 100%;
}

#nav-menu .li .border {
    position: absolute;
    width: 100%;
    /*height: 100%;*/
    /*top: 0;*/
    bottom: 2px;
    height: 0;
    outline: 2px solid red;
    /*border-bottom: 4px solid red;*/
    display: none;
}

@-moz-document url-prefix() {
    #nav-menu .li .border {
        bottom: 3px;
    }
}

#nav-menu .li:hover .border {
    display: block;
}

.search_block {
    /*right: 0;*/
    /*top: 1%;*/
    /*position: absolute;*/
    height: 100%;
    /*left: 50%;*/
    z-index: 5;
}

.search_block form {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70%;
}

.search_block button {
    position: absolute;
    right: 0;
    height: 60%;
    background-color: white;
    border: 0;
    outline: none;
    cursor: pointer;
    z-index: 5;
    margin-right: 5px;
    background: #e8ebef;
}

.search_block button img {
    position: absolute;
    height: 100%;
    cursor: pointer;
    top: 0;
    right: 5px;
}

.search_block input {
    width: 100%;
    height: 100%;
    /*position: absolute;*/
    font-size: 0.8vw;
    /*padding: 4%;*/
    outline: none;
    text-indent: 10px;
    background: #e8ebef;
    border: none;
    outline: none;
}

.icon {
    width: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
    margin-left: 3%;
}

.icon .heart .heart1 {
    display: inline-block;
    width: 100%;
}

.icon .heart .heart2 {
    display: none;
}

.icon .heart:hover .heart1 {
    display: none;
}

.icon .heart:hover .heart2 {
    display: inline-block;
    width: 100%;
}



.icon .man .man1 {
    display: inline-block;
    width: 100%;
}

.icon .man .man2 {
    display: none;
}

.icon .man:hover .man1 {
    display: none;
}

.icon .man:hover .man2 {
    display: inline-block;
    width: 100%;
}

.icon .man,
.icon .heart {
    margin-top: 25%;
}






.search_select_item {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 164px;
    overflow: hidden;

    /*border-bottom: 1px solid #2a2a2a;*/
}



.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
.ui-autocomplete, .ui-autocomplete:hover,
.ui-menu-item, .ui-menu-item:hover,
.ui-menu-item a, .ui-menu-item a:hover,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active,
.ui-menu .ui-menu-item a
{
    background: white none no-repeat;
    border-color: #a3abb1;
}

.ui-menu-item:hover .search_select_item {
    background: #a3abb1;
    color: white;
}

.ui-menu-item:hover .search_select_title {
    color: white;
}

.ui-menu-item:hover .search_select_descr {
    color: white;
}

/*.ui-menu-item .ui-menu-item-wrapper {*/

/*}*/

/*.search_select_item:hover {*/
/*background: red;*/
/*}*/

.search_select_img {
    width:80px;
    height:52px;
    padding-right: 3px;
    margin: auto;
}

.search_select_img img {
    width:100%;
    /*max-height:42px;*/
    height: 100%;
}

.search_select_description {
    overflow: hidden;
    white-space: nowrap;
    width: 90px;
    margin: auto;
    padding: 3px;
    padding-top: 0;
    display: inline-block;
}

.search_select_title {
    display: inline-block;
    color: #2a2a2a;
    font-family: Georgia;
    font-size: 20px;
}

.search_select_descr {
    display: inline-block;
    color: #a3abb1;
    font-family: Roboto;
    font-size: 15px;
}
