@{layout('')}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--@{import('list-product-style.css')}-->
    @{import('list-product/content-style.css')}
    @{import('modal.css')}

    <meta charset="UTF-8">
    <title>Title</title>
    @{import('jquery-3.2.0.min.js')}
    @{import('jquery-ui.js')}
    @{import('jquery-ui.css')}
    @{import('list_product.js')}
    @{import('modal.js')}
    @{import('jquery.maskedinput.js')}
    @{import('search.js')}
    @{import('favorites.js')}



</head>
<body>
    <div id="overlay"></div>
    @{view('modal/login')}
    <div id="header">
        @{view('layouts/card/header')}
    </div>
    <div id="content">
        @{body}
    </div>
    <div id="footer">
        @{view('layouts/main/footer')}
    </div>
    <script>
        $('.dropdown .button').click(function (event) {
            $(event.currentTarget.parentElement).find('.popup').toggle();
        });

        $('.displays-the-page .button').click(function (event) {
            $(event.currentTarget).toggleClass('active');
        });
    </script>
</body>
</html>