@{layout('/layouts/freedom/layout')}


<div class="freedom-background">
    <img src="img/freedom.png">
    <div class="white-dice">
        <img src="img/white-dice.png">
        <div class="text-white-dice-comtainer">
            <div class="border-text-white-dice">
                <span>FREEDOM</span>
            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="enter-container">
        <div class="enter-tit">
                    <span>
                        САМАЯ БОЛЬШАЯ СЕТЬ<br>
                        ЭЛИТНЫХ САЛОНОВ<br>
                        В УКРАИНЕ
                    </span>
        </div>
        <div class="enter">
                    <span>
                        Компания FREEDOM является официальным представителем в Украине элитных итальянских немецких фабрик мебели,<br>
                        света, сантехники, дверей и т.д. Работая на украинском рынке уже десять лет, компания успешно расширяет сферу своей деятельности.
                    </span>
        </div>
    </div>
</div>
