.search_box{
    height: 30px;
    background: #e8ebef;
    background-image: url(../../../img/product/searchicon.png);
    background-position-x: 95%;
    background-position-y: center;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 200px;
    float: right;
    z-index: 3;
    text-indent: 10px;
}

.search_box,::-webkit-input-placeholder{ 
    color: #000;
    padding-left: 0px;
}

.search_holder{
    width: 100%;
    max-width: 200px;
}

.search__result{
    display: none;
    position: absolute;
    top: 80px;
    z-index: 3;
    padding: 25px 0px;
    max-width: 305px;
    list-style-type: none;
    background-color: white;
    width: 100%;
    box-shadow: 2px 13px 7.1px 2.9px rgba(0,0,0,0.12);
}

.search_result_item{
    display: flex;
    padding: 5px 30px;
    height: 60px;
}
.search_result_item:hover{
    background-color: #f1f3f5;
}

.search_result_item a{
    display: flex;
    text-decoration: none;
}

.search__result-img{
    width: 90px;
    height: 60px;
    margin-right: 10px;
}

.search__result-img img{
    width: 100%;
    height: 100%;
}

.search__result-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3px 0px;
}

.search__result-text h4{
    font-size: 13px;
    letter-spacing: 0px;
}

.search__result-text h4::first-letter{
    font-size: 140%;
}

.search__result-text h6{
    font-size: 10px;
    margin-bottom: 0px;
}

.search__result-text h5,
.search__result-text h5::after{
    font: 12px 'Roboto', sans-serif;
    color: #3e4546;
    font-weight: bolder;
}

@media screen and (max-width: 1475px){
    .search_box{
        margin-left: auto;
        margin-top: auto;
    }
}

@media screen and (max-width: 1100px){
    .search_holder{
        display: flex;
        margin-left: auto;
        margin-right: 10px;
    }
}

@media screen and (max-width: 560px){
    .search_box{
        display: none;
        position: absolute;
        margin-top: 17px;
        margin-right: 0px;
        width: 100%;
        max-width: 305px;
        margin-left: 0px;
        right: 4px;
    }

    .search__result{
        padding: 0px;
        right: 4px;
        top: 105px;
    }

    .search_result_item{
        padding: 5px;
    }

}