@{import('contacts/header-style.css')}

<div id="header">
    <div id="header-content">
        <div id="logo">
            <a href="/"><img class="logo_img" src="img/logo3.png"></a>
        </div>
        <nav class="global-nav">
            <div class="row1">
                <div id="about_company" class="ul">
                    <a href="/about"><div class="li">О КОМПАНИИ<div class="border"></div></div></a>
                    <a href="#"><div class="li">ИДЕИ ДЛЯ ДОМА<div class="border"></div></div></a>
                    <a href="/contacts"><div class="li active">КОНТАКТЫ<div class="border"></div></div></a>
                </div>
            </div>
            <div class="row2">
                <div id="nav-menu" class="ul">
                    <a href="/products/kitchen"><div class="li">КУХНИ<div class="border"></div></div></a>
                    <a href="/products/bedroom"><div class="li">СПАЛЬНИ<div class="border"></div></div></a>
                    <a href="/products/soft"><div class="li">МЯГКАЯ<div class="border"></div></div></a>
                    <a href="/products/living"><div class="li">ГОСТИНЫЕ<div class="border"></div></div></a>
                    <a href="/products/dining"><div class="li">СТОЛОВЫЕ<div class="border"></div></div></a>
                    <a href="/products/chandelier"><div class="li">ЛЮСТРЫ<div class="border"></div></div></a>
                    <a href="/products/sanitary"><div class="li">САНТЕХНИКА<div class="border"></div></div></a>
                    <a href="/products/accessories"><div class="li">АКСЕССУАРЫ<div class="border"></div></div></a>
                </div>
            </div>
        </nav>
        <div class="phone">
            <span class="phone-text">+38 (067) 329 08 45</span>
        </div>
        <div class="search_block">
            <form>
                <input id="search_box" type="text" placeholder="Поиск">
                <button type="submit" class="search"><img src="img/search.png" height="17"></button>
            </form>
        </div>
    </div>
</div>
