@{layout('')}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    @{import('jquery-3.1.0.min.js')}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!--@{import('http://code.jquery.com/jquery-1.8.3.min.js')}-->
    <!--@{import('list-product-style.css')}-->
    <!--@{import('about-company-style.css')}-->
    @{import('map.js')}
    @{import('mail_client.js')}
    @{import('jquery.maskedinput.js')}
    @{import('contacts/content-style.css')}
    @{import('contacts.css')}
    @{import('user_cabinet.css')}
    @{import('search.js')}

</head>
<body>
    <div id="header">
        @{view('layouts/contacts/header')}
    </div>
    <div id="content">
        @{body}
    </div>
    <div id="footer">
        @{view('layouts/main/footer')}
    </div>
</body>
</html>