@{layout('/layouts/compact/layout')}
<input id="currentPage" type="hidden" value="@{model.pagination.page}" />
<input id="currentLimit" type="hidden" value="@{model.pagination.count}" />
<div class="breadcrumbs">
    <ul>
        <li><a href="/">Главная</a></li>
        @{if model.breadcrumbs=='kitchen'}<li><a>Кухни</a></li>@{endif}
        @{if model.breadcrumbs=='bedroom'}<li><a>Спальни</a></li>@{endif}
        @{if model.breadcrumbs=='soft'}<li><a>Мягкая</a></li>@{endif}
        @{if model.breadcrumbs=='living'}<li><a>Гостинные</a></li>@{endif}
        @{if model.breadcrumbs=='dining'}<li><a>Столовые</a></li>@{endif}
        @{if model.breadcrumbs=='chandelier'}<li><a>Люстры</a></li>@{endif}
        @{if model.breadcrumbs=='sanitary'}<li><a>Сантехника</a></li>@{endif}
        @{if model.breadcrumbs=='accessories'}<li><a>Аксессуары</a></li>@{endif}
        @{if model.breadcrumbs=='%'}<li><a>Все</a></li>@{endif}
        @{if model.breadcrumbs=='search'}<li><a>Поиск</a></li>@{endif}
        @{if model.breadcrumbs=='manufacturer'}<li><a>@{model.manufacturer}</a></li>@{endif}
    </ul>
</div>
<div class="info-nav">
    <div class="title">
        @{if model.breadcrumbs=='kitchen'}<span class="text-title">Кухни</span>@{endif}
        @{if model.breadcrumbs=='bedroom'}<span class="text-title">Спальни</span>@{endif}
        @{if model.breadcrumbs=='soft'}<span class="text-title">Мягкая</span>@{endif}
        @{if model.breadcrumbs=='living'}<span class="text-title">Гостинные</span>@{endif}
        @{if model.breadcrumbs=='dining'}<span class="text-title">Столовые</span>@{endif}
        @{if model.breadcrumbs=='chandelier'}<span class="text-title">Люстры</span>@{endif}
        @{if model.breadcrumbs=='sanitary'}<span class="text-title">Сантехника</span>@{endif}
        @{if model.breadcrumbs=='accessories'}<span class="text-title">Аксессуары</span>@{endif}
        @{if model.breadcrumbs=='%'}<span class="text-title">Все</span>@{endif}
        @{if model.breadcrumbs=='search'}<span class="text-title">Поиск</span>@{endif}
        @{if model.breadcrumbs=='manufacturer'}<span class="text-title">@{model.manufacturer}</span>@{endif}
    </div>

    <div class="view-options">

        <span class="sorting-text">Сортировать по</span>

        <div class="dropdown-sorting">
            <div class="dropdown min_w">
                <ul class="button">
                    <li>
                        <a href="#">                
                            @{if model.sort=='name'} По умолчанию @{endif}
                            @{if model.sort=='manufacturer'} Фабрике @{endif}
                            @{if model.sort=='price'} Цене @{endif}
                            <img class="arrow" src="/../img/arrow.png">
                        </a>
                    </li>
                </ul>
                <ul id="filterSort" class="popup">
                    <li  @{if model.sort=='name'} class="active"@{endif}>
                        <a href="#" onclick="active(this)" name="name">
                            По умолчанию
                            <img class="arrow" src="/../img/arrow-red.png">
                        </a>
                    </li>
                    <li  @{if model.sort=='manufacturer'} class="active"@{endif}>
                        <a href="#" onclick="active(this)" name="manufacturer">
                            Фабрике
                            <img class="arrow" src="/../img/arrow-red.png">
                        </a>
                    </li>
                    <li @{if model.sort=='price'} class="active"@{endif}>
                        <a href="#" onclick="active(this)" name="price">
                            Цене
                            <img class="arrow" src="/../img/arrow-red.png">
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <span class="number-of-goods-text ">Показать</span>

        <div class="dropdown-number-of-goods">
            <div class="dropdown">
                <ul class="button">
                    <li>
                        <a href="#">
                            @{model.items}
                            <img class="arrow" src="/../img/arrow.png">
                        </a>
                    </li>
                </ul>
                <ul id="filterNumber" class="popup">
                    <li @{if model.items=='12'} class="active"@{endif}>
                        <a href="#" onclick="active(this)" name="12">
                            12
                            <img class="arrow" src="/../img/arrow-red.png">
                        </a>
                    </li>
                    <li @{if model.items=='24'} class="active"@{endif}>
                        <a href="#" onclick="active(this)" name="24">
                            24
                            <img class="arrow" src="/../img/arrow-red.png">
                        </a>
                    </li>
                    <li @{if model.items=='48'} class="active"@{endif}>
                        <a href="#" onclick="active(this)" name="48">
                            48
                            <img class="arrow" src="/../img/arrow-red.png">
                        </a>
                    </li>
                    <li @{if model.items=='75'} class="active"@{endif}>
                        <a href="#" onclick="active(this)" name="72">
                            72
                            <img class="arrow" src="/../img/arrow-red.png">
                        </a>
                    </li>
                    <li @{if model.items=='96'} class="active"@{endif}>
                        <a href="#" onclick="active(this)" name="96">
                            96
                            <img class="arrow" src="/../img/arrow-red.png">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="product-list">
    @{foreach product in model.products}
    <div class="item">

        <div class="img-product">
            <div class="item-icon-heart">
                <img class="item-icon-heart-img" src="/../img/heart-1.png">
                <img class="item-icon-heart2-img" src="/../img/heart-2.png">
            </div>
            <div class="item-icon-info">
                <img class="item-icon-info-img" src="/../img/new-carousel/info-icon.png" onclick="info_tile(this)">
                <img class="item-icon-info2-img" src="/../img/new-carousel/info-icon-2.png" onclick="info_tile(this)">
            </div>
            <a href="/product/@{product.id}"><img class="item-main-img" src="@{product.title_img_src}" alt="Image 1"></a>
        </div>










        <!--<div class="item-icon-heart">-->
            <!--<img class="item-icon-heart-img" src="/../img/heart-1.png">-->
            <!--<img class="item-icon-heart2-img" src="/../img/heart-2.png">-->
        <!--</div>-->
        <!--<div class="item-icon-info">-->
            <!--<img class="item-icon-info-img" src="/../img/new-carousel/info-icon.png" onclick="info_tile(this)">-->
        <!--</div>-->
        <!--<a href="/product/@{product.id}"><img class="item-main-img" src="@{product.title_img_src}" alt="Image 1"></a>-->
        <div class="title-new-product">
            <span class="tit">@{product.name}</span>
            <span class="vendor">@{product.manufacturer}</span>
            <span class="price">@{product.price} UAH</span>
            <span class="share">Снижение c @{product.discount} UAH</span>
        </div>
        <div class="product-info">
            <div class="title-info">
                <span class="tit">@{product.name}</span>
                <br>
                <span class="vendor">@{product.manufacturer}</span>
                <div class="cross">
                    <img class="simple cross-img" src="/../img/cross.png" onclick="close_info(this)">
                </div>
            </div>
            <div class="content">
                <p>
                    @{product.description}
                </p>
            </div>
        </div>
    </div>
    @{end}
</div>
<div class="pagination-container">
    <div class="pagination">
        <ul id="paginationUl">
            <li class="back"><a href="javascript:void(0);"><img src="/../img/pagination-back.png" /></a></li>
            <li class="first"><a href="javascript:void(0);">1</a></li>
            <li>...</li>
            <li><a href="javascript:void(0);">5</a></li>
            <li><a href="javascript:void(0);">6</a></li>
            <li class="active"><a href="javascript:void(0);">7</a></li>
            <li><a href="javascript:void(0);">8</a></li>
            <li><a href="javascript:void(0);">9</a></li>
            <li><a href="javascript:void(0);">10</a></li>
            <li>...</li>
            <li class="last"><a href="javascript:void(0);">30</a></li>
            <li class="forward"><a href="javascript:void(0);"><img src="/../img/pagination-forward.png" /></a></li>
        </ul>
    </div>
</div>
