<div id="offer_modal" class="modal_div">
    <span class="modal_close">
        <img class="simple cross-img" src="/../img/cross.png">
    </span>
    <div class="login_modal__title-container">
        <div class="login_modal__title-cont">
            <span class="login_modal__title-text">Быстрый заказ</span>
            <div class="login_modal__title-border"></div>
        </div>
    </div>


    <div class="modal_feedback">
        <form id="mail-form" action="/mail/send" method="post" name="mail_modal_Form" onsubmit="return validate_modal_Form()">
            <div id="validate_modal_Global">*Обязательно</div>
            <div class="row1">
                <input class="neat-input" type="text" name="name" placeholder="ИМЯ" value="" />
                <div id="validate_modal_Name">*</div>
                <input id="tel" class="neat-input" type="text" name="phone" placeholder="+38 (000) 000 00 00" value="" />
                <div id="validate_modal_Phone">*</div>
            </div>
            <div class="row2">
                <div id="validate_modal_Message">*</div>
                <textarea class="neat-textarea" name="message" placeholder="&#013;&#010;&#013;&#010;СООБЩЕНИЕ" value=""></textarea>
            </div>
            <div class="row3">
                <button id="mail-send" class="neat-button" type="submit">ОФОРМИТЬ</button>
            </div>

        </form>
    </div>
</div>