<div id="contact_us_modal" class="modal_div">
    <span class="modal_close">
        <img class="simple cross-img" src="@{import('cross.png')}">
    </span>
    <div class="countact_us_modal__title-container">
        <div class="countact_us_modal__title-cont">
            <span class="countact_us_modal__title-text">Поля опечаталась</span>
            <div class="countact_us_modal__title-border"></div>
        </div>
    </div>


    <!--<div class="countact_us-form">-->
        <!--<form id="log-form" action="/authorization" method="post" name="countact_us_Form">-->
            <!--<div class="validateTitle">*Обязательно</div>-->
            <!--<div class="row1">-->
                <!--<input class="neat-input" type="text" name="email" placeholder="E-mail" />-->
                <!--<input class="neat-input" type="password" name="pass" placeholder="Пароль" />-->
            <!--</div>-->
            <!--<div class="validateTitle">*Обязательно</div>-->
        <!--</form>-->
    <!--</div>-->
</div>