<div id="login_modal" class="modal_div">
    <span class="modal_close">
        <img class="simple cross-img" src="@{import('cross.png')}">
    </span>
    <div class="login_modal__title-container">
        <div class="login_modal__title-cont">
            <span class="login_modal__title-text">Логин</span>
            <div class="login_modal__title-border"></div>
        </div>
    </div>


    <div class="login-form">
        <form id="mail-form" action="/authorization" method="post">
            <div class="validateTitle">*Обязательно</div>
            <div class="row1">
                <input class="neat-input" type="text" name="login" placeholder="Логин" />
            </div>
            <div class="validateTitle">*Обязательно</div>
            <div class="row2">
                <input class="neat-input" type="password" name="pass" placeholder="Пароль" />
            </div>
            <div class="row3">
                <button class="neat-button" type="submit">Войти</button>
            </div>
        </form>
    </div>
</div>