<div id="login_modal" class="modal-container">
    <h2>Вход</h2>
    <span class="modal-container_close"><img src="@{import('cross.png')}"></span>
    <form id="log-form" action="/authorization" method="post" name="login_Form" onsubmit="return validate_login_Form()">
        <div class="log-form_inputs">
            <input class="modal-input" type="email" name="email" placeholder="E-mail" />
            <input class="modal-input" type="password" name="pass" placeholder="Пароль" />
        </div>
        <button class="modal-button" type="submit">Войти</button>
        <input id="remember-me-login" class="custom-check" type="checkbox" name="auto_login">
        <label for="remember-me-login" class="custom-check_label">Запомнить меня</label>
        <a href="#reset_password_modal" class="open_modal">Забыли пароль?</a>
    </form>
</div>