<div id="offer_modal" class="modal-container">
    <h2>Быстрый заказ</h2>
    <span class="modal-container_close"><img src="@{import('cross.png')}"></span>
     <form id="mail-form" action="/mail/send" method="post" name="mail_modal_Form" onsubmit="return validate_modal_Form()">
        <div class="mail-form_inputs">
            <input class="modal-input" type="text" name="name" placeholder="ИМЯ" value="" />
            <input id="tel2" class="modal-input" type="text" name="phone" placeholder="+38 (000) 000 00 00" value="" />
            <textarea class="modal-textarea" name="message" placeholder="СООБЩЕНИЕ" value=""></textarea>
        </div>
        <button class="modal-button" type="submit">ОФОРМИТЬ</button>
    </form>
</div>