<div id="register_modal" class="modal_div modal_reg">
    <span class="modal_close">
        <img class="simple cross-img" src="img/cross.png">
    </span>
    <div class="login_modal__title-container">
        <div class="login_modal__title-cont">
            <span class="login_modal__title-text">Регистация</span>
            <div class="login_modal__title-border"></div>
        </div>
    </div>


    <div class="register-form">
        <form id="reg-form" action="/register" method="POST"  name="register_Form" onsubmit="return validate_register_Form()">
            <div id="validate_modal_Global" class="validate_modal_Title">*Обязательно</div>
            <div class="row1">
                <input class="neat-input" type="text" name="login" placeholder="ИМЯ" value="" />
                <div id="validate_modal_Name">*</div>
                <input id="tel_register" class="neat-input" type="text" name="phone" placeholder="+38 (000) 000 00 00" value="" />
                <div id="validate_modal_Phone">*</div>
            </div>
            <div class="row2">
                <input class="neat-input" type="email" name="email" placeholder="E-MAIL" value="" />
                <div id="validate_modal_Mail">*</div>
                <input class="neat-input" type="password" name="pass" placeholder="ПАРОЛЬ" value="" />
                <div id="validate_modal_Pass">*</div>
            </div>
            <div class="row3">
                <input id="check" type="radio" name="role" value="user" checked>
                <input id="check2" type="radio" name="role" value="designer">

                <label class="left" for="check">
                    <span>Частный пользователь</span>
                </label>
                <label class="right" for="check2">
                    <span>Дизайнер-архитектор</span>
                </label>
                <div class="checkbox-info">
                    <span>
                        Активно только для зарегистрированых <br>
                        пользователей<br>
                    </span>
                </div>
            </div>
            <div class="row4">
                <div>
                    <button class="neat-button" type="submit">Войти</button><br>
                    <input id="remember-me-register" type="checkbox" name="auto_login" />
                    <label for="remember-me-register">
                        <span></span>Запомнить меня
                    </label>
                    <a href="#">Забыли пароль?</a>
                </div>
            </div>
        </form>
    </div>
</div>