<div id="register_modal" class="modal-container">
    <h2>Регистация</h2>
    <span class="modal-container_close"><img src="@{import('cross.png')}"></span>
    <form id="reg-form" action="/register" method="POST" name="register_Form" onsubmit="return validate_register_Form()">
        <div class="reg-form_inputs">
            <input class="modal-input" type="text" name="login" placeholder="ИМЯ" value="" />
            <input id="tel_register" class="modal-input" type="text" name="phone" placeholder="+38 (000) 000 00 00" value="" />
            <input class="modal-input" type="email" name="email" placeholder="E-mail" />
            <input class="modal-input" type="password" name="pass" placeholder="Пароль" />
        </div>
        <div class="role-holder">
            <input id="user-role" class="custom-radio" type="radio" name="role" value="user" checked>
            <label for="user-role" class="custom-radio_label">Частный пользователь</label>
            <input id="designer-role" class="custom-radio" type="radio" name="role" value="designer">
            <label for="designer-role" class="custom-radio_label">Дизайнер-архитектор</label>
        </div>
        <span class="checkbox-info">Активно только для зарегистрированых<br>пользователей<br></span>
        <button class="modal-button" type="submit">Войти</button>
        <input id="remember-me-reg" class="custom-check" type="checkbox" name="auto_login">
        <label for="remember-me-reg" class="custom-check_label">Запомнить меня</label>
        <a href="#reset_password_modal" class="open_modal">Забыли пароль?</a>
    </form>
</div>