<div id="reset_password_modal" class="modal-container">
    <h2>Забыли пароль?</h2>
    <span class="modal-container_close"><img src="@{import('cross.png')}"></span>
    <span class="reset_help">Укажите свой E-MAIL. Ссылку на создание нового пароля Вы получите по электронной почте</span>
    <form id="reset-form" action="/mail/reset_pass" method="post" name="reset_password_Form">
        <input class="modal-input" type="email" name="reset_mail" placeholder="E-mail" />
        <button class="modal-button" type="submit">СБРОСИТЬ ПАРОЛЬ</button>
    </form>
</div>