<div id="reset_password_modal" class="modal_div">
    <span class="modal_close">
        <img class="simple cross-img" src="@{import('cross.png')}">
    </span>
    <div class="login_modal__title-container">
        <div class="login_modal__title-cont">
            <span class="login_modal__title-text">Забыли пароль?</span>
            <div class="login_modal__title-border"></div>
        </div>
    </div>
    <span class="reset_help">Укажите свой E-MAIL. Ссылку на создание нового пароля Вы получите по электронной почте</span>

    <div class="reset_password-form">
        <form id="reset-form" action="/mail/reset_pass" method="post" name="reset_password_Form">
                <input class="neat-input" type="email" name="reset_mail" placeholder="E-mail" />
                    <button class="neat-button reset_button" type="submit">СБРОСИТЬ ПАРОЛЬ</button>
        </form>
    </div>
</div>