<header>
    <div id="main-header">
        <div class="main-header_actions">
            <a href="/" id="main-headr__logo"></a>
            <a href="#" class="mobile_menu"></a>
        </div>
        <div id="main-header__middle-wrapper">
            <div id="main-header__middle-wrapper_top">
                <nav id="header__about-nav">
                    <ul>
                        <li><a href="/about" class="header__about-nav_current">О КОМПАНИИ</a></li>
                        <li><a href="/idea-for-home">ИДЕИ ДЛЯ ДОМА</a></li>
                        <li><a href="/contacts">КОНТАКТЫ</a></li>
                    </ul>
                </nav>
                <a href="#" class="tablet_menu"></a>
                <div class="search_holder">
                    <input class="search_box" type="text" placeholder="Поиск" />
                    <ul class="search__result"></ul>
                </div>
            </div>
            <div id="main-header__middle-wrapper_bottom">
                <nav id="header__categories-nav">
                    <ul class="header__categories-nav_list">
                        <li><a href="/products/kitchen">КУХНИ</a></li>
                        <li><a href="/products/bedroom">СПАЛЬНИ</a></li>
                        <li><a href="/products/soft">МЯГКАЯ</a></li>
                        <li><a href="/products/living">ГОСТИНЫЕ</a></li>
                        <li><a href="/products/dining">СТОЛОВЫЕ</a></li>
                        <li><a href="#">СВЕТ</a>
                            <div class="sub-dir_box chandelier">
                                <div class="sub-dir_img"><img src="/img/sub_dir_light.png"></div>
                                <div class="sub-dir_categories">
                                    <ul class="sub-dir_links">
                                        <li><a href="/products/sub_chandelier">ЛЮСТРЫ</a></li>
                                        <li><a href="/products/sub_bra">БРА</a></li>
                                        <li><a href="/products/sub_torcher">ТОРШЕРЫ</a></li>
                                        <li><a href="/products/sub_lamp">ЛАМПЫ НАСТОЛЬНЫЕ</a></li>
                                    </ul><a class="sub-dir_all" href="/products/chandelier">СМОТРЕТЬ ВСЕ</a></div>
                            </div>
                        </li>
                        <li><a href="#">САНТЕХНИКА</a>
                            <div class="sub-dir_box sanitary">
                                <div class="sub-dir_img"><img src="/img/sub_dir_sanitary.png"></div>
                                <div class="sub-dir_categories">
                                    <ul class="sub-dir_links">
                                        <li><a href="/products/sub_san_furniture">МЕБЕЛЬ ДЛЯ ВАННОЙ</a></li>
                                        <li><a href="/products/sub_bathroom">ВАННЫ</a></li>
                                        <li><a href="/products/sub_cabins">ДУШЕВЫЕ КАБИНЫ</a></li>
                                        <li><a href="/products/sub_faience">САНФАЯНС</a></li>
                                        <li><a href="/products/sub_faucets">СМЕТИТЕЛИ</a></li>
                                        <li><a href="/products/sub_dryers">ПОЛОТЕНЦЕСУШИТЕЛИ</a></li>
                                        <li><a href="/products/sub_accesories">АКСЕССУАРЫ</a></li>
                                        <li><a href="/products/sub_tile">КЕРАМИЧЕСКАЯ ПЛИТКА</a></li>
                                    </ul><a class="sub-dir_all" href="/products/sanitary">СМОТРЕТЬ ВСЕ</a></div>
                            </div>
                        </li>
                        <li><a href="/products/accessories">АКСЕССУАРЫ</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div id="main-headr__user-actions">
            <nav id="main-headr__user-actions_enter">
                <ul>
                    @{if user !== null}
                    <li><a href="/user/@{user.login}/">@{user.login}</a></li>
                    <li><a href="#" onclick="logout()">Выйти</a></li>
                    <input id="user_id" type="hidden" value="@{user.id}" /> @{else}
                    <li><a href="#login_modal" class="open_modal">Войти</a></li>
                    <li><a href="#register_modal" class="open_modal">Регистрация</a></li>
                    @{fi}
                </ul>
            </nav>
            <a href="#" id="main-headr__user-actions_favorites" onclick="viewMyFavorites()"></a>
            <div class="main-headr__user-actions_phone">+38 (067) 329 08 45</div>
        </div>
    </div>
</header>