<header>
    <div id="product-header">
        <a href="/" id="product-header__logo"></a>
        <div id="product-header__wrapper">
            <nav class="header__categories-nav">
                <ul class="header__categories-nav_list">
                    <li><a href="#">КУХНИ</a>
                        <div class="sub-dir_box kitchen">
                            <div class="sub-dir_img"><img src="/img/sub_dir.png"></div>
                            <div class="sub-dir_categories">
                                <ul class="sub-dir_links">
                                    <li><a href="#">КУХНИ 1</a></li>
                                    <li><a href="#">КУХНИ 2</a></li>
                                    <li><a href="#">КУХНИ 3</a></li>
                                    <li><a href="#">КУХНИ 4</a></li>
                                </ul><a class="sub-dir_all" href="/products/kitchen">СМОТРЕТЬ ВСЕ</a></div>
                        </div>
                    </li>
                    <li><a href="#">СПАЛЬНИ</a>
                        <div class="sub-dir_box bedroom">
                            <div class="sub-dir_img"><img src="/img/sub_dir.png"></div>
                            <div class="sub-dir_categories">
                                <ul class="sub-dir_links">
                                    <li><a href="#">СПАЛЬНИ 1</a></li>
                                    <li><a href="#">СПАЛЬНИ 2</a></li>
                                    <li><a href="#">СПАЛЬНИ 3</a></li>
                                    <li><a href="#">СПАЛЬНИ 4</a></li>
                                </ul><a class="sub-dir_all" href="/products/bedroom">СМОТРЕТЬ ВСЕ</a></div>
                        </div>
                    </li>
                    <li><a href="#">МЯГКАЯ</a>
                        <div class="sub-dir_box soft">
                            <div class="sub-dir_img"><img src="/img/sub_dir.png"></div>
                            <div class="sub-dir_categories">
                                <ul class="sub-dir_links">
                                    <li><a href="#">МЯГКАЯ 1</a></li>
                                    <li><a href="#">МЯГКАЯ 2</a></li>
                                    <li><a href="#">МЯГКАЯ 3</a></li>
                                    <li><a href="#">МЯГКАЯ 4</a></li>
                                </ul><a class="sub-dir_all" href="/products/soft">СМОТРЕТЬ ВСЕ</a></div>
                        </div>
                    </li>
                    <li><a href="#">ГОСТИНЫЕ</a>
                        <div class="sub-dir_box living">
                            <div class="sub-dir_img"><img src="/img/sub_dir.png"></div>
                            <div class="sub-dir_categories">
                                <ul class="sub-dir_links">
                                    <li><a href="#">ГОСТИНЫЕ 1</a></li>
                                    <li><a href="#">ГОСТИНЫЕ 2</a></li>
                                    <li><a href="#">ГОСТИНЫЕ 3</a></li>
                                    <li><a href="#">ГОСТИНЫЕ 4</a></li>
                                </ul><a class="sub-dir_all" href="/products/living">СМОТРЕТЬ ВСЕ</a></div>
                        </div>
                    </li>
                    <li><a href="#">СТОЛОВЫЕ</a>
                        <div class="sub-dir_box dining">
                            <div class="sub-dir_img"><img src="/img/sub_dir.png"></div>
                            <div class="sub-dir_categories">
                                <ul class="sub-dir_links">
                                    <li><a href="#">СТОЛОВЫЕ 1</a></li>
                                    <li><a href="#">СТОЛОВЫЕ 2</a></li>
                                    <li><a href="#">СТОЛОВЫЕ 3</a></li>
                                    <li><a href="#">СТОЛОВЫЕ 4</a></li>
                                </ul><a class="sub-dir_all" href="/products/dining">СМОТРЕТЬ ВСЕ</a></div>
                        </div>
                    </li>
                    <li><a href="#">СВЕТ</a>
                        <div class="sub-dir_box chandelier">
                            <div class="sub-dir_img"><img src="/img/sub_dir.png"></div>
                            <div class="sub-dir_categories">
                                <ul class="sub-dir_links">
                                    <li><a href="#">ЛЮСТРЫ</a></li>
                                    <li><a href="#">БРА</a></li>
                                    <li><a href="#">ТОРШЕРЫ</a></li>
                                    <li><a href="#">ЛАМПЫ НАСТОЛЬНЫЕ</a></li>
                                </ul><a class="sub-dir_all" href="/products/chandelier">СМОТРЕТЬ ВСЕ</a></div>
                        </div>
                    </li>
                    <li><a href="#">САНТЕХНИКА</a>
                        <div class="sub-dir_box sanitary">
                            <div class="sub-dir_img"><img src="/img/sub_dir.png"></div>
                            <div class="sub-dir_categories">
                                <ul class="sub-dir_links">
                                    <li><a href="#">САНТЕХНИКА 1</a></li>
                                    <li><a href="#">САНТЕХНИКА 2</a></li>
                                    <li><a href="#">САНТЕХНИКА 3</a></li>
                                    <li><a href="#">САНТЕХНИКА 4</a></li>
                                </ul><a class="sub-dir_all" href="/products/sanitary">СМОТРЕТЬ ВСЕ</a></div>
                        </div>
                    </li>
                    <li><a href="#">АКСЕССУАРЫ</a>
                        <div class="sub-dir_box accessories">
                            <div class="sub-dir_img"><img src="/img/sub_dir.png"></div>
                            <div class="sub-dir_categories">
                                <ul class="sub-dir_links">
                                    <li><a href="#">АКСЕССУАРЫ 1</a></li>
                                    <li><a href="#">АКСЕССУАРЫ 2</a></li>
                                    <li><a href="#">АКСЕССУАРЫ 3</a></li>
                                    <li><a href="#">АКСЕССУАРЫ 4</a></li>
                                </ul><a class="sub-dir_all" href="/products/accessories">СМОТРЕТЬ ВСЕ</a></div>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="search_holder">
                <input id="search_box" type="text" placeholder="Поиск" />
                <ul class="search__result"></ul>
            </div>
            <a href="#" class="mobile_menu"></a>
        </div>
        @{if user !== null}
            <input id="user_id" type="hidden" value="@{user.id}" />
            <a href="#" id="product-headr__actions" class="active" onclick="logout()"></a>
        @{else}
            <a href="#login_modal" id="product-headr__actions" class="open_modal"></a>
        @{fi}
        <a href="#" id="product-headr__favorites" onclick="viewMyFavorites()"></a>
    </div>
</header>