<header class="minified-header">
    <div id="product-header">
        <a href="/" id="product-header__logo"></a>
        <div id="product-header__wrapper">
            <nav class="header__categories-nav">
                <ul class="header__categories-nav_list">
                    <li><a href="/products/kitchen">КУХНИ</a></li>
                    <li><a href="/products/bedroom">СПАЛЬНИ</a></li>
                    <li><a href="/products/soft">МЯГКАЯ</a></li>
                    <li><a href="/products/living">ГОСТИНЫЕ</a></li>
                    <li><a href="/products/dining">СТОЛОВЫЕ</a></li>
                    <li><a>СВЕТ</a>
                        <div class="sub-dir_box chandelier">
                            <div class="sub-dir_img"><img src="/img/sub_dir_light.png"></div>
                            <div class="sub-dir_categories">
                                <ul class="sub-dir_links">
                                    <li><a href="/products/sub_chandelier">ЛЮСТРЫ</a></li>
                                    <li><a href="/products/sub_bra">БРА</a></li>
                                    <li><a href="/products/sub_torcher">ТОРШЕРЫ</a></li>
                                    <li><a href="/products/sub_lamp">ЛАМПЫ НАСТОЛЬНЫЕ</a></li>
                                </ul><a class="sub-dir_all" href="/products/chandelier">СМОТРЕТЬ ВСЕ</a></div>
                        </div>
                    </li>
                    <li><a>САНТЕХНИКА</a>
                        <div class="sub-dir_box sanitary">
                            <div class="sub-dir_img"><img src="/img/sub_dir_sanitary.png"></div>
                            <div class="sub-dir_categories">
                                <ul class="sub-dir_links">
                                    <li><a href="/products/sub_san_furniture">МЕБЕЛЬ ДЛЯ ВАННОЙ</a></li>
                                    <li><a href="/products/sub_bathroom">ВАННЫ</a></li>
                                    <li><a href="/products/sub_cabins">ДУШЕВЫЕ КАБИНЫ</a></li>
                                    <li><a href="/products/sub_faience">САНФАЯНС</a></li>
                                    <li><a href="/products/sub_faucets">СМЕТИТЕЛИ</a></li>
                                    <li><a href="/products/sub_dryers">ПОЛОТЕНЦЕСУШИТЕЛИ</a></li>
                                    <li><a href="/products/sub_accesories">АКСЕССУАРЫ</a></li>
                                    <li><a href="/products/sub_tile">КЕРАМИЧЕСКАЯ ПЛИТКА</a></li>
                                </ul><a class="sub-dir_all" href="/products/sanitary">СМОТРЕТЬ ВСЕ</a></div>
                        </div>
                    </li>
                    <li><a href="/products/accessories">АКСЕССУАРЫ</a></li>
                </ul>
            </nav>
            <div class="search_holder">
                <input class="search_box" type="text" placeholder="Поиск" />
                <ul class="search__result"></ul>
            </div>
            <a href="#" class="mobile_menu"></a>
        </div>
        @{if user !== null}
            <input id="user_id" type="hidden" value="@{user.id}" />
            <a href="#" id="product-headr__actions" class="active" onclick="logout()"></a>
        @{else}
            <a href="#login_modal" id="product-headr__actions" class="open_modal"></a>
        @{fi}
        <a href="#" id="product-headr__favorites" onclick="viewMyFavorites()"></a>
    </div>
</header>