<head>
    <!--@{head('http://cdn.jsdelivr.net/jquery.slick/1.3.7/slick.css')}-->
    @{head('http://code.jquery.com/jquery-1.11.0.min.js')}
    <!--@{head('http://code.jquery.com/jquery-migrate-1.2.1.min.js')}
    @{head('http://cdn.jsdelivr.net/jquery.slick/1.3.7/slick.min.js')}-->

    @{import('temp_style.css')}
    @{head('user_auth.js')}
</head>


<div id="content-wrapper">
    <a href="#" onclick="register(); return false">Register</a>
    <div id="register-form">
        <form id="reg-form" action="#">
            <table>
                <tr><td>Login: </td><td><input name="login" type="text" /></td></tr>
                <tr><td>Password: </td><td><input name="pass" type="password" /></td></tr>
                <tr><td>Password 2: </td><td><input name="pass2" type="password" /></td></tr>
                <tr><td>Email: </td><td><input name="email" type="email" /></td></tr>
                <tr><td>Common User: </td><td><input type="radio" name="group" value="user"></td></tr>
                <tr><td>Designer: </td><td><input type="radio" name="group" value="designer"><br></td></tr>
            </table>
        </form>
        <button>Submit</button>
    </div>
</div>