<head>
    @{head('http://code.jquery.com/jquery-1.11.0.min.js')}
    @{head('product_client.js')}
    @{import('temp_style.css')}
</head>

<div id="content-wrapper">
    <table>
        <tr><td>Product info</td><td>Edit</td><td>Delete</td></tr>
        @{foreach product in model.products}
        <tr><td><a href="/products/@{product.id}">@{product.name}</a></td><td>@{product.price}</td><td onclick="delete_p('@{product.id}')">X</td></tr>
        @{end}
    </table>
    <a href="/products/create">Add New</a>
</div>