@{layout('/layouts/contacts/layout')}

<div id="content">
    <div class="contacts-map">
        <div id="container-contacts-text">
            <div class="title-contacts">
                <span class="text-contacts">Контакты</span>
            </div>
        </div>
        <div class="contacts-img-map">
            <img src="img/contacts-map.png">
        </div>
    </div>
    <div class="contacts-kiev">
        <div class="kiev-title">
            <span>КИЕВ</span>
        </div>
        <div class="kiev-cont-1">
            <div class="cont-img">
                <img src="img/kiev-cont-1.png">
                <div class="dark-layer"></div>
            </div>
            <div class="cont-text">
                <span class="cont-text-title">FREEDOM INTERIOR</span>
                <span>
                    пр. Победы, 7<br>
                    +38 044 238 01 81<br>
                    +38 067 325 41 80<br>
                </span>
                <span>
                    Пн - Сб: с 10-00 до 19-00<br>
                    Вс: выходной
                </span>
            </div>
        </div>
        <div class="kiev-cont-2">
            <div></div>
            <div></div>
        </div>
        <div class="kiev-cont-3">
            <div></div>
            <div></div>
        </div>
        <div class="kiev-cont-4">
            <div></div>
            <div></div>
        </div>
        <div class="kiev-cont-5">
            <div></div>
            <div></div>
        </div>
        <div class="kiev-cont-6">
            <div></div>
            <div></div>
        </div>
    </div>
</div>