header {
    font-family:'Roboto Light', sans-serif;
    background-color: #2a2a2a;
    width:100%;
    height:115px;
}

#idea-header{
    max-width:1435px;
    margin:0 auto;
}

#idea-header__logo {
    float:left;
    width:342px;
    min-width:342px;
    height:180px;
    background: url(../img/logo-main.png) no-repeat center;
    transform: translateY(-10px);
}

.tablet_menu{
    display: none;
    background: url(../img/nav_icon.png) no-repeat center;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: auto;
    background-color: #e8ebef;
}

.tablet_menu::before{
    content: "";
    width: 10px;
}

.mobile_menu{
    display: none;
    width: 30px;
    height: 30px;
    margin: 15px 20px 0px 0px;
    float: right;

    background: url(../img/nav_icon.png) no-repeat center;
}

#idea-header__middle-wrapper{
    float:left;
    max-width:685px;
    width:100%;
    margin-left:60px;
}

#idea-header__middle-wrapper_top,
#idea-header__middle-wrapper_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#idea-header__middle-wrapper_top{
    padding:20px 0 0 0;
}

#idea-header__middle-wrapper_bottom {
    padding: 33px 0 0 0;
}

#search_box {
    height: 30px;
    background: #e8ebef;
    background-image: url(../img/searchicon.png);
    background-position-x: 95%;
    background-position-y: center;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 245px;
    z-index: 1;
    text-indent: 10px;
}

#search_box::-webkit-input-placeholder { 
    color: #000;
    padding-left: 0px;
}

.search__result{
    top:100px;
}

#idea-header__user-actions {
    float: right;
    padding: 22px 0 0 0;
    width: 245px;
    min-width: 165px;
    margin-right: 30px;
}
.idea-header__user-actions_phone{
    font-size: 19px;
    letter-spacing: 1px;
    text-align: end;
    width: 100%;
    white-space: nowrap;
}

nav ul {
    list-style-type: none;
}

nav ul li{
    /*display:inline-block;*/
    float:left;
}

nav ul li a {
    color:#fff;
    text-decoration:none;
    font-size: 12px;
    letter-spacing: 0px;
}

#header__about-nav ul li a {
    color: #9ba3aa;
}

#header__about-nav ul li a:hover {
    color: #ed1c24;
}

.header__categories-nav_list>li>a:hover {
    padding-bottom: 21px;
    border-bottom: 4px solid #ed1c24;
}

.idea-header__user-actions_phone {
    color: #e8ebef;
}

#header__categories-nav,
#header__about-nav{
    width:100%;
}

#header__about-nav{
    max-width: 310px;
    padding-right: 40px;
}

#header__categories-nav ul,
#header__about-nav ul{
    justify-content: space-between;
    display: flex;
}

#idea-header__user-actions nav{
    line-height: 20px;
}

.search_holder{
    width: 100%;
    max-width: 245px;
    margin-top: 20px;
}

.sub-dir_box.chandelier {
    transform: translate(-456px, 24px);
}
.sub-dir_box.sanitary{
    transform: translate(-408px, 24px);
}

/*----------------------- Media ------------*/

@media screen and (max-width: 1475px){
    #idea-header__user-actions {
        min-width: 245px;
    }
}



@media screen and (max-width: 1400px){
    #idea-header__middle-wrapper{
        margin-left: 0px;
        padding-left: 10px;
        padding-right: 10px;
        float: none;
    }

    #idea-header{
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 1525px)
              and (min-width: 1200px){
                .search__result{
                        transform: translateX(-60px);
                }
}

@media screen and (max-width: 1200px)
              and (min-width: 950px){
    #idea-header__logo {
        width:171px;
        min-width:171px;
        height:90px;
        background: url(../img/logo-main_tablet.png) no-repeat center;
    }

    header{
        height: 50px;
    }

    #idea-header__user-actions{
        padding: 15px 0px 0px 0px;
        min-width: 245px;
        margin-right: 70px;
    }

    .idea-header__user-actions_phone{
        display: none;
    }

    #idea-header__middle-wrapper{
        max-width: 580px;
    }

    #idea-header__middle-wrapper_top,
    #idea-header__middle-wrapper_bottom {
    padding: 15px 0 0 0;
    }

    #idea-header__middle-wrapper{
        max-width: 580px;
    }

    #idea-header__middle-wrapper_bottom{
        display: none;
        float: right;
        width: 135px;
        right: 0;
        position: absolute;
    }

    .header__categories-nav_list>li{
        padding-left: 10px;
        border-left: 4px solid transparent;
    }

    .header__categories-nav_list>li:hover{
        border-left: 4px solid #ed1c24;
    }

    .header__categories-nav_list>li>a:hover {
        border-bottom: none;
    }

    #header__about-nav{
        padding-right: 10px;
    }

    .tablet_menu{
        position: absolute;
        float: right;
        margin-left: auto;
        display: flex;
        right: 0;
        min-width: 30px;
    }

    #header__categories-nav>ul{
        flex-direction: column;
        position: absolute;
        width: 135px;
        background-color: #2a2a2a;
    }

    #idea-header__user-actions nav {
        margin-top: 0px; 
    }

    .search__result {
        top: 50px;
    }

    .search_holder{
        margin-right: 0px;
        margin-top: -5px;
    }

    .sub-dir_box.chandelier {
        transform: translate(-499px, -113px);
    }

    .sub-dir_box.sanitary {
        transform: translate(-499px, -132px);
    }
}

@media screen and (max-width: 950px){
    #idea-header__logo {
        width:114px;
        min-width:114px;
        height:60px;
        background: url(../img/logo-main_mobile.png) no-repeat center;
        transform: unset;
    }

    header{
        height: 60px;
    }

    #idea-header__middle-wrapper,
    #idea-header__user-actions{
        display: none;
        margin-left: auto;
        background-color: #2a2a2a;
    }

    #idea-header__middle-wrapper_top{
        flex-direction: column-reverse;
    }

    .display_flex{
        display: flex !important;
    }

    .mobile_menu{
        display: block;
        background-color: #e8ebef;
    }

    #idea-header {
        flex-direction: column;
        position: relative;
    }

    #idea-header__middle-wrapper {
        width: 300px;
        height: 195px;
        position: relative;
        z-index: 1;
        padding-top: 10px;
    }

    #idea-header__middle-wrapper_top{
        padding: 0px;
    }

    #header__about-nav{
        padding: 0px;
        width: 100px;
        margin-right: auto;
        margin-bottom: auto;
        padding-top: 5px;
    }

    #header__about-nav ul,
    #header__categories-nav ul{
        flex-direction: column;
    }

    #search_box{
        max-width: 300px;
    }

    #idea-header__middle-wrapper_bottom{
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 45px;
        margin-left: 120px;
    }

    #idea-header__middle-wrapper_top{
        width: 100%;
        padding-top: 30px;
    }

    #idea-header__user-actions{
        position: relative;
        top: -155px;
        left: 0;
        padding-top: 30px;
        z-index: 1;
        margin-left: auto;
        padding: 0px;
        width: 120px;
        min-width: 0px;
        flex-direction: column;
        padding-right: 5px;
        margin-right: 5px;
    }

    .idea-header__user-actions_phone{
        padding: 0px;
        font-size: 11px;
    }

    .search_holder{
        position: absolute;
        top: -45px;
        right: 0;
        margin-top: 0px;
        width: 310px;
        max-width: 350px;
        margin-right: 0px;
    }

    #search_box{
        max-width: unset;
    }

    .search__result{
    top:35px;
    }

    .header__categories-nav_list>li>a{
        padding-left: 5px;
        border-left: 4px solid transparent;
    }

    .header__categories-nav_list>li>a:hover {
        padding-bottom: 0px;
        border-left: 4px solid #ed1c24;
        border-bottom: 0px solid transparent;
    }

    #header__categories-nav .sub-dir_box{
        padding: 0;
        height: auto;
        width: 320px;
    }

    #header__categories-nav .sub-dir_categories {
        margin-left: 5px;
    }

    .sub-dir_box.chandelier {
        transform: translate(-120px, 46px);
    }

    .sub-dir_box.sanitary {
        transform: translate(-120px, 27px);
    }
}

@media screen and (max-width: 950px){
    #search_box {
    max-width: 300px;
    display: block;
    margin-right: 5px;
    margin-top: 0px;
    margin-left: 5px;
    right: 0;
}
}