@font-face {
    font-family: RobotoLight;
    src: url(../fonts/Roboto/Roboto-Light.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Roboto-ThinItalic;
    src: url(../fonts/Roboto/Roboto-ThinItalic.ttf); /* Путь к файлу со шрифтом */
}


@font-face {
    font-family: Roboto-Medium;
    src: url(../fonts/Roboto/Roboto-Medium.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: RobotoSlab-Light;
    src: url(../fonts/Roboto/RobotoSlab-Light.ttf); /* Путь к файлу со шрифтом */
}




body {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #e8ebef;
}

#content {
    position: relative;
    margin-top: 2%;
    margin-left: 7%;
    margin-right: 7%;
    min-width: 900px;
}


.list-ideas .main-ideas {
    position: relative;
    height: 39vw;
}

.list-ideas .main-ideas img {
    width: 100%;
    position: absolute;
}

.list-ideas .main-ideas .cont {
    position: absolute;
    width: 90%;
    height: 100%;
    left: 9%;
}

.list-ideas .main-ideas .cont .main-title {
    position: absolute;
    z-index: 5;
    color: white;
    font-family: RobotoSlab-Light;
    font-size: 3vw;
    top: 13%;
}

.list-ideas .main-ideas .cont .cont-idea {
    position: absolute;
    top: 40%;
    width: 50%;
    height: 60%
}

.list-ideas .main-ideas .cont .cont-idea .title {
    position: absolute;
    z-index: 5;
    color: white;
    font-family: RobotoLight;
    font-size: 2.5vw;
    top: 0;
}

.list-ideas .main-ideas .cont .cont-idea .text{
    position: absolute;
    z-index: 5;
    color: white;
    font-family: RobotoLight;
    font-size: 1.1vw;
    top: 30%;
}

.list-ideas .main-ideas .cont .cont-idea .button {
    position: absolute;
    bottom: 30%;
}

.list-ideas .main-ideas .cont .cont-idea .button a {
    position: absolute;
    z-index: 5;
    color: white;
    font-family: RobotoLight;
    font-size: 1.5vw;
    bottom: 30%;
    white-space: nowrap;
}

.list-ideas .main-ideas .cont .cont-idea .button .border {
    visibility: hidden;
    border-bottom: 2px solid white;
    margin-bottom: 10px;
    position: absolute;
    display: inline-block;
    width: 100%;
    bottom: -1vw;
    left: 0;
}

.list-ideas .main-ideas .cont .cont-idea .button {
    cursor: pointer;
}

.list-ideas .main-ideas .cont .cont-idea .button:hover .border {
    visibility: visible;
}

.list-ideas .main-ideas .dark-layer {
    z-index: 3;
    opacity: 0.3;
    background: black;
    /* width: 100%; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.list-ideas .another-ideas {
    outline: 1px solid red;
    height: 70vw;
    position: relative;
}

.another-ideas .idea-item {
    position: absolute;
    width: 50px;
    height: 50px;
    outline: 1px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.another-ideas .idea-item img {
    position: absolute;
    z-index: 1;
}

.another-ideas .idea-item .img-1,
.another-ideas .idea-item .img-4,
.another-ideas .idea-item .img-5 {
    width: 100%;
}

.another-ideas .idea-item .img-2,
.another-ideas .idea-item .img-3,
.another-ideas .idea-item .img-6 {
    height: 100%;
}

.another-ideas .idea-item .title,
.another-ideas .idea-item .text,
.another-ideas .idea-item .button {
    z-index: 5;
    font-family: RobotoLight;
    color: white;
    font-size: 2vw;
    text-align: center;
}

.another-ideas .idea-item .dark-layer {
    z-index: 3;
    opacity: 0.3;
    background: black;
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
}





.another-ideas .idea-item:nth-child(1) .text, .another-ideas .idea-item:nth-child(1) .button,
.another-ideas .idea-item:nth-child(2) .text, .another-ideas .idea-item:nth-child(2) .button,
.another-ideas .idea-item:nth-child(3) .text, .another-ideas .idea-item:nth-child(3) .button,
.another-ideas .idea-item:nth-child(5) .text, .another-ideas .idea-item:nth-child(5) .button,
.another-ideas .idea-item:nth-child(6) .text, .another-ideas .idea-item:nth-child(6) .button {
    display: none;
}

.another-ideas .idea-item:nth-child(1),
.another-ideas .idea-item:nth-child(2),
.another-ideas .idea-item:nth-child(5),
.another-ideas .idea-item:nth-child(6) {
    width: 32%;
}

.another-ideas .idea-item:nth-child(3),
.another-ideas .idea-item:nth-child(4) {
    width: 36%;
    left: 50%;
    margin-left: -18%;
}

.another-ideas .idea-item:nth-child(1),
.another-ideas .idea-item:nth-child(4),
.another-ideas .idea-item:nth-child(5) {
    height: 75%;
}

.another-ideas .idea-item:nth-child(2),
.another-ideas .idea-item:nth-child(3),
.another-ideas .idea-item:nth-child(6) {
    height: 25%;
}



.another-ideas .idea-item:nth-child(1) {
    left: 0;
    top: 0;

}

.another-ideas .idea-item:nth-child(2) {
    left: 0;
    bottom: 0;

}

.another-ideas .idea-item:nth-child(3) {
    top: 0;
    outline: 1px solid gold;
}

.another-ideas .idea-item:nth-child(4) {
    bottom: 0;
    outline: 1px solid gold;
}

.another-ideas .idea-item:nth-child(5) {
    right: 0;
    top: 0;
}

.another-ideas .idea-item:nth-child(6) {
    right: 0;
    bottom: 0;
}