<div id="header-content">
    <div id="logo">
        <a href="/"><img class="logo_img" src="@{'logo3.png'}"></a>
</div>
    <nav class="global-nav">
        <div class="row1">
            <div id="nav-menu" class="ul">
                <a href="/products/kitchen"><div class="li">КУХНИ<div class="border"></div></div></a>
                <a href="/products/bedroom"><div class="li">СПАЛЬНИ<div class="border"></div></div></a>
                <a href="/products/soft"><div class="li">МЯГКАЯ<div class="border"></div></div></a>
                <a href="/products/living"><div class="li">ГОСТИНЫЕ<div class="border"></div></div></a>
                <a href="/products/dining"><div class="li">СТОЛОВЫЕ<div class="border"></div></div></a>
                <a href="/products/chandelier"><div class="li">ЛЮСТРЫ<div class="border"></div></div></a>
                <a href="/products/sanitary"><div class="li">САНТЕХНИКА<div class="border"></div></div></a>
                <a href="/products/accessories"><div class="li">АКСЕССУАРЫ<div class="border"></div></div></a>
            </div>
        </div>
        <div class="row2">
            <div class="search_block">
                <form>
                    <input type="text" placeholder="Поиск">
                    <button type="submit" class="search"><img src="@{'search.png'}" height="17"></button>
                </form>
            </div>
        </div>
    </nav>
    <div class="icon">
        <div class="man">
            <a href="#">
                <img class="man1" src="@{'profil.png'}">
                <img class="man2" src="@{'profil2.png'}">
            </a>
        </div>
        <div class="heart">
            <a href="#">
                <img class="heart1" src="@{'heart-1.png'}">
                <img class="heart2" src="@{'heart-2.png'}">
            </a>
        </div>
    </div>
</div>