@{layout('')}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--@{import('list-product-style.css')}-->
    @{import('list-product/content-style.css')}
    @{import('modal.css')}

    <meta charset="UTF-8">
    <title>Title</title>
    @{import('jquery-3.1.0.min.js')}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!--<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>-->
    @{import('list_product.js')}
    @{import('modal.js')}
    @{import('jquery.maskedinput.js')}
    @{import('search.js')}


</head>
<body>
    <div id="overlay"></div>
    @{view('modal/login')}
    <div id="header">
        @{view('layouts/compact/header')}
    </div>
    <div id="content">
        @{body}
    </div>
    <div id="footer">
        @{view('layouts/main/footer')}
    </div>
    <script>
        $('.dropdown .button').click(function (event) {
            $(event.currentTarget.parentElement).find('.popup').toggle();
        });

        $('.displays-the-page .button').click(function (event) {
            $(event.currentTarget).toggleClass('active');
        });
    </script>
</body>
</html>