@{layout('')}
<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <title>Title</title>
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <!--@{import('list-product-style.css')}-->
        @{import('idea-for-home-list/content-style.css')}
        @{import('contacts.css')}
        @{import('user_cabinet.css')}
    </head>
    <body>
        <div id="header">
            @{view('layouts/idea-for-home-list/header')}
        </div>
        @{body}
        <div id="footer">
            @{view('layouts/main/footer')}
        </div>
    </body>
</html>