#footer {
    position: relative;
    width: 100%;
    height: 290px;
    background: #292929;
}

.footer-content {
    position: relative;
    margin-left: 7%;
    margin-right: 7%;
    height: 100%;
    background: #292929;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-logo {
    display: inline-block;
    top: 0;
    bottom: 0;
}

.footer-logo_img {
    width: 19vw;
}

#footer-nav-menu {
    display: inline-block;
    /*margin-left: 100px;*/
    /*outline: 2px solid white;*/
    line-height: 1.3vw;
    font-family: RobotoLight;
}

#footer-about_company {
    display: inline-block;
    /*margin-left: 100px;*/
    /*outline: 2px solid magenta;*/
    line-height: 1.3vw;
    font-family: RobotoLight;
}

#footer-nav-menu .li a {
    font-size: 15px;
    font-family: RobotoLight;
    border-bottom: 2px;
}

#footer-nav-menu .li {
    border-bottom: 2px solid transparent;
}

#footer-about_company .li a {
    font-size: 15px;
    font-family: RobotoLight;
    border-bottom: 2px;
}

#footer-about_company .li {
    border-bottom: 2px solid transparent;
}

#footer-nav-menu .li:hover {
    display: inline-block;
    border-bottom: 2px solid red;
}

#footer-about_company .li:hover {
    display: inline-block;
    border-bottom: 2px solid red;
}

.img-footer {
    right: 0;
}

.social-inst,
.social-face {
    background: #454546;
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
}

.social-inst a,
.social-face a {
    width: 50px;
    height: 50px;
    display: block;
    position: relative;
    margin: 3px;
}

.social-inst img,
.social-face img {
    width: 70%;
    height: 70%;
    position: absolute;
    left: 15%;
    top: 15%;
    overflow: hidden;
}

/*.social-inst .background,*/
/*.social-face .background {*/
    /*width: 70%;*/
    /*height: 70%;*/
    /*position: absolute;*/
    /*left: 15%;*/
    /*top: 15%;*/
    /*border-radius: 10px;*/
/*}*/

.img-inst,
.img-face {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-filter: grayscale(100%); /* Safari */
    filter: grayscale(100%);
}

#s_inst:hover #i_inst,
#s_face:hover #i_face {
    /*border: 1px solid red;
    border-radius: 9px;*/
    -webkit-filter: none; /* Safari */
    filter: none;
}

/*.social-face:hover .img-face {
    border: 1px solid red;
    border-radius: 9px;
}*/

.footer-content .right-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65%;
}

.footer-content .right-block .social {
    display: flex;
    justify-content: center;
}

.footer-content .footer-logo,
.footer-content #footer-nav-menu,
.footer-content #footer-about_company,
.footer-content .right-block {
    margin-top: 50px;
}

.footer-content .img-footer-outlet {
    width: 25vw;
}

@media screen and (max-width: 1600px) {
    .footer-content .img-footer-outlet {
        width: 25vw;
    }
}

@media screen and (max-width: 1200px) {
    .footer-content .img-footer-outlet {
        width: 15vw;
    }
}

@media screen and (max-width: 900px) {
    .footer-content .img-footer-outlet {
        width: 10vw;
    }
    .footer-logo_img {
        width: 10vw;
    }
}