@{layout('/layouts/idea-for-home-list/layout')}
<head>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeCVF0-LF2T75pmOVD9nc33Gv7KTO9o1g"></script>
</head>

<div class="list-ideas">
    <div class="main-ideas">
        <img src="img/idea-0.png">
        <div class="cont">
            <div class="main-title">
                <span>ИДЕИ ДЛЯ ДОМА</span>
            </div>
            <div class="cont-idea">
                <div class="title">
                <span>
                    10 ПРОСТЫХ ИДЕЙ ДЛЯ<br>
                    НОВОГОДНЕГО ДЕКОРА<br>
                </span>
                </div>
                <div class="text">
                <span>
                    До новогодних и рождественских<br>
                    праздников осталось совсем <br>
                    чуть-чуть, так что всем, кто еще не<br>
                    успел или не придумал, как украсить<br>
                </span>
                </div>
                <div class="button">
                    <a>
                        <span>ЧИТАТЬ БОЛЬШЕ</span>
                        <span class="border"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="dark-layer"></div>
    </div>
    <div class="another-ideas">
        <div class="idea-item">
            <img class="img-1" src="img/idea-1.png">
            <div class="title">
                <span>
                    СОЗДАНИЕ <br>
                    ГЕОМЕТРИЧЕСКИХ<br>
                    РАБОТ
                </span>
            </div>
            <div class="text">
                <span>asdf</span>
            </div>
            <div class="button">
                <span>asdf</span>
            </div>
            <div class="dark-layer"></div>
        </div>
        <div class="idea-item">
            <img class="img-2" src="img/idea-2.png">
            <div class="title">
                <span>
                    В ПРОСТОТЕ<br>
                    ВСЯ СИЛА
                </span>
            </div>
            <div class="text">
                <span>asdf</span>
            </div>
            <div class="button">
                <span>asdf</span>
            </div>
            <div class="dark-layer"></div>
        </div>
        <div class="idea-item">
            <img class="img-3" src="img/idea-3.png">
            <div class="title">
                <span>
                    В ПРОСТОТЕ<br>
                    ВСЯ СИЛА
                </span>
            </div>
            <div class="text">
                <span>asdf</span>
            </div>
            <div class="button">
                <span>asdf</span>
            </div>
            <div class="dark-layer"></div>
        </div>
        <div class="idea-item">
            <img class="img-4" src="img/idea-4.png">
            <div class="title">
                <span>
                    СОЗДАНИЕ <br>
                    ГЕОМЕТРИЧЕСКИХ<br>
                    РАБОТ
                </span>
            </div>
            <div class="text">
                <span>
                    До новогодних и рождественских<br>
                    праздников осталось совсем <br>
                    чуть-чуть, так что всем, кто еще не<br>
                    успел или не придумал, как украсить<br>
                </span>
            </div>
            <div class="button">
                <a>
                    <span>ЧИТАТЬ БОЛЬШЕ</span>
                    <span class="border"></span>
                </a>
            </div>
            <div class="dark-layer"></div>
            <div class="img-border"></div>
        </div>
        <div class="idea-item">
            <img class="img-5" src="img/idea-5.jpg">
            <div class="title">
                <span>
                    СОЗДАНИЕ <br>
                    ГЕОМЕТРИЧЕСКИХ<br>
                    РАБОТ
                </span>
            </div>
            <div class="text">
                <span>asdf</span>
            </div>
            <div class="button">
                <span>asdf</span>
            </div>
            <div class="dark-layer"></div>
        </div>
        <div class="idea-item">
            <img class="img-6" src="img/idea-6.jpg">
            <div class="title">
                <span>
                    БЕЛЫЕ КОРОЛИ
                </span>
            </div>
            <div class="text">
                <span>asdf</span>
            </div>
            <div class="button">
                <span>asdf</span>
            </div>
            <div class="dark-layer"></div>
        </div>
    </div>
</div>
<div id="content">
    <div class="more-ideas">
        <div class="title-cont">
            <div class="text-more-ideas-comtainer">
                <div class="border-text-more-ideas">
                    <span>Больше идей</span>
                </div>
            </div>
        </div>

        <div class="more-ideas-item">
            <div class="more-ideas-item1">
                <div class="more-ideas-img">
                    <img src="/img/idea-img-circle.png">
                </div>
                <div class="more-ideas-title">
                <span>
                    ТЕПЛО, ЕЩЕ ТЕПЛЕЕ. 10 ИДЕЙ НОВОГОДНЕГО <br>
                    ОФОРМЛЕНИЯ КАМИНА
                </span>
                </div>
            </div>
            <div class="more-ideas-item2">
                <div class="more-ideas-img">
                    <img src="/img/idea-img-circle.png">
                </div>
                <div class="more-ideas-title">
                <span>
                    ТЕПЛО, ЕЩЕ ТЕПЛЕЕ. 10 ИДЕЙ НОВОГОДНЕГО <br>
                    ОФОРМЛЕНИЯ КАМИНА
                </span>
                </div>
            </div>
            <div class="more-ideas-item3">
                <div class="more-ideas-img">
                    <img src="/img/idea-img-circle.png">
                </div>
                <div class="more-ideas-title">
                <span>
                    ТЕПЛО, ЕЩЕ ТЕПЛЕЕ. 10 ИДЕЙ НОВОГОДНЕГО <br>
                    ОФОРМЛЕНИЯ КАМИНА
                </span>
                </div>
            </div>
            <div class="more-ideas-item4">
                <div class="more-ideas-img">
                    <img src="/img/idea-img-circle.png">
                </div>
                <div class="more-ideas-title">
                <span>
                    ТЕПЛО, ЕЩЕ ТЕПЛЕЕ. 10 ИДЕЙ НОВОГОДНЕГО <br>
                    ОФОРМЛЕНИЯ КАМИНА
                </span>
                </div>
            </div>
            <div class="more-ideas-item5">
                <div class="more-ideas-img">
                    <img src="/img/idea-img-circle.png">
                </div>
                <div class="more-ideas-title">
                <span>
                    ТЕПЛО, ЕЩЕ ТЕПЛЕЕ. 10 ИДЕЙ НОВОГОДНЕГО <br>
                    ОФОРМЛЕНИЯ КАМИНА
                </span>
                </div>
            </div>
            <div class="more-ideas-item6">
                <div class="more-ideas-img">
                    <img src="/img/idea-img-circle.png">
                </div>
                <div class="more-ideas-title">
                <span>
                    ТЕПЛО, ЕЩЕ ТЕПЛЕЕ. 10 ИДЕЙ НОВОГОДНЕГО <br>
                    ОФОРМЛЕНИЯ КАМИНА
                </span>
                </div>
            </div>
        </div>
    </div>

</div>

